<!-- Modal Structure -->
<div id="modal1" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-content">
            <h4 *ngIf="leitor.id == 0">Cadastrar</h4>
            <h4 *ngIf="leitor.id != 0">Editar</h4>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <div class="input-field col s12">
                        <input id="nome" name="nome" minlength="4" maxlength="100" type="text" class="validate" [(ngModel)]="leitor.nome">
                        <label [ngClass]="{'active': leitor?.nome}" for="nome">Nome Completo*</label>
                    </div>
                </div>
                <div class="row col s12 m12 l12 xl12">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="nick" name="nick" minlength="4" maxlength="100" type="text" class="validate" [(ngModel)]="leitor.nick">
                        <label [ngClass]="{'active': leitor?.nick}" for="nick">Nick*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="email" name="email" type="email" minlength="10" class="validate" [(ngModel)]="leitor.email">
                        <label [ngClass]="{'active': leitor?.email}" for="email">Email*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">            
                        <input id="nascimento" name="nascimento" type="text" class="validate" [ngModel]="leitor.nascimento | date:'dd/MM/yyyy' " (ngModelChange)="leitor.vaue=$event">
                        <label [ngClass]="{'active': leitor?.nascimento}" for="nascimento">Data de Nascimento*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right">
                        <select name="sexo" materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="leitor.sexo">
                            <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                        </select>
                        <label for="sexo">Sexo*</label>
                    </div>
                </div>
                <div class="row" *ngIf="leitor.id == 0">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="senha" name="senha" type="password" class="validate" [(ngModel)]="leitor.senha">
                        <label for="senha">Senha*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="confirm-senha" name="confirm-senha" type="password" class="validate" ngModel>
                        <label for="confirm-senha">Confirmar Senha*</label>
                    </div>
                </div>
                <input name="src_foto" type="text" hidden [(ngModel)]="leitor.src_foto">
            </div>
        </div>
        <div class="modal-footer">
            <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</button>
        </div>
    </form> 
</div>
<div class="title">
    <i class="material-icons">view_list</i> Leitores
</div> 

<div class="row">
    <div class="col s12 m12 l4 xl2">
        <a class="modal-trigger" (click)="openModal()">
            <div class="btn new">
                Novo
            </div>
        </a>
    </div>
    <div class="col s12 m12 l8 xl10 search">
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" name="filtro" type="search" [(ngModel)]="filtro">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>

<ul class="collapsible list">
    <li>
        <div class="list-item header">
            <div class="col s3 m3 l3 xl3 item">
                Usuário
            </div>
            <div class="col s4 m4 l4 xl4 item">
                Nome
            </div>
            <div class="col s3 m3 l3 xl3 item">
                Email
            </div>
            <div class="option-icons col s2 m2 l2 xl2 right-align item">
                <div class="margin-right-1">Editar</div>
            </div>
        </div>
    </li>
    
    <li *ngFor="let l of listLeitores() | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
        <div class="list-item option-icons">
            <div class="col s3 m3 l3 xl3 item">
                {{l.nick}}
            </div>
            <div class="col s4 m4 l4 xl4 item">
                {{l.nome}}
            </div>
            <div class="col s3 m3 l3 xl3 item">
                {{l.email}}
            </div>
            <div class="option-icons col s2 m2 l2 xl2">
                <i class="material-icons" (click)="openModalEdit(l)">mode_edit</i>
            </div>
        </div>
    </li>
</ul>

<ul class="pages">
    <li>
        <pagination-controls (pageChange)="page = $event" id="1"
            maxSize="5"
            directionLinks="true"
            autoHide="false"
            previousLabel=""
            nextLabel="">
        </pagination-controls>
    </li>
</ul>
