<div class="categoria">
    <div class="container">
        <div class="topico">
            <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
                <li class="menu tab col s3">
                    <a href="#page1" class=" active">
                    Tudo
                    </a>
                </li>
                <li class="menu tab col s3">
                    <a href="#page2">
                    Pessoas
                    </a>
                </li>
                <li class="menu tab col s3">
                    <a href="#page3">
                    Publicações
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<app-lista></app-lista>
