<!--<div class="esqueci-senha">

    <div class="container">

        <div class="area">
        -->
<div class="modal-content">
    <div class="title">
        <span> Esqueci Senha  </span>
        <a click="#" class=" modal-action modal-close close">X</a>
    </div>
    <div *ngIf="!enviado">
        <div class="login-modal">
            <div class="login-container login-container2">
                <!--<input type="text" class="input" maxlength="30" name="marca" readonly placeholder="joao@hotmail.com">-->
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <input type="text" class="input" maxlength="30" formControlName="email" name="email" placeholder="E-mail">

                    <input type="text" class="input" maxlength="30" formControlName="confirma" name="confirma" placeholder="Confirmar e-mail">

                    <span class='error'>{{mensagem}}</span>

                    <button type="submit" class="button">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf='loading'></i>   
                        Enviar 
                    </button>
                </form>    
            </div>
        </div>
    </div>
    <div *ngIf="enviado">
        <div class="login-modal">
            <div class="container">
                <p class="mensagem">Verifique seu email para a recuperação da senha</p>
            </div>
        </div>
    </div>
</div>