<!--<div class="esqueci-senha">

    <div class="container">

        <div class="area">
        -->
            <div class="position">

            <p> Encontre sua conta  </p>

            <div class="info">

                <input type="text" class="input" maxlength="30" name="marca" readonly placeholder="joao@hotmail.com">

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <input type="text" class="input" maxlength="30" formControlName="email" name="marca" placeholder="e-mail">

                <input type="text" class="input" maxlength="30" formControlName="confirma" name="marca" placeholder="confirmar e-mail">

                <button type="submit" class="button"> Salvar </button>

                <button type="button" (click)="voltar()" class="button button2"> Voltar </button>
            </form>    

            </div>

            </div>

<!--        </div>

    </div>

</div>-->