<!--<div class="esqueci-senha">

    <div class="container">

        <div class="area">
        -->
<div class="modal-content">
        <div class="title">
                <span *ngIf="!spinner"> Esqueci Senha  </span>
                <a click="#" class=" modal-action modal-close close">X</a>
                <span *ngIf="spinner"> Enviando...</span>
        </div>
        <div *ngIf="!enviado">
            <div class="login-modal">
                <div class="login-container">
                    <!--<input type="text" class="input" maxlength="30" name="marca" readonly placeholder="joao@hotmail.com">-->
                    <form [formGroup]="formulario" *ngIf="!spinner" (ngSubmit)="onSubmit()">
                        <input type="text" class="input" maxlength="30" formControlName="email" name="marca" placeholder="e-mail">

                        <input type="text" class="input" maxlength="30" formControlName="confirma" name="marca" placeholder="confirmar e-mail">

                        <button type="submit" class="button"> Enviar </button>
                    </form>    
                    
                    <div class="spinner" *ngIf="spinner">
                        <div class="preloader-wrapper big active" >
                            <div class="spinner-layer spinner-rupt">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="enviado || erros?.length > 0">
            <div class="login-modal">
                <div class="container">
                    <span>{{mensagem}}</span>
                    <button type="button" (click)="voltar()" class="button button2"> Fechar </button>
                </div>
            </div>
        </div>
</div>