<div class="content col s12 m12 l12 xl10">		
    <div class="col col s12 m10 l12 xl10">
      <h4>
          Olá, Administrador
      </h4>

      quando não tiver a cor da div deve ser: grey darken-1

      <div class="row">
        <div class="col s12 m6 l4 xl4">
          <div class="card red darken-3">
            <div class="card-content white-text">
              <i class="material-icons">report_problem</i>
              <span class="card-title">
                Denúncias
              </span>
              <p>
                Existem 7 denúncias pendentes
              </p>
            </div>
          </div>
        </div>

				<div class="col s12 m6 l4 xl4">
					<div class="card green">
						<div class="card-content white-text">
              <i class="material-icons">person_add</i>
							<span class="card-title">
                Solicitações
              </span>
							<p>
                Existem 2 solicitações pendentes
              </p>
						</div>
					</div>
				</div>

        <div class="col s12 m6 l4 xl4">
					<div class="card blue darken-3">
						<div class="card-content white-text">
              <i class="material-icons">chat</i>
							<span class="card-title">
                Mensagens
              </span>
							<p>
                Existem 35 mensagens não lidas
              </p>
						</div>
					</div>
				</div>
      </div>
    </div>
</div>
