    <div class="modal-content">
    <!--
        <div class="title">
            Esqueci minha senha
            <a click="#" class=" modal-action modal-close close">X</a>
        </div>

        <div class="login-modal login-modal2">

            <div class="container">

                <p> Insira seu email para procurar sua conta. </p>
                <input type="text" class="input" maxlength="30" name="email"  placeholder="E-mail">

                <div class="error">
                    Sua busca não retornou nenhum resultado. Tente novamente com outras informações.
                </div>

                <div class="bottom-line">

                    <a (click)="redirectCadastro()"><button type="submit" class="button3 button4">Cancelar</button></a>

                    <a routerLink="esqueci-senha"><button type="submit" class="button3">Pesquisar</button></a>

                </div>

            </div>

        </div>
    -->

    <div class="title">
        Login
        <a click="#" class=" modal-action modal-close close">X</a>
    </div>

        <div class="login-modal">
            <div class="login-container">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                <img src="../../../assets/img/profile2.png" class="img">
                <input type="text" class="input" maxlength="30" name="email" formControlName="email" placeholder="E-mail">

                <img src="../../../assets/img/lock.png" class="img">
                <input type="password" class="input" maxlength="20" name="senha" formControlName="password" placeholder="Password">

                <div *ngIf="erro">
                    <div class="error col s12">{{ mensagemErro }}</div>
                </div>

                <button type="submit" class="button" id="submit-contato">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf='loading'></i>    
                    Entrar
                </button>

                <a (click)="openModalEsqSen()"><div class="text">Esqueceu a senha?</div></a>

            </form>
            </div>
        </div>

</div>