.social-medias{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.social-medias img{
    position: relative !important;
    left: 0 !important;
    height: 50px !important;
}

.media-title{
    display: block;
    width: 100%;
}