<div class="admin-menu-left col s12 m12 l3 xl2">
    <div class="navbar-left">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
            <a routerLink="home"><div class="collapsible-header"><i class="material-icons">home</i>Início</div></a>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">create</i>Cadastros<span *ngIf="notificacoes['escritores'] != 0" class="new badge">{{ notificacoes["escritores"] }}</span></div>
            <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                    <li routerLinkActive="active">
                      <a routerLink="administradores">
                        <div class="collapsible-header" ><i class="material-icons">keyboard_arrow_right</i>Administradores</div>
                      </a>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Categorias</div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Escritores<span *ngIf="notificacoes['escritores'] != 0" class="new badge">{{ notificacoes["escritores"] }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Leitores</div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">chat</i>Mensagens<span *ngIf="notificacoes['mensagens'] != 0" class="new badge">{{ notificacoes["mensagens"] }}</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">library_books</i>Posts<span *ngIf="notificacoes['denuncias'] != 0" class="new badge">{{ notificacoes["denuncias"] }}</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">equalizer</i>Relatórios</div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">power_settings_new</i>Sair</div>
        </li>
      </ul>
     </div>
</div>