<div class="admin-menu-left col s12 m12 l3 xl2">
		<div class="navbar-left">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><a routerLink="/admin"><i class="material-icons">home</i>Início</a></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">create</i>Cadastros</div>
            <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                    <li routerLinkActive="active">
                      <a routerLink="administradores">
                        <div class="collapsible-header" ><i class="material-icons">keyboard_arrow_right</i>Administradores</div>
                      </a>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Categorias</div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Colaboradores</div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Leitores</div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">chat</i>Mensagens</div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">library_books</i>Posts</div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">equalizer</i>Relatórios</div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">power_settings_new</i>Sair</div>
        </li>
      </ul>
     </div>
</div>