<div class="cadastro-escritor">

    <div class="container">

        <p> Progresso cadastro </p>

        <div class="progress">

            <!--  PRIMEIRA PARTE DO CADASTRO
            <div class="green"> </div>
            -->

            <!--  SEGUNDA PARTE DO CADASTRO
            <div class="green green2"> </div>
            -->

            <div class="green green3"> </div>

        </div>

            <div class="area">

                <!--  PRIMEIRA E SEGUNDA PARTE DO CADASTRO
                <p> Dados pessoais </p>
                -->

                <p> Dados bancários </p>

                <!-- SEGUNDA PARTE DO CADASTRO

                <div class="text"> Estamos quase lá..<br/>
                Precisamos de algumas fotos suas! É bem fácil, siga o exemplo apresentado abaixo.

                </div>

                <div class="img-area">

                    <p> 1. Foto - Frente do RG/Carteira de motorista  </p>

                    <img src="../../../assets/img/rg.png" class="img">

                    <input type="file" name="arquivo" id="txFoto" />

                </div>

                <div class="img-area">

                    <p> 2. Foto - Verso do RG/Carteira de motorista </p>

                    <img src="../../../assets/img/cpf.png" class="img">

                    <input type="file" name="arquivo" />

                </div>

                <div class="img-area">

                    <p> 3. Foto do usuário mais frente do RG/Carteira de motorista  </p>


                    <img src="../../../assets/img/pessoa_cpf.png" class="img">

                    <input type="file" name="arquivo" />


                </div>
                FINAL DA SEGUNDA PARTE
                -->


                <!-- PRIMEIRA PARTE DO CADASTRO

                <div class="text"> Olá, Nome_User. Para se tornar um escritor é necessário completar seu cadastro. <br/>
                    Preencha os campos abaixo corretamente que sua solicitação será enviada para avaliação. </div>

                <div class="menu">

                    <label> CPF </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Insira seu CPF">

                </div>

                <div class="menu">

                    <label> CEP </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Seu CEP">

                </div>

                <div class="menu">

                    <label> Endereço </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Digite seu endereço">

                </div>

                <div class="menu">

                    <label> Número </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Seu número residencial">

                </div>

                <div class="menu">

                    <label> Complemento </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Caso haja um">

                </div>

                <div class="menu">

                    <label> Cidade </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Sua cidade atual">

                </div>

                <div class="menu">

                    <label> Bairro </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Insira seu bairro">

                </div>
                FINAL DA PRIMEIRA PARTE
                -->

                <div class="menu">

                    <label> Banco </label>

                    <select name="carlist" class="input">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>

                </div>


                <div class="menu">

                    <label> Agência </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Sua agência">

                </div>


                <div class="menu">

                    <label> Conta </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Conta do seu banco">

                </div>


                <div class="menu">

                    <label> Nome favorecido </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Nome registrado no cartão">

                </div>


                <div class="menu">

                    <label> CPF </label>

                    <input type="text" class="input" maxlength="30" name="marca" placeholder="Seu CPF">

                </div>


            </div>

        <!--
        PRIMEIRA E SEGUNDA PARTE DO CADASTRO
        <button type="submit" class="button background-orange">Próximo</button>
        -->

        <button type="submit" class="button background-orange">Salvar</button>

        <!-- TERCEIRA PARTE DO CADASTRO-->
        <button type="submit" class="button background-green">Pular e Salvar</button>

        <button type="submit" class="button">Cancelar</button>



</div>



</div>