<div class="cadastro-escritor">

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="container">
        
        <p *ngIf="!leitor.escritor"> Progresso </p>

        <div [hidden]="page != 1">
            <div class="progress" *ngIf="!leitor.escritor">
                <div class="green"> </div>
            </div>   
            
            <div class="area">
                <p> Dados pessoais </p>

                <div class="text"> Olá, {{ leitor.nome }}. Para se tornar um escritor é necessário completar seu cadastro. <br/>
                    Preencha os campos abaixo corretamente que sua solicitação será enviada para avaliação. </div>

                <div class="menu">
                    <label> RG *</label>
                    <input type="text" class="input" maxlength="10" formControlName='rg' placeholder="Insira seu RG"
                    [ngClass]="{'invalid': verificaValidTouched('rg')}">

                    <div class="error" *ngIf="verificaValidTouched('rg')">RG inválido</div>
                </div>
                <div class="menu">
                    <label> CPF *</label>
                    <input type="text" class="input" maxlength="14" formControlName='cpf' mask='000.000.000-00' placeholder="Insira seu CPF"
                    [ngClass]="{'invalid': verificaValidTouched('cpf')}" (blur)="validaCpf()">

                    <div class="error" *ngIf="verificaValidTouched('cpf')">{{ mensagemErro('cpf') }}</div>
                    <div class="error" *ngIf="!verificaValidTouched('cpf') && cpfInvalido">CPF inválido</div>
                    <div class="error" *ngIf="!verificaValidTouched('cpf') && cpfUsado">CPF já cadastrado</div>
                </div>
                <div class="menu">
                    <label> Telefone </label>
                    <input type="text" class="input" maxlength="15" formControlName='telefone' mask='(00) 0000-0000' placeholder="Insira seu telefone"
                    [ngClass]="{'invalid': verificaValidTouched('telefone')}">

                    <div class="error" *ngIf="verificaValidTouched('telefone')">Telefone inválido</div>
                </div>
                <div class="menu">
                    <label> Celular </label>
                    <input type="text" class="input" maxlength="15" formControlName='celular' mask='(00) 0000-00000' placeholder="Insira seu celular"
                    [ngClass]="{'invalid': verificaValidTouched('celular')}">
                    
                    <div class="error" *ngIf="verificaValidTouched('celular')">Celular inválido</div>
                </div>

                <div class="menu">
                    <label> CEP *</label>
                    <input type="text" class="input" maxlength="9" formControlName='cep' mask='00000-000' placeholder="Seu CEP"
                    [ngClass]="{'invalid': verificaValidTouched('cep')}" (blur)="consultaCep()">

                    <div class="error" *ngIf="verificaValidTouched('cep')">Cep inválido</div>
                </div>

                <div class="menu">
                    <label> Endereço </label>
                    <input type="text" class="input" maxlength="80" formControlName='logradouro' readonly placeholder="Digite seu endereço">
                </div>

                <div class="menu">
                    <label> Número </label>
                    <input type="text" class="input" maxlength="20" formControlName='numero' placeholder="Seu número residencial"
                    [ngClass]="{'invalid': verificaValidTouched('numero')}">

                    <div class="error" *ngIf="verificaValidTouched('numero')">{{ mensagemErro('numero') }}</div>
                </div>

                <div class="menu">
                    <label> Complemento </label>
                    <input type="text" class="input" maxlength="20" formControlName='complemento' placeholder="Caso haja um">
                </div>

                <div class="menu">
                    <label> Cidade </label>
                    <input type="text" class="input" maxlength="40" formControlName='cidade' readonly placeholder="Sua cidade atual">
                </div>

                <div class="menu">
                    <label> Bairro </label>
                    <input type="text" class="input" maxlength="40" formControlName='bairro' readonly placeholder="Insira seu bairro">
                </div>

                <div *ngIf="leitor.escritor">
                    <div class="area area2">

                        <div class="img-area">
                            <p> 1. Foto - Frente do RG/Carteira de motorista  </p>
                            <img src="../../../assets/img/rg.png" class="img" *ngIf="!leitor.escritor.doc_1">
                            <img src="{{ url + leitor.escritor.doc_1 }}" class="img" *ngIf="leitor.escritor.doc_1">
                            <input type="file" accept="image/*" id='doc1' *ngIf='leitor.escritor.status != "a"'>
                        </div>

                        <div class="img-area">
                            <p> 2. Foto - Verso do RG/Carteira de motorista </p>
                            <img src="../../../assets/img/cpf.png" class="img" *ngIf="!leitor.escritor.doc_2">
                            <img src="{{ url + leitor.escritor.doc_2 }}" class="img" *ngIf="leitor.escritor.doc_2">
                            <input type="file" name="arquivo" id='doc2' *ngIf='leitor.escritor.status != "a"'/>
                        </div>

                        <div class="img-area">
                            <p> 3. Foto do usuário mais frente do RG/Carteira de motorista  </p>
                            <img src="../../../assets/img/pessoa_cpf.png" class="img" *ngIf="!leitor.escritor.doc_3">
                            <img src="{{ url + leitor.escritor.doc_3 }}" class="img" *ngIf="leitor.escritor.doc_3">
                            <input type="file" name="arquivo" id='doc3' *ngIf='leitor.escritor.status != "a"'/>
                        </div>

                    </div>

                    <div class="area area2">
                        <p> Dados bancários </p>

                        <div class="menu">
                            <label> Banco </label>
                            <select name="banco" class="input"
                                    formControlName='banco'>
                                <option *ngFor="let option of selectBancos" [value]="option.value">{{option.name}}</option>
                            </select>
                        </div>

                        <div class="menu">

                            <label> Agência </label>

                            <input type="text" class="input" maxlength="15" formControlName='agencia' placeholder="Sua agência">

                        </div>

                        <div class="menu">

                            <label> Conta </label>

                            <input type="text" class="input" maxlength="20" formControlName='conta_corrente' placeholder="Conta do seu banco">

                        </div>
                    </div>
                </div>
            </div>

            <div class="error-alert success" *ngIf='salvo'> 
                <img src="../../../assets/img/success.png"  class="img-button img-button2">
                Salvo com sucesso.
            </div>

            <button type='button' (click)="onSubmitEditar()" class="button background-orange" *ngIf='leitor.escritor'>
                Salvar
            </button>
            
            <button type="button" class="button background-orange" *ngIf="!leitor.escritor" (click)="next()" 
                [disabled]="!formulario.valid || cpfInvalido || cpfUsado">
                Próximo
            </button>
        </div>
        <div [hidden]="page != 2">
            <div class="progress">
                <div class="green green2"> </div>
            </div>   
            
            <div class="area">
                <div class="text"> 
                    Estamos quase lá..<br/>
                    Precisamos de algumas fotos suas! É bem fácil, siga o exemplo apresentado abaixo.
                </div>
                
                <div class="img-area">
                    <p> 1. Foto - Frente do RG/Carteira de motorista  </p>
                    <img src="../../../assets/img/rg.png" class="img">
                    <input type="file" accept="image/*" id='doc1'>
                </div>

                <div class="img-area">
                    <p> 2. Foto - Verso do RG/Carteira de motorista </p>
                    <img src="../../../assets/img/cpf.png" class="img">
                    <input type="file" name="arquivo" id='doc2'/>
                </div>

                <div class="img-area">
                    <p> 3. Foto do usuário mais frente do RG/Carteira de motorista  </p>
                    <img src="../../../assets/img/pessoa_cpf.png" class="img">
                    <input type="file" name="arquivo" id='doc3'/>
                </div>
            
            </div>
            <button type="button" class="button background-orange" (click)="next()">Próximo</button>
            
            <button type="button" class="button" (click)="prev()">Voltar</button>
        </div>
        <div [hidden]='page != 3'>
            <div class="progress">
                <div class="green green3"> </div>
            </div>

            <div class="area">
                <p> Dados bancários </p>

                <div class="menu">
                    <label> Banco </label>
                    <select name="banco" class="input"
                    formControlName='banco'>
                        <option *ngFor="let option of selectBancos" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
                        
                <div class="menu">

                    <label> Agência </label>

                    <input type="text" class="input" maxlength="15" formControlName='agencia' placeholder="Sua agência">

                </div>
                        
                <div class="menu">

                    <label> Conta </label>

                    <input type="text" class="input" maxlength="20" formControlName='conta_corrente' placeholder="Conta do seu banco">

                </div>
            </div>
            <button type="submit" class="button background-orange">Salvar</button>
            <button type="submit" class="button background-green">Pular</button>
            <button type="button" class="button" (click)="prev()">Voltar</button>
        </div>
    </div>
</form>