<div class="modal-content modal-compartilhar">
    <div class="title">Compartilhar
        <a click="#" class=" modal-action modal-close close">X</a>
    </div>
  
    <div class="social-media2">
  
        <p> <b>Onde deseja compartilhar?</b> </p>

        <div class="icons">
            <div *ngFor='let i of interacoes' class="area">
                <div *ngIf='i.categoria == 1 && i.compartilhar == 1' (click)='interage(i)'>
                    <!-- facebook button -->
                    
                    <button shareButton="facebook" *ngIf="i.id == 6">
                        <img  src="../../../assets/{{ i.src_icone }}" class="img">
                
                        <p>{{ i.nome }}</p>
                    </button>
                    <!-- google plus button -->
                    <button shareButton="google" *ngIf="i.id == 8">
                        <img  src="../../../assets/{{ i.src_icone }}" class="img">
                
                        <p>{{ i.nome }}</p>
                    </button>
                    <!-- twitter button -->
                    <button shareButton="twitter" *ngIf="i.id == 7">
                        <img  src="../../../assets/{{ i.src_icone }}" class="img">
                
                        <p>{{ i.nome }}</p>
                    </button>
                    
                    <!-- rupt -->
                    <button *ngIf="i.id < 6">
                        <img  src="../../../assets/{{ i.src_icone }}" class="img">
                
                        <p>{{ i.nome }}</p>
                    </button>
                    
                    <p *ngIf='verifyInteragiu(i)' class="desfazer">(Desfazer)</p>
                </div>
            </div>
  
        </div>
    </div>    
  
</div>


