<!-- Modal Mensagem não lida -->
<div id="modal1" class="modal center-sheet" 
     materialize="modal" [materializeParams]="[{dismissible: false}]" 
     [materializeActions]="modalActions">
    <form class="col s12" #f="ngForm" (ngSubmit)="enviaResposta(f)">
        <div class="modal-content">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <h6><b>Mensagem de:</b> {{mensagem_selecionada?.nome}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Data do contato:</b> {{mensagem_selecionada?.created_at | date: 'dd/MM/yy - HH:mm'}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Email:</b> {{mensagem_selecionada?.remetente}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Assunto:</b> {{mensagem_selecionada?.assunto}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Mensagem:</b> {{mensagem_selecionada?.conteudo}}</h6><p>
                    </div>
                    <p>
                        <input type="checkbox" id="lida" name="lida" #lida="ngModel" [(ngModel)]="mensagem_selecionada.lida"/>
                        <label for="lida">Marcar Como Lida</label>
                    </p>
                    <div class="row">
                        <input type="text" mask="0000:0000"/>  
                        <div class="input-field col s12">
                            <textarea id="resposta" name="resposta" class="materialize-textarea"
                                    #resp="ngModel" [ngClass]="{'invalid': resp.errors?.required && resp.touched}" [(ngModel)]="resposta"
                                    required></textarea>
                            
                            <div *ngIf="resp.errors?.required && resp.touched" class="error">Escreva uma resposta antes de enviar.</div>
                            <label style="color: black; font-weight: bold; font-size: 1rem;" [ngClass]="{'active': resposta_msg_selecionada?.conteudo}" for="resposta">Responder</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
                <button type="submit" [disabled]="!lida.value && !f.valid" class="modal-action modal-close waves-effect waves-green btn-flat">Enviar Resposta</button>
            </div>
        </div>
    </form>
</div>
<!-- Modal Mensagem lida -->
<div id="modalLida" class="modal center-sheet" 
     materialize="modal"  [materializeParams]="[{dismissible: false}]" 
     [materializeActions]="modalLida">
        <div class="modal-content">
            <div class="row">
                <div class="row">
                    <div class="row">
                        <h6><b>Mensagem de:</b> {{mensagem_selecionada?.nome}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Data do contato:</b> {{mensagem_selecionada?.created_at | date: 'dd/MM/yy - HH:mm'}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Email:</b> {{mensagem_selecionada?.remetente}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Assunto:</b> {{mensagem_selecionada?.assunto}}</h6>
                    </div>
                    <div class="row">
                        <h6><b>Mensagem:</b> {{mensagem_selecionada?.conteudo}}</h6><p>
                    </div>
                    <div class="row" *ngIf="resposta_msg_selecionada">
                        <h6><b>Respondido:</b> {{resposta_msg_selecionada?.created_at | date: 'dd/MM/yy - HH:mm'}}</h6><p>
                    </div>
                    <div class="row" *ngIf="resposta_msg_selecionada == null">
                        <h6><b>Ignorada:</b> {{mensagem_selecionada?.updated_at}}</h6><p>
                    </div>
                    <div class="row" *ngIf="resposta_msg_selecionada">
                        <h6><b>Respondido por:</b> {{mensagem_selecionada?.Admin?.name}}</h6><p><br>
                    </div>
                    <div class="row" *ngIf="resposta_msg_selecionada == null">
                        <h6><b>Mensagem ignorada por:</b> {{mensagem_selecionada?.Admin?.name}}</h6><p>
                    </div>
                    
                    <div class="row">
                        <div *ngIf="resposta_msg_selecionada != null" class="input-field col s12">
                            <textarea id="resposta_lida" name="resposta_lida" class="materialize-textarea"
                                    #resp_lida="ngModel" [disabled]="resposta_msg_selecionada != ''"
                                    [ngClass]="{'invalid': resp.errors?.required && resp.touched}" [(ngModel)]="resposta_msg_selecionada.conteudo"
                                    required ></textarea>
                            <div *ngIf="resp.errors?.required && resp.touched && !resp.disabled" class="error">Escreva uma resposta antes de enviar.</div>
                            <label style="color: black; font-weight: bold; font-size: 1rem;" [ngClass]="{'active': resposta_msg_selecionada?.conteudo}" for="resposta">Resposta</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
                <!--<button type="submit" [disabled]="!g.valid" class="modal-action modal-close waves-effect waves-green btn-flat">Enviar Resposta</button>-->
            </div>
        </div>
</div>
<!--modal de mensagem-->
<div id="modalMessage" class="modal center-sheet small-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalMessage">
    <div class="modal-content">
        <h4><i class="material-icons">check_circle</i></h4>
        <h4>Mensagen respondida com sucesso</h4>
        <div class="small-modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
        </div>
    </div>
</div>

<div class="title">
    <i class="material-icons">view_list</i> Mensagens
</div>

<div class="row">
  <!-- Mensagens não lidas-->
  <div class="col s12">
    <ul class="tabs" materialize="tabs">    
      <li class="tab col s6">
        <a class="active" (click)="zera()" href="#msg_nao_lida">
          Mensagens Não Lidas
          <span *ngIf="notificacoes['mensagens'] != 0" class="notification">{{ notificacoes["mensagens"] }}</span>
        </a>
      </li>
      <li class="tab col s6"><a (click)="zera()" href="#msg_lida" >Mensagens Lidas</a></li>
    </ul>
  </div>
  <!-- Tabela mensagens não lidas-->
  <div id="msg_nao_lida" class="col s12">
    <!--filtro-->
    <div class="row">
      <div class="col s12 m12 l12 xl12 search">
          <nav>
              <div class="nav-wrapper">
                  <form>
                      <div class="input-field">
                          <input id="search" name="filtro" type="search" [(ngModel)]="filtroMensagens_nLidas">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </div>
          </nav>
      </div>
    </div>
    <!--/filtro-->
    <!--Caso não hajam mensagens-->
    <ul class="collapsible list">
      <li *ngIf="listMensagens_nLidas().length === 0">
        <div class="list-item option-icons">
            <div class="col s12 m12 l12 xl12 item center-align" *ngIf="!spinner">
                Não há mensagens não lidas.
            </div>
            <div class="spinner" *ngIf="spinner">
                <div class="preloader-wrapper big active" >
                    <div class="spinner-layer spinner-rupt">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </li>
      <li *ngIf="listMensagens_nLidas().length > 0">
          <div class="list-item header">
                <div class="col s4 m4 l4 xl4 item">
                    Nome Informado
                        <i *ngIf="this.ordenacoes['remetente'] == null || this.ordenacoes['remetente'] == true" class="material-icons" (click)="ordena('nome')">keyboard_arrow_up</i>
                        <i *ngIf="!this.ordenacoes['remetente'] && this.ordenacoes['remetente'] != null" class="material-icons" (click)="ordena('nome')">keyboard_arrow_down</i>
                </div>
                <div class="col s3 m3 l3 xl3 item left-align">
                    Assunto 
                </div>
                <div class="col s3 m3 l3 xl3 item left-align">
                    Data
                    <i *ngIf="this.ordenacoes['data'] == null || this.ordenacoes['data'] == true" class="material-icons" (click)="ordena('data')">keyboard_arrow_up</i>
                    <i *ngIf="!this.ordenacoes['data'] && this.ordenacoes['data'] != null" class="material-icons" (click)="ordena('data')">keyboard_arrow_down</i>
                </div>
                <div class="option-icons col s2 m2 l2 xl2 right-align item">
                    <div class="margin-right-1">Opções</div> 
                </div>
          </div>
      </li>
      
    
      <li *ngFor="let m of listMensagens_nLidas() | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
          <div (click)="openModal(m)" class="list-item option-icons">
              <div class="col s4 m4 l4 xl4 item">
                  {{m.nome}}
              </div>
              <div class="col s3 m3 l3 xl3 item left-align">
                  {{m.assunto}}
              </div>
              <div class="col s3 m3 l3 xl3 item left-align">
                  {{m.created_at | date:"dd/MM/yyyy" }}
              </div>
              
              <div class="option-icons col s2 m2 l2 xl2">
                  <i class="material-icons" (click)="openModal(m)">visibility</i>
              </div>
          </div>
      </li>
    </ul>
    <ul class="pages" *ngIf="listMensagens_nLidas().length > 0">
        <li>
            <pagination-controls (pageChange)="page = $event" id="1"
                maxSize="5"
                directionLinks="true"
                autoHide="false"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </li>
    </ul>
  </div>


  <div id="msg_lida" class="col s12">
    <div class="row">
      <div class="col s12 m12 l12 xl12 search">
          <nav>
              <div class="nav-wrapper">
                  <form>
                      <div class="input-field">
                          <input id="search" name="filtro" type="search" [(ngModel)]="filtroMensagens_lidas">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                      </div>
                  </form>
              </div>
          </nav>
      </div>
    </div>
    <!--/filtro-->
    <!--Caso não hajam mensagens-->
    <ul class="collapsible list">
      <li *ngIf="listMensagens_lidas().length === 0">
        <div class="list-item option-icons">
            <div class="col s12 m12 l12 xl12 item center-align" *ngIf="!spinner">
                Não há mensagens lidas.
            </div>
            <div class="spinner" *ngIf="spinner">
                <div class="preloader-wrapper big active" >
                    <div class="spinner-layer spinner-rupt">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </li>
      <li *ngIf="listMensagens_lidas().length > 0">
          <div class="list-item header">
                <div class="col s4 m4 l4 xl4 item">
                    Nome Informado
                </div>
                <div class="col s3 m3 l3 xl3 item left-align">
                    Assunto
                </div>
                <div class="col s3 m3 l3 xl3 item left-align">
                    Data
                </div>
                <div class="option-icons col s2 m2 l2 xl2 right-align item">
                    <div class="margin-right-1">Opções</div>
                </div>
          </div>
      </li>
      
    
      <li *ngFor="let ml of listMensagens_lidas() | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
          <div (click)="openModalLida(ml)" class="list-item option-icons">
              <div class="col s4 m4 l4 xl4 item">
                  {{ml.nome}}
              </div>
              <div class="col s3 m3 l3 xl3 item left-align">
                  {{ml.assunto}}
              </div>
              <div class="col s3 m3 l3 xl3 item left-align">
                  {{ml.created_at | date:"dd/MM/yyyy" }}
              </div>
              
              <div class="option-icons col s2 m2 l2 xl2">
                  <i class="material-icons" (click)="openModalLida(ml)">visibility</i>
              </div>
          </div>
      </li>
    </ul>
    <ul class="pages" *ngIf="listMensagens_lidas().length > 0">
        <li>
            <pagination-controls (pageChange)="page = $event" id="1"
                maxSize="5"
                directionLinks="true"
                autoHide="false"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </li>
    </ul>
  </div>

</div>
