<div class="modal-content modal-compartilhar">
    <div class="title">Compartilhar
        <a click="#" class=" modal-action modal-close close">X</a>
    </div>
  
    <div class="social-media2">
  
        <p> <b>Onde deseja compartilhar?</b> </p>

        <div class="icons">

            <div *ngFor='let i of interacoes' class="area">
                <div *ngIf='i.categoria == 1 && i.compartilhar' (click)='interage(i)'>
                    <img src="../../../assets/{{ i.src_icone }}" class="img">
                    <p>{{ i.nome }}</p>

                    <p *ngIf='verifyInteragiu(i)' class="desfazer">(Desfazer)</p>
                </div>
            </div>
  
        </div>
    </div>    
  
</div>

