<div class="modal-content">
    <div class="title title2">
        <img src="../../../assets/img/logo.png" class="img">
        <a click="#" class=" modal-action modal-close close">x</a>
    </div>

    <div class="login-categorias">
        <p>  Escolha ao menos três categorias que definem melhor o seu gosto: </p>

        <!--
        <div class="container">
            <div class="info" *ngFor='let cat of categoriasFiltro'>
                <div class="area">
                    <img src="../../../assets/img/categoria_ico.png" class="img">
              </div>
              <button type="submit" class="button3">{{ cat.categoria.categoria }}</button>
            </div>
        </div>-->

        <div class="container">
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3 active">Entreterimento</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Esportes</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Música</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Carros</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3 active">Política</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Música</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Carros</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Entreterimento</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Esportes</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Carros</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3 active">Entreterimento</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Esportes</button>
            </div>
        </div>

        <div class="bottom">

            <button type="button" class="button background-orange" (click)="prev()">Salvar</button>

            <button type="button" class="button" (click)="prev()">Pular</button>
        </div>

    </div>
</div>