<div class="modal-content">
    <div class="title title2">
        <img src="../../../assets/img/logo.png" class="img">
        <a click="#" class=" modal-action modal-close close">x</a>
    </div>

    <div class="login-categorias">
        <p>  Escolha ao menos três categorias que definem melhor o seu gosto: </p>

        <div class="container">
            <div class="info" *ngFor='let cat of categoriasFiltro'>
                <div class="area">
                </div>
                <button type="submit" class="button3" (click)="click(cat.categoria)"
                [ngClass]="{'active': checkSelected(cat.categoria.id) > -1 }">
                    {{ cat.categoria.categoria }}
                </button>
            </div>
        </div>

        <!--<div class="container">
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3 active">Entreterimento</button>
            </div>
            <div class="info" >
                <div class="area">
                </div>
                <button type="submit" class="button3">Esportes</button>
            </div>
        </div>-->

        <div class="bottom">

            <button type="button" class="button background-orange" (click)="onSubmit()">Salvar</button>

            <button type="button" class="button" (click)="pular()">Pular</button>
        </div>

    </div>
</div>