<div class="content-login">
    
    <div id="modal" class="modal" style="display:block">
      <div class="modal-content">
        <h4>Esqueceu a senha?</h4>
        <p>Informe seu email para recuperaração.</p>
        
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Email</label>
            </div>
          </div>
          <input type="submit" class="btn btn-login" name="Login" value="Enviar email"> 
        </form>
      </div>
    </div>
</div>

