<div id="ModalCadastro" class="modal" 
     materialize="modal" [materializeParams]="[{dismissible: false}]" 
     [materializeActions]="modalActions">
    <modal-cadastro-leitor></modal-cadastro-leitor>
</div>
<div class="headbar">
  
        <a href="home"><img src="../../../assets/img/logo.png" class="img2"></a>
              
          <a href="user"><div class="title"> perfil </div> </a>

          <a href="faq"><div class="title"> Faq </div></a>
  
          <div class="title"> contato </div>
  
          <div class="headbar-right">
  
              <a href="#modal2">  <div class="login login-border"> Entrar </div> </a>
  
            <a (click)="openModal()">  
                <div class="login login-border"> 
                      Cadastre-se 
                </div> 
            </a>
  
              <img src="../../../assets/img/search.png" class="img3">
  
              <div class="login"> | </div>
  
              <img src="../../../assets/img/toggle.png" class="img">
  
          </div>
  
      </div>