<div id="ModalCadastro" class="modal modal5 modal6"
     materialize="modal" [materializeParams]="[{dismissible: false}]" 
     [materializeActions]="modalActions">
    <modal-cadastro-leitor (closeModal)="closeModal($event)"></modal-cadastro-leitor>
</div>
<div id="ModalLogin" class="modal modal2"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalLogin">
    <modal-login (closeModalLogin)="closeModalLogin($event)"></modal-login>
</div>
<div id="ModalGenerico" class="modal modal2 modal4"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalGenerico">
    <modal-generico (closeModalGenerico)="closeModalGenerico($event)"></modal-generico>
</div>

<div class="headbar">

    <a routerLink="/"><img src="../../../assets/img/logo.png" class="img2"></a>
    <a routerLink="/faq" class="title" routerLinkActive="active-link">Faq </a>
    <a routerLink="/contato" class="title" routerLinkActive="active-link">contato</a>

    <!--<input type="text" class="search" maxlength="30" name="marca" placeholder="Pesquisar">
    <img src="../../../assets/img/search2.png" class="img5">-->

        
    <div class="headbar-right" *ngIf="leitor?.id">

        <a routerLink="/perfil/{{ leitor.nick }}">
            <div class="area-img">
            <img src="{{ url + 'profile/' + leitor.src_foto }}" class="img4">
            </div>
            <p>{{ leitor.nome.split(' ')[0] }}</p> 
        </a>

        <div class="login"> | </div>

        <img src="../../../assets/img/bell.png" class="img">

        <div class="notificacao"> 3</div>

        <a class='dropdown-button btn' data-activates='dropdown1' materialize="dropdown"><img src="../../../assets/img/arrow.png" class="img img6"></a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content' style="top: 60px !important;">
            <!-- Caso user seja escritor <li><a routerLink="cadastro-escritor">Editar Perfil</a></li>-->
            <li><a routerLink="/cadastro">Editar Perfil</a></li>
            <li *ngIf="leitor.escritor && leitor.escritor.status != 'r'">
                <a routerLink="/publicacao">Publicar</a>
            </li>
            <li class="divider"></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>

    </div>

    <div class="headbar-right" *ngIf="!leitor?.id">

        <a (click)="openModalLogin()">
            <div class="login login-border">
                Entrar
            </div>
        </a>

        <a (click)="openModal()">  
            <div class="login login-border"> 
                    Cadastre-se 
            </div> 
        </a>
    </div>
</div>