<div id="ModalCadastro" class="modal modal5 modal6"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
    <modal-cadastro-leitor (closeModal)="closeModal($event)"></modal-cadastro-leitor>
</div>
<div id="ModalLogin" class="modal modal2"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalLogin">
    <modal-login (closeModalLogin)="closeModalLogin($event)" (openEsqueciSenha)="openModalEsqueciSenha($event)"></modal-login>
</div>
<div id="ModalEsqueciSenha" class="modal modal2"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalEsqueciSenha">
    <esqueci-senha (closeModalEsqueciSenha)="closeModalEsqueciSenha($event)"></esqueci-senha>
</div>
<div id="ModalGenerico" class="modal modal2 modal4"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalGenerico">
    <modal-generico (closeModalGenerico)="closeModalGenerico($event)"></modal-generico>
</div>
<div id="ModalPesquisa" class="modal modal2 modal4"
     materialize="modal" [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalPesquisa">
    <modal-pesquisa [focus]='openedSearch' (closeModalPesquisa)="closeModalPesquisa($event)"></modal-pesquisa>
</div>

<div class="headbar">
    <div class="headbar-left">
        <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>

    <div class="headbar-center">
        <a routerLink="/" class="logo"><img src="../../../assets/img/logo.png" class="img"></a>
    </div>

    <ul class="side-nav" id="menu-mobile">
        <!--<a *ngFor='let c of categorias' routerLink="/" class="title" routerLinkActive="active-link">{{ c.categoria }}</a>-->
        <a *ngFor='let c of categorias' routerLink='/categorias/{{ c.link }}' class="title">{{ c.categoria }}</a>
    </ul>

    <!--
    <a routerLink="/faq" class="title" routerLinkActive="active-link">Faq </a>
    <a routerLink="/contato" class="title" routerLinkActive="active-link">contato</a>
    -->

    <!--<input type="text" class="search" maxlength="30" name="marca" placeholder="Pesquisar">
    <img src="../../../assets/img/search2.png" class="img5">-->


    <div class="headbar-right" *ngIf="leitor?.id">
        <a routerLink="/perfil/{{ leitor.nick }}">
            <div class="area-img">
                <img src="{{ leitor.src_foto.indexOf('http') >= 0 ? leitor.src_foto : url + 'profile/' + leitor.src_foto }}" class="img4">
            </div>
            <p>{{ leitor.nome.split(' ')[0] }}</p>
        </a>

        <div class="login"></div>
        <a (click)="openModalPesquisa()">
        <button type="submit" class="btn btn-default" id="search-button2">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        </a>
        <a *ngIf='notificacoes.length > 0' (click)='markAsRead()' class='dropdown-button btn' data-activates='dropdown2' materialize="dropdown">
            <i *ngIf='countNotificacoesNaoLidas() > 0'class="fa fa-bell img" aria-hidden="true"></i>
            <div *ngIf='countNotificacoesNaoLidas() > 0' class="notificacao"> 
                <font style="position: relative; bottom: 10px">{{ countNotificacoesNaoLidas() }}</font>
            </div>

            <i class="fa fa-bell-o" aria-hidden="true" *ngIf='countNotificacoesNaoLidas() == 0'></i>
        </a>
        <ul id='dropdown2' class='dropdown-content dropdown-content2' style="top: 60px !important;">
            <div class="title"> Notificações </div>
            
            <div class="info" *ngFor='let n of notificacoes'>
                <a routerLink='{{ n.rota }}'>
                    <div class="area" *ngIf='n.leitor'>
                        <img src="{{ url + 'profile/' + n.leitor.src_foto }}" class="img">
                    </div>
                    <div class="area" *ngIf='!n.leitor'>
                        <img src="../../../assets/img/favicon.png" class="img">
                    </div>

                    
                    <h1 *ngIf='n.leitor'><b>{{ n.leitor.nick }}</b> {{ n.descricao }}</h1>
                    <h1 *ngIf='!n.leitor'>{{ n.descricao }}</h1>
                    <h2>
                        <img *ngIf='n.tipo == 3' src="../../../assets/img/rupt-ico.png" class="img2 fa"> 
                        <i *ngIf='n.tipo == 2' class="fa fa-user" aria-hidden="true"></i> 
                        <i *ngIf='n.tipo == 4' class="fa fa-share" aria-hidden="true"></i>
                        <i *ngIf='n.tipo == 5' class="fa fa-comment" aria-hidden="true"></i>
                        <i *ngIf='n.tipo == 6' class="fa fa-exclamation-circle red" aria-hidden="true"></i>
                        {{ n.created_at | date:'d' }} de 
                        {{ n.created_at | date:'MMMM' }} às
                        {{ n.created_at | date:'shortTime' }}
                    </h2>
                </a>
            </div>

            <!--
            <div class="info">
                <div class="area">
                    <img src="../../../assets/img/person2.png" class="img">
                </div>
                <h1><b>Pedro Silva</b> comentou na sua publicação</h1>
                <h2> <i class="fa fa-comment" aria-hidden="true"></i> 24 de janeiro  às 17:05</h2>
            </div>
            <div class="info">
                <div class="area">
                    <img src="../../../assets/img/person3.png" class="img">
                </div>
                <h1><b>Pedro Silva</b> creagiu a sua publicação</h1>
                <h2> <img src="../../../assets/img/rupt-ico.png" class="img2 fa">  24 de janeiro  às 17:05</h2>
            </div>
            <div class="info">
                <div class="area">
                    <img src="../../../assets/img/person4.png" class="img">
                </div>
                <h1><b>Marcelo Lima</b> reagiu a sua publicação</h1>
                <h2> <img src="../../../assets/img/rupt-ico.png" class="img2 fa"> 24 de janeiro  às 17:05</h2>
            </div>
            <div class="info">
                <div class="area">
                    <img src="../../../assets/img/person5.png" class="img">
                </div>
                <h1><b>Pedro Silva</b> comentou na sua publicação</h1>
                <h2> <i class="fa fa-comment" aria-hidden="true"></i> 24 de janeiro  às 17:05</h2>
            </div>
            <div class="info">
                <div class="area">
                    <img src="../../../assets/img/person6.png" class="img">
                </div>
                <h1><b>Pedro Silva</b> comentou na sua publicação</h1>
                <h2> <i class="fa fa-comment" aria-hidden="true"></i> 24 de janeiro  às 17:05</h2>
            </div>
            -->
        </ul>
        <a class='dropdown-button btn' data-activates='dropdown1' materialize="dropdown"><i class="fa fa-chevron-circle-down img" aria-hidden="true"></i></a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content' style="top: 60px !important;">
            <!-- Caso user seja escritor <li><a routerLink="cadastro-escritor">Editar Perfil</a></li>-->
            <li><a routerLink="/cadastro">Editar Perfil</a></li>
            <!--<li><a >Trocar senha</a></li>-->
            <li >
                <a *ngIf="leitor.escritor && leitor.escritor.status != 'r'" routerLink='/publicacao'>Publicar</a>
                <a *ngIf="!leitor.escritor || leitor.escritor.status == 'r'" routerLink="/cadastro-escritor">Tornar-se escritor</a>
            </li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>

    </div>

    <div class="headbar-right" *ngIf="!leitor?.id">
        <a (click)="openModalLogin()">
            <div class="login login-border">
                Entrar
            </div>
        </a>
        <div style="border-right:solid 1px #ffffff;display:block;float:left;width:2px;height:20px;margin-top: 20px;"></div>
        <a (click)="openModal()">
            <div class="login login-border opc">
                Registrar
            </div>
        </a>
        <a (click)="openModalPesquisa()">
        <button type="submit" class="btn btn-default" id="search-button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        </a>
    </div>
</div>

