<div class="cadastro">
  <div class="container" >
    <p *ngIf="erros.token != ''"> {{erros.token}} </p>
    <p *ngIf="mensagem != ''"> {{ mensagem }} </p>
    <div class="area" *ngIf="erros.token == '' && mensagem == ''"> 
      <p *ngIf="tokenValido()"> Olá! Por favor insira sua nova senha </p>
      <div class="error" *ngIf="erros.senha != ''"> {{erros.senha}} </div>
      <form [formGroup]="form" *ngIf="form != null" (ngSubmit)="onSubmit()">
        <div class="menu">
          <label> Senha </label> 
          <input type="password" class="input" maxlength="20" name="novaSenha" placeholder="Insira sua nova senha" formControlName="novaSenha">
        </div>
        <div class="menu marginless">
          <label> Confirmar Senha </label> 
          <input type="password" class="input" maxlength="20" name="confirma_senha" placeholder="Confirme sua nova senha" formControlName="confirma_senha">
        </div>
        <button type="submit" class="button" [disabled]="!form?.valid">Alterar</button>
      </form>
    </div>
  </div>
  
  
</div>
