<div id="modalDenuncia" class="modal modal2 modal4"
    materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalDenuncia">
    <modal-generico [action]="'denuncia'" [idObj]="post" (closeModalGenerico)="closeModalDenuncia($event)"></modal-generico>
</div>
<div class="user user-patrocinador">
    <img src="{{ url + 'profile/' + leitor.src_capa }}" class="img-pat">

    <div class="patrocinador-area">

    <div class="not-found" *ngIf="!leitor">
        <div class="container">
            <div class="background">
                <div class="area2">
                    <img src="../../../assets/img/profile3.png" class="img">
                </div>
                <p> Perfil Não Encontrado </p>
            </div>
        </div>
    </div>

   <div *ngIf='leitor'>
        <!-- <div class="capa">
        <div class="capa">
            <img src="{{ url + 'profile/' + leitor.src_capa }}" class="img">
        </div> -->

       <!--
        <div class="bio"> -->
            <div class=" bio bio2">
            <div class="profile"> <img src="{{ url + 'profile/' + leitor.src_foto }}" class="img"> </div>

            <div class="info">

                <div class="rating">

                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star2.png" class="img">

                </div>

                <div *ngIf='leitor.biografia' class="bio-text">
                    {{ leitor.biografia }} <br/>
                </div>

                <div *ngIf='leitor.escritor && leitor.escritor.cidade' class="bio-text">
                    <img src="../../../assets/img/map.png" class="img">  
                    <font class="gray"> 
                        {{ leitor.escritor.cidade }}, {{ leitor.escritor.uf }} 
                    </font> <br/>
                </div>

                <font class="gray" class="bio-text bio-date">
                <img src="../../../assets/img/calendar.png" class="img">
                    Participa desde {{ leitor.created_at | date: 'MMMM' }} de {{ leitor.created_at | date: 'y'}} 
                </font>
            </div>
        </div>


       <!--
        <div class="area"> -->
       <div class="area area3">
                
            <div class="info">

                <div class="title">  {{ leitor.nome }} </div> 

                <div class="title subtitle">  @{{ leitor.nick }} </div>

            </div>

            <div class="button button-orange" *ngIf="leitorLogado.id && leitor.id != leitorLogado.id"> Seguir </div>

            <a routerLink="../../cadastro-escritor" 
                *ngIf="leitor.id == leitorLogado.id && (!leitor.escritor || leitor.escritor.status == 'r')"> 
                <div class="button"> Tornar-se escritor </div> 
            </a>

            <a routerLink="../../publicacao" *ngIf="leitor.id == leitorLogado.id && leitor.escritor && leitor.escritor.status != 'r'">
                <div class="write-area">
                    <img src="../../../assets/img/write.png" class="img3">

                    <p>Escrever uma nova publicação</p>

                </div>
            </a>
        </div>

       <!-- <div class="feed"> -->
       <div class="feed feed2">
            <div class="status"> 
                    
                <div class="menu active"> Notícias  <br/> 
                    <font class="title"> {{ timeline.length }} </font> 
                </div>
    
                <div class="menu"> Leitores <br/> <font class="title"> 2.700 </font> </div>
    
                <div class="menu"> Seguindo <br/> <font class="title"> 15 </font> </div>
            
            </div>

            <div class="search">

                <input class="input-search" maxlength="30" name="marca" placeholder="Pesquise uma publicação" type="text" [(ngModel)]="filtro">

                <a (click)='search()'>
                    <img src="../../../assets/img/search2.png" class="img6">
                </a>

            </div>

            <div class="post-none" *ngIf='timeline.length == 0'>
                Sem publicações até o momento
            </div>

            <div class="post" *ngFor='let t of timelineFiltro'>

                <a routerLink='../{{ leitor.nick }}'>
                    <div class="img-area">
                        <img src="{{ url + 'profile/' + leitor.src_foto }}"  class="img">
                    </div>
                </a>

                <div class="text">

                    <a routerLink='../{{ leitor.nick }}'>
                        <font class="title name"> {{ leitor.nome }} </font>
                    </a>
                    <font class="share" *ngIf="leitor.id != t.tl.post.autor.id">
                        - Compartilhou a <b><a routerLink="../../noticia/{{t.tl.post.id}}">publicação</a></b> de 
                        {{ t.tl.post.autor.nome }}.
                    </font>
                    
                    <a href="" *ngIf="t.tl.leitor_idLeitor != leitorLogado.id">
                        <img src="../../../assets/img/dot.png" class="img img5">
                    </a>

                    <a routerLink='../../publicacao/{{ t.tl.id }}' *ngIf="t.tl.leitor_idLeitor == leitorLogado.id">
                        <img src="../../../assets/img/edit.png" class="img img5">
                    </a>
                    
                    <font class="title title2">
                        {{ calcHour( t.tl.created_at ) }}
                    </font>

                </div>

                <div class="info" *ngIf="leitor.id == t.tl.post.autor.id">
                    <a routerLink="../../noticia/{{t.post.id}}">
                        <div class="new">
                            {{ t.tl.post.titulo }}
                        </div>

                        <div *ngIf='t.tl.post.src_imagem'>
                            <div class="border" >
                                <img src="{{ url + 'posts/' + t.tl.post.src_imagem }}" class="img3">
                            </div>
                        </div>
                    </a>
                    <!--interacoes-->
                    <div class="status">
                        <img src="../../../assets/img/rupt-ico.png" (click)="interage(t.tl.post.id, 'like')" class="img4">
                        <img src="../../../assets/img/rupt-ico9.png" (click)="interage(t.tl.post.id, 'love')" class="img4">
                        <img src="../../../assets/img/rupt-ico3.png" (click)="interage(t.tl.post.id, 'sad')" class="img4">
                        <img src="../../../assets/img/rupt-ico4.png" (click)="interage(t.tl.post.id, 'angry')" class="img4">
                        <img src="../../../assets/img/rupt-ico7.png" (click)="interage(t.tl.post.id, 'cry')" class="img4"> 
                        <img src="../../../assets/img/report.png" (click)="leitor ? openModalDenuncia(t.tl.post.id) : true" class="img4"> 
                        <div class="total">{{t.interacoes.likes.qnt + t.interacoes.loves.qnt + t.interacoes.sads.qnt + t.interacoes.cries.qnt + t.interacoes.angries.qnt}}</div>
                    </div>
                </div>

                <div class="info info2" *ngIf="leitor.id != t.tl.post.autor.id">
                    <a routerLink="../../noticia/{{t.tl.post.id}}">
                        <div class="img-area img-area2">
                            <img src="{{ url + 'profile/' + t.tl.post.autor.src_foto }}"  class="img4">
                        </div>

                        <div class="text">

                            <font class="title"> {{ t.tl.post.autor.nome }} </font>

                            <font class="title title2">
                                {{ calcHour( t.tl.post.publishedAt ) }}
                            </font>

                        </div>

                        <div class="new">
                            {{ t.tl.post.titulo }}
                        </div>

                        <div *ngIf='t.tl.post.src_imagem'>
                            <div class="border" >
                                    <img src="{{ url + 'posts/' + t.tl.post.src_imagem }}" class="img3">
                            </div>
                        </div>
                    </a>

                    <div class="status">
                            <img src="../../../assets/img/rupt-ico.png" (click)="interage(t.tl.post.id, 'like')" class="img4">
                            <img src="../../../assets/img/rupt-ico9.png" (click)="interage(t.tl.post.id, 'love')" class="img4">
                            <img src="../../../assets/img/rupt-ico3.png" (click)="interage(t.tl.post.id, 'sad')" class="img4">
                            <img src="../../../assets/img/rupt-ico4.png" (click)="interage(t.tl.post.id, 'angry')" class="img4">
                            <img src="../../../assets/img/rupt-ico7.png" (click)="interage(t.tl.post.id, 'cry')" class="img4"> 
                            <img src="../../../assets/img/report.png" (click)="leitor ? openModalDenuncia(t.tl.post.id) : true" class="img4"> 
                            
                        <div class="total">{{t.interacoes.likes.qnt + t.interacoes.loves.qnt + t.interacoes.sads.qnt + t.interacoes.cries.qnt + t.interacoes.angries.qnt}}</div>
                    </div>
                </div>
            </div>
        </div>

       <!--
        <div class="area-patrocinio">

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda2.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda3.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda4.png" class="img">
            </div>

        </div>
       -->
     </div>
  </div>
</div>