<div class="user">

    <div class="not-found" *ngIf="!leitor">
        <div class="container">
            <div class="background">
                <div class="area2">
                    <img src="../../../assets/img/profile3.png" class="img">
                </div>
                <p> Perfil Não Encontrado </p>
            </div>
        </div>
    </div>

   <div *ngIf='leitor'>
        <div class="capa">
            <img src="{{ url + leitor.src_capa }}" class="img">
        </div>

        <div class="bio">
            <div class="profile"> <img src="{{ url + leitor.src_foto }}" class="img"> </div>

            <div class="info">

                <div class="rating">

                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star2.png" class="img">

                </div>

                <div *ngIf='leitor.biografia' class="bio-text">
                    {{ leitor.biografia }} <br/>
                </div>

                <div *ngIf='leitor.escritor && leitor.escritor.cidade' class="bio-text">
                    <img src="../../../assets/img/map.png" class="img">  
                    <font class="gray"> 
                        {{ leitor.escritor.cidade }}, {{ leitor.escritor.uf }} 
                    </font> <br/>
                </div>

                <font class="gray" class="bio-text bio-date">
                <img src="../../../assets/img/calendar.png" class="img">
                    Participa desde {{ leitor.created_at | date: 'MMMM' }} de {{ leitor.created_at | date: 'y'}} 
                </font>
            </div>
        </div>


        <div class="area"> 
                
            <div class="info">

                <div class="title">  {{ leitor.nome }} </div> 

                <div class="title subtitle">  @{{ leitor.nick }} </div>

            </div>

            <div class="button button-orange" *ngIf="leitorLogado.id && leitor.id != leitorLogado.id"> Seguir </div>

            <a routerLink="../../cadastro-escritor" 
                *ngIf="leitor.id == leitorLogado.id && (!leitor.escritor || leitor.escritor.status == 'r')"> 
                <div class="button"> Tornar-se escritor </div> 
            </a>

            <a routerLink="../../publicacao" *ngIf="leitor.id == leitorLogado.id && leitor.escritor && leitor.escritor.status != 'r'">
                <div class="write-area">
                    <img src="../../../assets/img/write.png" class="img3">

                    <p>Escrever uma nova publicação</p>

                </div>
            </a>
        </div>

        <div class="feed">  
            <div class="status"> 
                    
                <div class="menu active"> Notícias  <br/> 
                    <font class="title"> {{ timeline.length }} </font> 
                </div>
    
                <div class="menu"> Leitores <br/> <font class="title"> 2.700 </font> </div>
    
                <div class="menu"> Comentários <br/> <font class="title"> 24.500 </font> </div>
    
                <div class="menu"> Seguindo <br/> <font class="title"> 15 </font> </div>
    
                <div class="menu"> Seguidores <br/> <font class="title"> 1200 </font> </div>
                    
            </div>

            <div class="search">

                <input class="input-search" maxlength="30" name="marca" placeholder="Pesquise uma publicação pelo título" type="text">

                <img src="../../../assets/img/search2.png" class="img6">

            </div>

            <!--
            <div class="post-none">

            Sem publicações até o momento

            </div> -->


            <div class="post" *ngFor='let t of timeline'>

                <a routerLink='../{{ t.post.autor.nick }}'>
                    <div class="img-area">
                        <img src="{{ url + t.post.autor.src_foto }}"  class="img">
                    </div>
                </a>

                <div class="text">

                    <a routerLink='../{{ t.post.autor.nick }}'>
                         <font class="title name"> {{ t.post.autor.nome }} </font>
                        <font class="share">- Compartilhou a <b><a routerLink="../../noticia/{{t.post.id}}">publicação</a></b> de Brasil de Fato.</font>
                        <a href="" *ngIf="t.post.autor.id == leitorLogado.id">
                            <img src="../../../assets/img/dot.png" class="img img5">
                            <img src="../../../assets/img/edit.png" class="img img5">
                        </a>
                    </a>

                    <font class="title title2">
                        {{ calcHour( t.post.publishedAt ) }}
                    </font>

                </div>

                <!--
                <div class="info">
                    <div class="new">
                        Precisamos falar sobre racismo na propaganda. Mas por quê?
                    </div>

                    <a routerLink="../../noticia/{{t.post.id}}">
                        <div class="border" >
                            <img src="../../../assets/img/news3.png" class="img3">
                        </div>
                    </a>

                    <div class="status">
                        <img src="../../../assets/img/coment.png" class="img4"> <b>23</b>
                        <img src="../../../assets/img/like2.png" class="img4"> <b>1.335</b>
                        <img src="../../../assets/img/share.png" class="img4"> <b>6</b>
                    </div>
                </div> -->

                <div class="info info2">

                    <div class="img-area img-area2">
                        <img src="{{ url + t.post.autor.src_foto }}"  class="img4">
                    </div>

                    <div class="text">

                    <font class="title"> {{ t.post.autor.nome }} </font>

                    <font class="title title2">
                        {{ calcHour( t.post.publishedAt ) }}
                    </font>

                    </div>


                    <div class="new">
                        Precisamos falar sobre racismo na propaganda. Mas por quê?
                    </div>

                    <a routerLink="../../noticia/{{t.post.id}}">
                    <div class="border" >
                            <img src="../../../assets/img/news3.png" class="img3">
                    </div>
                    </a>

                    <div class="status">
                        <img src="../../../assets/img/rupt-ico.png" class="img4">
                        <img src="../../../assets/img/rupt-ico9.png" class="img4">
                        <img src="../../../assets/img/rupt-ico3.png" class="img4">
                        <img src="../../../assets/img/rupt-ico4.png" class="img4">
                        <img src="../../../assets/img/rupt-ico7.png" class="img4"> <div class="total">123</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="area-patrocinio">

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda2.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda3.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda4.png" class="img">
            </div>

        </div>
    </div>
</div>