<div id="modalDenuncia" class="modal modal2 modal4"
    materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalDenuncia">
    <modal-generico [action]="'denuncia'" [idObj]="post.id" (closeModalGenerico)="closeModalDenuncia($event)"></modal-generico>
</div>
<div id="modalExcluir" class="modal modal2 modal4"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalExcluir">
    <modal-excluir (closeModalExcluir)="closeModalExcluir($event)" 
        [id]='timelineId' [leitor]='leitorLogado' [op]='2'>
    </modal-excluir>
</div>
<div class="user user-patrocinador">
    <img src="{{ url + 'profile/' + leitor.src_capa }}" class="img-pat" *ngIf='leitor?.escritor?.patrocinador'>

    <div class="patrocinador-area">

    <div class="not-found" *ngIf="!leitor">
        <div class="container">
            <div class="background">
                <div class="area2">
                    <img src="../../../assets/img/profile3.png" class="img">
                </div>
                <p> Perfil Não Encontrado </p>
            </div>
        </div>
    </div>

   <div *ngIf='leitor'>
        
        <div class="capa" *ngIf='!leitor?.escritor?.patrocinador'>
            <img src="{{ url + 'profile/' + leitor.src_capa }}" class="img">
        </div>

        <div class=" bio" [ngClass]="{'bio2' : leitor?.escritor?.patrocinador}">
            <div class="profile"> <img src="{{ url + 'profile/' + leitor.src_foto }}" class="img"> </div>

            <div class="info">

                <div class="rating">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star.png" class="img">
                    <img src="../../../assets/img/star2.png" class="img">
                    4,2
                </div>

                <div *ngIf='leitor.biografia' class="bio-text">
                    {{ leitor.biografia }} <br/>
                </div>

                <div *ngIf='leitor.escritor && leitor.escritor.cidade' class="bio-text">
                    <img src="../../../assets/img/map.png" class="img">  
                    <font class="gray"> 
                        {{ leitor.escritor.cidade }}, {{ leitor.escritor.uf }} 
                    </font> <br/>
                </div>

                <font class="gray" class="bio-text bio-date">
                <img src="../../../assets/img/calendar.png" class="img">
                    Participa desde {{ leitor.created_at | date: 'MMMM' }} de {{ leitor.created_at | date: 'y'}} 
                </font>
            </div>
        </div>
        
        <div class="area" [ngClass]="{'area3' : leitor?.escritor?.patrocinador}">
                
            <div class="info">

                <div class="title">  {{ leitor.nome }} </div> 

                <div class="title subtitle">  @{{ leitor.nick }} </div>

            </div>

            <div class="button button-orange" *ngIf="leitorLogado.id && leitor.id != leitorLogado.id"> Seguir </div>

            <a routerLink="../../cadastro-escritor" 
                *ngIf="leitor.id == leitorLogado.id && (!leitor.escritor || leitor.escritor.status == 'r')"> 
                <div class="button"> Tornar-se escritor </div> 
            </a>

            <a routerLink="../../publicacao" *ngIf="leitor.id == leitorLogado.id && leitor.escritor && leitor.escritor.status != 'r'">
                <div class="write-area">
                    <img src="../../../assets/img/write.png" class="img3">

                    <p>Escrever uma nova publicação</p>

                </div>
            </a>
        </div>

       <div class="feed" [ngClass]="{'feed2' : leitor?.escritor?.patrocinador}">
            <div class="status">
                <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
                    <li class="menu tab col s3"><a href="#test-swipe-1" class=" active"> Notícias
                        <font class="title"> {{ timeline.length }} </font>  </a> </li>

                <li class="menu tab col s3"> <a href="#test-swipe-2"> Leitores
                    <font class="title"> 2.700 </font> </a></li>

                <li class="menu tab col s3"><a href="#test-swipe-3"> Seguindo
                    <font class="title"> 15 </font></a> </li>
                </ul>
            </div>

           <div id="test-swipe-1">

            <div class="post-none" *ngIf='timeline.length == 0'>
                Sem publicações até o momento
            </div>

            <div class="search" *ngIf='timeline.length > 0'>
                <input class="input-search" maxlength="30" name="marca" placeholder="Pesquise uma publicação" type="text" [(ngModel)]="filtro">

                <a (click)='search()'>
                    <img src="../../../assets/img/search2.png" class="img6">
                </a>
            </div>

            <div class="post" *ngFor='let t of timelineFiltro'>

                <a routerLink='../{{ leitor.nick }}'>
                    <div class="img-area">
                        <img src="{{ url + 'profile/' + leitor.src_foto }}"  class="img">
                    </div>
                </a>

                <div class="text" [ngClass]="{'text2' : leitor?.escritor?.patrocinador}">

                    <a routerLink='../{{ leitor.nick }}'>
                        <font class="title name"> {{ leitor.nome }} </font>
                    </a>
                    <font class="share" *ngIf="leitor.id != t.tl.post.autor.id">
                        - Compartilhou a <b><a routerLink="../../noticia/{{t.tl.post.id}}">publicação</a></b> de
                        {{ t.tl.post.autor.nome }}.
                    </font>

                    <!-- não é a propria tl -->
                    <a class='dropdown-button btn' data-activates='dropdown' materialize="dropdown" *ngIf="t.tl.leitor_idLeitor != leitorLogado.id && leitorLogado.id">
                        <img src="../../../assets/img/dot.png" class="img img5">
                    </a>

                    <ul id='dropdown' class='dropdown-content' style="top: 60px !important;">
                        <!-- Caso user seja escritor <li><a routerLink="cadastro-escritor">Editar Perfil</a></li>-->
                        <li>
                            <a href="">Compartilhar</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="openModalDenuncia(t.tl.post)"> Denunciar </a>
                        </li>
                    </ul>

                    <!-- propria tl mas post compartilhado -->
                    <a class='dropdown-button btn' *ngIf="t.tl.post.autor.id != leitorLogado.id && t.tl.leitor_idLeitor == leitorLogado.id">
                        <img src="../../../assets/img/x.png" (click)="openModalExcluir(t.tl.id)" class="img img5 img6">
                    </a>
                    
                    <!-- tl dele com post próprio -->
                    <a routerLink='../../publicacao/{{ t.tl.post.id }}' *ngIf="t.tl.post.autor.id == leitorLogado.id">
                        <i class="fa fa-pencil-square-o img img5" aria-hidden="true"></i>
                    </a>

                    <font class="title title2">
                        {{ calcHour( t.tl.created_at ) }}
                    </font>

                </div>
                
                <div class="info " [ngClass]="{'info2' : leitor?.escritor?.patrocinador}" *ngIf="leitor.id == t.tl.post.autor.id">
                    <a routerLink="../../noticia/{{t.tl.post.id}}">
                        <div class="new">
                            {{ t.tl.post.titulo }}
                        </div>

                        <div *ngIf='t.tl.post.src_imagem'>
                            <div class="border" >
                                <img src="{{ url + 'posts/' + t.tl.post.src_imagem }}" class="img3">
                            </div>
                        </div>
                    </a>
                    <!--interacoes-->
                    <div class="status">
                        <img src="../../../assets/img/rupt-ico2.png" (click)="interage(t.tl.post.id, 'like')" class="img4">
                        <img src="../../../assets/img/rupt-ico.png" (click)="interage(t.tl.post.id, 'love')" class="img4">
                        <img src="../../../assets/img/rupt-ico4.png" (click)="interage(t.tl.post.id, 'sad')" class="img4">
                        <img src="../../../assets/img/rupt-ico3.png" (click)="interage(t.tl.post.id, 'angry')" class="img4">
                        <img src="../../../assets/img/rupt-ico5.png" (click)="interage(t.tl.post.id, 'uau')" class="img4">
                        <div class="total">{{t.interacoes.likes.qnt + t.interacoes.loves.qnt + t.interacoes.sads.qnt + t.interacoes.cries.qnt + t.interacoes.angries.qnt}}</div>
                    </div>
                </div>

                <div class="info info2" *ngIf="leitor.id != t.tl.post.autor.id">

                    <a routerLink='/perfil/{{ t.tl.post.autor.nick }}'>
                        <div class="img-area img-area2">
                            <img src="{{ url + 'profile/' + t.tl.post.autor.src_foto }}"  class="img4">
                        </div>
                    </a>

                    <div class="text">

                        <a routerLink='/perfil/{{ t.tl.post.autor.nick }}'>
                            <font class="title"> {{ t.tl.post.autor.nome }} </font>
                        </a>

                        <font class="title title2">
                            {{ calcHour( t.tl.post.publishedAt ) }}
                        </font>

                    </div>

                    <a routerLink="../../noticia/{{t.tl.post.id}}">

                        <div class="new">
                            {{ t.tl.post.titulo }}
                        </div>

                        <div *ngIf='t.tl.post.src_imagem'>
                           <!-- <div class="border" > -->
                                <div class="border border2">
                                    <!--
                                    <img src="{{ url + 'posts/' + t.tl.post.src_imagem }}" class="img3">
                                    -->
                                    <img src="{{ url + 'posts/' + t.tl.post.src_imagem }}" class="img3 img7">
                            </div>
                        </div>
                    </a>

                    <div class="status">
                        <img src="../../../assets/img/rupt-ico.png" (click)="interage(t.tl.post.id, 'like')" class="img4">
                        <img src="../../../assets/img/rupt-ico9.png" (click)="interage(t.tl.post.id, 'love')" class="img4">
                        <img src="../../../assets/img/rupt-ico3.png" (click)="interage(t.tl.post.id, 'sad')" class="img4">
                        <img src="../../../assets/img/rupt-ico4.png" (click)="interage(t.tl.post.id, 'angry')" class="img4">
                        <img src="../../../assets/img/rupt-ico7.png" (click)="interage(t.tl.post.id, 'cry')" class="img4">

                        <div class="total">{{t.interacoes.likes.qnt + t.interacoes.loves.qnt + t.interacoes.sads.qnt + t.interacoes.cries.qnt + t.interacoes.angries.qnt}}</div>
                    </div>
                </div>

            </div>
           </div>


           <div id="test-swipe-2">

               <div class="leitores">

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person.png" class="img">

                       </div>

                       <p> Raíssa Manoela </p>

                       <div class="title"> @Mariazinha </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person2.png" class="img">

                       </div>

                       <p> Lucas Felipe </p>

                       <div class="title"> @Felipinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person3.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                           <img src="../../../assets/img/person4.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person5.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person6.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person7.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

                   <div class="info">

                       <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                       </div>

                       <p> Marcelos Luscas </p>

                       <div class="title"> @Paulinho </div>

                   </div>

               </div>

           </div>


           <div id="test-swipe-3">

               <div class="leitores">

               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>

               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>

               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>


               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>


               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>

               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>

               <div class="info">

                   <div class="area">

                       <img src="../../../assets/img/person8.png" class="img">

                   </div>

                   <p> Marcelos Luscas </p>

                   <div class="title"> @Paulinho </div>

               </div>



           </div>

           </div>

        </div>

        <div class="area-patrocinio" *ngIf='!leitor?.escritor?.patrocinador'>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda2.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda3.png" class="img">
            </div>

            <div class="patrocinio">
                <img src="../../../assets/img/propaganda4.png" class="img">
            </div>

        </div>
       
     </div>
  </div>
</div>