<div id="modalExcluir" class="modal modal2 modal4"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalExcluir">
    <modal-excluir (closeModalExcluir)="closeModalExcluir($event)"
                   [id]='post.id' [leitor]='0' [op]='1'>
    </modal-excluir>
</div>
<div id="modalRascunho" class="modal modal2 modal7"
     materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalRascunho">
     <modal-rascunho (closeModalRascunho)="closeModalRascunho($event)" [post]='post'></modal-rascunho>
</div>
    
<div class="publicacao">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="container">
        <h3>Nova Publicação</h3>
        <div class="container_left">
            <input type="text" class="input input2" maxlength="160" formControlName='titulo' placeholder="Insira o título da sua notícia">            
            <!--editor-->
            <quill-editor style="    margin-top: 7%;
            border-top: 1px solid #ccc !important; text-align: left;" formControlName='conteudo'
                            [options]="editorOptions"
                            (blur)="onEditorBlured($event)"
                            (focus)="onEditorFocused($event)"
                            (ready)="onEditorCreated($event)"
                            (change)="onContentChanged($event)">
            </quill-editor> 
        </div>
        <div class="container_right">
            <div class=" right-container-input-group top">
                <select name="categoria" class="input" formControlName='categoria_id'>
                    <option disabled value='-1' selected>Categoria</option>
                    <option *ngFor="let categoria of categorias" [value]='categoria.id'>{{ categoria.categoria }}</option>
                </select>
                <select name="regiao" class="input" formControlName="regiao_id">
                    <option disabled value='-1' selected>Região</option>
                </select>
            </div>
            <div class="right-container-imagem-destaque">
                <span>Imagem de Destaque</span>
                <img *ngIf="url_img" [src]="url_img" (click)="img.click()">
                <div *ngIf="!url_img" class="no_image" (click)="img.click()"><i class="material-icons large" style="display: block">image</i> Clique para Adicionar...   </div>
                <input type="file" #img id='imagem' style="display:none" (change)="imgShow($event)">
                <div class="menu">
                    <div class="row menu-radio">
                        <input type="checkbox" class="filled-in" id='adulto' formControlName='adulto'/>
                        <label for="adulto">Imagem com conteudo inapropriado</label>
                    </div>
                </div>
            </div>
            <div class="righht-container-buttons info">
                <a (click)="openModalRascunho()"><button type="button" class="button bd-white-bord-orange">Salvar Rascunho</button></a>
                <button type="button" class="button background-orange" (click)="onSubmit(false)">Publicar</button>
            </div>
        </div>
    </div>
    </form>
</div>
