<div class="publicacao">


  <div class="container">

    <div class="top">


        <select name="banco" class="input">
          <option >Selecione uma categoria</option>
          <option >Economia</option>
          <option >Educação</option>
          <option >Ciência</option>
        </select>

      <input type="text" class="input" maxlength="40" formControlName='bairro'  placeholder="Insira o título da sua notícia">

      <input type="text" class="input" maxlength="40" formControlName='bairro'  placeholder="Insira o subtítulo da sua notícia">


    </div>



  </div>



</div>
