
<div class="faq">

 <div class="title">Dúvidas comuns sobre a Rupt.
     <div class="underline"> </div>
</div>

<ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li>
      <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Como ser parceiro Rupt?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Tem como ganhar dinheiro com a Rupt?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Como funciona?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Meus dados estarão seguros?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Qual conta devo ter?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
          <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Qual conta devo ter?</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><img src="../assets/img/seta.png" class="img">Qual conta devo ter?</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
  </ul>

    <img src="../assets/img/robot.png" class="img-logo">
        
</div>

