<div class="categoria">
    <div class="container">
        <div class="aba">
            Mostrando resultados para <a>{{ search }}</a>
        </div>

        <div class="container-categoria info" *ngIf='tipo == 1'>
            <div class="info-text card" *ngFor='let post of list'>
                <a routerLink='/noticia/{{ post.id }}'>
                    <div class="banner-single">
                        <div class="title"> {{ post.titulo }} </div>
                        
                        <div class="text" *ngIf='post.subtitulo'>{{ post.subtitulo }}</div>
                        <div class="text" *ngIf='!post.subtitulo' [innerHTML]="post.conteudo_card"></div>
                        
                        <div class="info-post">
                            <div class="img-person">
                                <img src="{{ url + 'profile/' + post.autor.src_foto }}" class="img">
                            </div>
                            <p> {{ post.autor.nick }} </p>
                            <div class="area-post">
                                <i class="fa fa-calendar-o img-cal" aria-hidden="true"></i>
                                <div class="time"> {{ post.publishedAt | date:'dd/MM' }} </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container-categoria info" *ngIf='tipo == 2'>
            <div class="card" *ngFor='let leitor of list'>
                <a routerLink='/perfil/{{ leitor.nick }}'>
                    <div class="profile">
                        <div class="area">
                            <img src="{{ url + 'profile/' + leitor.src_foto }}" class="img">
                        </div>
                        <h1>{{ leitor.nome }}</h1>
                        <h2>@{{ leitor.nick }}</h2>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>
