<div class="title">
    <i class="material-icons">view_list</i> Denúncias
</div>

<div id="modalDetalhes" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        Denúncia de {{denuncia_selecionada?.motivo}}
        
        <p><strong>Titulo</strong></p>
        <p>{{denuncia_selecionada?.post.titulo}}</p>
        <p>Conteúdo</p>
        <p>{{denuncia_selecionada?.post.conteudo}}</p>
        <p>Status</p>
        <p>{{denuncia_selecionada?.detalhes.status == 'A' ? 'Não Avaliada' : denuncia_selecionada?.detalhes.status == 'I' ? 'Ignorada' : 'Post Deletado'}}</p>
        <!--<p>Link parar o post</p>
            <p><a [router] target="_blank">Notícia</a></p>-->
        
    </div>
    <div class="modal-footer">
        
        <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
        <button (click)="action('i')" class="modal-action modal-close waves-effect waves-green btn-flat">Ignorar</button> 
        <button (click)="action('d')" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Desativar Post</button>
    </div>
</div>

<div class="row">
    <form class="col s12 search-full">
      <div class="row">
        <div class="input-field col s11 m11 l5 xl5 margin-right-1">
          <input id="data" type="text" class="validate">
          <label for="data">Data</label>
        </div>
        <div class="input-field col s11 m11 l5 xl5 margin-right-1">
          <select multiple name="motivo" materialize="material_select" 
                  [materializeSelectOptions]="selectOptions">
                <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
          </select>
          <label for="ativo">Denúncia</label>
        </div>
        <div class="input-field col s11 m11 l5 xl5 margin-right-1">
          <input id="autor" type="text" class="validate">
          <label for="autor">Autor</label>
        </div>
        <div class="input-field col s11 m11 l5 xl5 margin-right-1">
          <input id="titulo" type="text" class="validate">
          <label for="titulo">Título</label>
        </div>
      </div>
    </form>
  </div>

<ul class="collapsible list">
    <li>
        <div class="list-item header">
            <div class="col s2 m2 l1 xl1 item">
                Data
            </div>
            <div class="col s6 m6 l6 xl6 item">
                Título
            </div>
            <div class="col s3 m3 l2 xl2 item">
                Denúncia
            </div>
            <div class="col s4 m4 l2 xl2 item center-align">
                Quantidade
            </div>
            <div class="option-icons col s3 m2 l1 xl1 right-align item">
                <div class="margin-right-1">Analisar</div>
            </div>
        </div>
    </li>
    <li *ngFor="let d of denunciasFiltro" > <!--listLeitores() | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">-->
        <div class="list-item option-icons" [class.inativa]="d.status == 'I' || d.status == 'R'">
            <div class="col s2 m2 l1 xl1 item">
                {{d.data.date | date: 'dd/MM/yy'}}
            </div>
            <div class="col s6 m6 l6 xl6 item">
                {{ d.titulo }}
            </div>
            <div class="col s4 m4 l2 xl2 item">
                {{ d.motivo }}
            </div>
            <div class="col s3 m3 l2 xl2 item center-align">
                {{d.quantidade}}
            </div>
            <div class="option-icons col s3 m2 l1 xl1 right-align ">
                <i class="material-icons" (click)="openModal(d)">mode_edit</i>
            </div>

            
        </div>
    </li>
</ul>

<ul class="pages">
    <li>
        <pagination-controls (pageChange)="page = $event" id="1"
            maxSize="5"
            directionLinks="true"
            autoHide="false"
            previousLabel=""
            nextLabel="">
        </pagination-controls>
    </li>
</ul>

