<!-- Modal Structure -->
<div id="modal1" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-content">
            <h4 *ngIf="editando">Editar</h4>
            <h4 *ngIf="!editando">Cadastro</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="nome" name="nome" type="text" value="." #nome="ngModel"
                               minlength="3" maxlength="40" required="required"
                               [ngClass]="{'invalid': nome.errors?.required && nome.touched}"
                               [(ngModel)]="admin_selecionado.name">
                        
                        <label [ngClass]="{'active': admin_selecionado?.name}" for="nome">Nome Completo*</label>
                        
                        <div *ngIf="nome.errors?.minlength" class="error">Nome muito curto.</div>
                        <div *ngIf="nome.errors?.required && nome.touched" class="error">Campo obrigatório.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" #email="ngModel"
                          minlength="5" maxlength="100" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        [ngClass]="{'invalid': !email_valido && !email.errors?.pattern && email.touched}"
                        [(ngModel)]="admin_selecionado.email" (ngModelChange)="validaEmail()">
                        
                        <label [ngClass]="{'active': admin_selecionado?.email}"for="email">Email*</label>
                        
                        <div *ngIf="!email_valido" class="error">Email Já Utilizado.</div>
                        <div *ngIf="email.errors?.pattern" class="error">Email Invalido.</div>
                        <div *ngIf="email.errors?.required && email.touched" class="error">Campo obrigatório.</div>
                    </div>
                </div>
                <div class="row" *ngIf="admin_selecionado.id == admin_logado || !editando">
                    <div class="input-field col s12">
                        <input id="senha" name="senha" #senha="ngModel" type="password"
                               [(ngModel)]="admin_selecionado.senha"
                               
                               maxlength="12" minlength="6" [required]="!editando">
                        
                        <label for="senha">Senha*</label>

                        <div *ngIf="senha.errors?.required && senha.touched" class="error">Campo obrigatório.</div>
                        <div *ngIf="senha.errors?.minlength" class="error">Mínimo de 6 caracteres.</div>
                    </div>
                </div>
                <div class="row" *ngIf="admin_selecionado.id == admin_logado || !editando">
                    <div class="input-field col s12">
                        <input id="confirm-senha" name="confirm_senha" type="password" #csenha="ngModel"
                               [ngClass]="{'invalid': !senhaValida}"
                               ngModel (keypress)="comparaSenhas($event, f)"
                               [required]="!editando" >
                        
                        <label for="confirm-senha">Confirmar Senha*</label>
                        
                        <div *ngIf="!senhaValida" class="error">As senhas não coincidem.</div>
                    </div>
                </div>
                <div class="row" *ngIf="message != ''">
                    <font color="red">{{message}}</font>
                </div>
                <div class="row">
                     <div class="input-field col s12">
                        <select name="ativo" materialize="material_select" 
                                [materializeSelectOptions]="selectOptions" [(ngModel)]="admin_selecionado.ativo">
                             <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                        </select>
                         <label for="ativo">Status*</label>
                    </div>
                </div>
        </div>
        </div>
        <div class="modal-footer">
            <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
            <button type="submit" [disabled]="!f.valid || !senhaValida && !email_valido" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</button>
        </div>
    </form> 
</div>
<div class="title">
    <i class="material-icons">view_list</i> Administradores
</div>

<div class="row">
    <div class="col s12 m12 l4 xl2">
        <a class="modal-trigger" (click)="openModal()">
            <div class="btn new">
                Novo
            </div>
        </a>
    </div>
    <div class="col s12 m12 l8 xl10 search">
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" name="filtro" type="search" [(ngModel)]="filtro">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>

<ul class="collapsible list">
    <li *ngIf="getAdmins() != false">
        <div class="list-item header" > 
            <div class="col s8 m9 l9 xl9 item">
                Nome
            </div>
            <div class="option-icons col s2 m1 l1 xl1 right-align item">
                Status
            </div>
            <div class="option-icons col s2 m2 l2 xl2 right-align item">
                <div class="margin-right-1">Editar</div>
            </div>
         </div>
    </li>
    <li *ngIf="getAdmins() == false">
        <div *ngIf="getAdmins() == false" class="list-item option-icons">
            <div class="col s12 m12 l12 xl12 item center-align">
                Nenhum administrador encontrado.
            </div>
        </div>
    </li>
    <li *ngFor="let a of getAdmins() | paginate: {itemsPerPage: 10, currentPage: page, id: '1'}; let i = index">
        <div class="list-item option-icons">
            <div class="col s8 m9 l9 xl9 item">
                {{a.name}}
            </div>
            <div class="col s2 m1 l1 xl1 right-align item">
                <div *ngIf="!a.ativo">Inativo</div>
                <div *ngIf="a.ativo">Ativo</div>
            </div>
            <div class="option-icons col s2 m2 l2 xl2">
                <i class="material-icons" (click)="openModalEdit(a)">mode_edit</i>
            </div>
        </div>
    </li>
</ul>

<ul class="pages" *ngIf="getAdmins() != false">
    <li>
        <pagination-controls (pageChange)="page = $event" id="1"
            maxSize="5"
            directionLinks="true"
            autoHide="false"
            previousLabel=""
            nextLabel="">
        </pagination-controls>
    </li>
</ul>