<div id="modal1" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-content">
            <h4 *ngIf="escritor.status == 'p' || escritor.status == 'r'">Analisar</h4>
            <h4 *ngIf="escritor.status != 'p' || escritor.status != 'p'">Editar</h4>
            
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <div class="input-field col s12">
                        <input id="nome" name="nome" type="text"  
                            minlength="4" maxlength="60" required
                            [ngClass]="{'invalid': nome.errors?.required && nome.touched}"
                            [(ngModel)]="escritor.nome" #nome="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label [ngClass]="{'active': escritor?.nome}" for="nome">Nome Completo*</label>
                        
                        <div class="error" *ngIf="nome.errors?.minlength && nome.touched">Nome inválido.</div>
                        <div class="error" *ngIf="nome.errors?.required && nome.touched">Campo obrigatório.</div>
                    </div>
                </div>
                <div class="row col s12 m12 l12 xl12">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="nick" name="nick" type="text"
                            minlength="3" maxlength="20" required
                            [ngClass]="{'invalid': (nick.errors?.required && nick.touched) || nickInvalido}"
                            [(ngModel)]="escritor.nick" #nick="ngModel" (ngModelChange)="validaNick()"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.nick}" for="nick">Nick*</label>

                        <div class="error" *ngIf="nick.errors?.minlength && nick.touched">Mínimo de 3 caracteres.</div>
                        <div class="error" *ngIf="nick.errors?.required && nick.touched">Campo obrigatório.</div>
                        <div class="error" *ngIf="!nick.errors?.minlength && nickInvalido">Nick já utilizado.</div>
                    </div>

                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="email" name="email" type="email"
                            minlength="6" maxlength="30"
                            [ngClass]="{'invalid': (email.errors?.required && email.touched) || emailInvalido}"
                            [(ngModel)]="escritor.email" #email="ngModel" email (ngModelChange)="validaEmail()"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.email}" for="email">Email*</label>

                        <div class="error" *ngIf="email.errors?.email && email.touched">Email inválido.</div>
                        <div class="error" *ngIf="!email.errors?.minlength && emailInvalido">Email já utilizado.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">            
                        <input id="nascimento" name="nascimento" type="text" maxlength="10"
                            [ngClass]="{'invalid': nascimento.touched && dataInvalida}"
                            [ngModel]="escritor.nascimento" #nascimento="ngModel" 
                            (ngModelChange)="validaData($event)"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.nascimento}" for="nascimento">Data de Nascimento*</label>

                        <div class="error" *ngIf="nascimento.touched && dataInvalida">Data inválida.</div>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right" *ngIf="escritor.status != 'p' && escritor.status != 'r'" >
                        <select name="sexo" materialize="material_select" [materializeSelectOptions]="selectSexo" 
                        [(ngModel)]="escritor.sexo">
                            <option *ngFor="let option of selectSexo" [value]="option.value">{{option.name}}</option>
                        </select>
                        <label for="sexo">Sexo*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right" *ngIf="escritor.status == 'p' || escritor.status == 'r'" >
                        <input id="sexo" name="sexo" type="text" readonly value="{{escritor.sexo == 'm' ? 'Masculino' : 'Feminino'}}">
                        
                        <label for="sexo" class="active">Sexo*</label>
                    </div>
                </div>
                <div class="row" *ngIf="escritor.id == 0">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="password" name="password" type="password"
                        minlength="8" maxlength="20" required 
                        [(ngModel)]="escritor.password" #senha="ngModel"
                        [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label for="senha">Senha*</label>

                        <div class="error" *ngIf="senha.errors?.minlength && senha.touched">Mínimo de 8 caracteres.</div>
                        <div class="error" *ngIf="senha.errors?.required && senha.touched">Campo obrigatório.</div>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="confirm-senha" name="confirm-senha" type="password" 
                        [ngClass]="{'invalid': senha.touched && confirm.value != senha.value}"
                        ngModel #confirm="ngModel" (keypress)="comparaSenhas($event, confirm)"
                        [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label for="confirm-senha">Confirmar Senha*</label>
                        <div class="error" *ngIf="senha.touched && confirm.value != senha.value">
                            Senhas não coincidem.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5" *ngIf="escritor.status != 'p' && escritor.status != 'r'">
                        <select name="ativo" materialize="material_select" [materializeSelectOptions]="selectAtivo" 
                        [(ngModel)]="escritor.ativo">
                            <option *ngFor="let option of selectAtivo" [value]="option.value">{{option.name}}</option>
                        </select>
                        <label for="ativo">Status como leitor*</label>
                    </div>
                    <div class="input-field col s12 m12 l5 xl5" *ngIf="escritor.status == 'p' || escritor.status == 'r'" >
                        <input id="ativo" name="ativo" type="text" readonly value="{{escritor.ativo == 1 ? 'Ativo' : 'Inativo'}}">
                        
                        <label for="ativo" class="active">Status como Leitor*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right" *ngIf="escritor.status != 'p' && escritor.status != 'r'">
                        <select name="status" materialize="material_select" [materializeSelectOptions]="selectStatus" 
                        [(ngModel)]="escritor.status">
                            <option *ngFor="let option of selectStatus" [value]="option.value">{{option.name}}</option>
                        </select>
                        <label for="ativo">Status como escritor*</label>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right" *ngIf="escritor.status == 'p' || escritor.status == 'r'" >
                        <input id="status" name="status" type="text" readonly value="{{escritor.status == 'p' ? 'Pendente' : 'Recusado'}}">
                        
                        <label for="ativo" class="active">Status como Leitor*</label>
                    </div>
                </div> 
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="rg" name="rg" type="text"
                            minlength="8" maxlength="10" required
                            [ngClass]="{'invalid': rg.errors?.required && rg.touched}"
                            [(ngModel)]="escritor.rg" #rg="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.rg}" for="rg">Rg*</label>

                        <div class="error" *ngIf="rg.errors?.minlength && rg.touched">Rg inválido.</div>
                        <div class="error" *ngIf="rg.errors?.required && rg.touched">Campo obrigatório.</div>
                    </div>

                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="cpf" name="cpf" type="text"
                            minlength="6" maxlength="30" required
                            [ngClass]="{'invalid': (cpf.errors?.required && cpf.touched) || cpfInvalido}"
                            [(ngModel)]="escritor.cpf" #cpf="ngModel" (ngModelChange)="validaCpf()"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label [ngClass]="{'active': escritor?.cpf}" for="cpf">Cpf*</label>

                        <div class="error" *ngIf="cpf.errors?.cpf && cpf.touched">Cpf inválido.</div>
                        <div class="error" *ngIf="cpf.errors?.minlength && cpf.touched">Cpf inválido.</div>
                        <div class="error" *ngIf="cpfInvalido">Cpf inválido.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="telefone" name="telefone" type="text"
                            minlength="14" maxlength="15"
                            [ngClass]="{'invalid': telefone.errors?.minlength && telefone.touched}"
                            [(ngModel)]="escritor.telefone" #telefone="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.telefone}" for="telefone">Telefone</label>

                        <div class="error" *ngIf="telefone.errors?.minlength && telefone.touched">Telefone inválido.</div>
                     </div>

                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="celular" name="celular" type="text"
                            minlength="14" maxlength="16" required
                            [ngClass]="{'invalid': (celular.errors?.required && celular.touched)}"
                            [(ngModel)]="escritor.celular" #celular="ngModel" 
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label [ngClass]="{'active': escritor?.celular}" for="celular">Celular*</label>

                        <div class="error" *ngIf="cpf.errors?.cpf && cpf.touched">Cpf inválido.</div>
                        <div class="error" *ngIf="cpfInvalido">Cpf inválido.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="banco" name="banco" type="text"
                            maxlength="15"
                            [ngClass]="{'invalid': (banco.errors?.required && rg.touched)}"
                            [(ngModel)]="escritor.banco" #banco="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">
                        
                        <label [ngClass]="{'active': escritor?.banco}" for="banco">Banco</label>
                    </div>

                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="agencia" name="agencia" type="text"
                            minlength="3" maxlength="12"
                            [ngClass]="{'invalid': (agencia.errors?.required && agencia.touched)}"
                            [(ngModel)]="escritor.agencia" #agencia="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label [ngClass]="{'active': escritor?.agencia}" for="agencia">Agência</label>

                        <div class="error" *ngIf="agencia.errors?.minlength">Agência inválida.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l5 xl5">
                        <input id="contaCorrente" name="contaCorrente" type="text"
                            maxlength="15" minlength="4"
                            [ngClass]="{'invalid': (contaCorrente.errors?.required && contaCorrente.touched)}"
                            [(ngModel)]="escritor.conta_corrente" #contaCorrente="ngModel"
                            [readOnly]="escritor.status == 'p' || escritor.status == 'r'">

                        <label [ngClass]="{'active': escritor?.conta_corrente}" for="contaCorrente">Conta corrente</label>
                        
                        <div class="error" *ngIf="contaCorrente.errors?.minlength && contaCorrente.touched">Conta corrente inválida.</div>
                    </div>
                    <div class="input-field col s12 m12 l6 xl6 right">
                        <input id="created_at" name="created_at" type="text" readonly
                        [ngModel]="escritor.created_at">

                        <label [ngClass]="{'active': escritor?.created_at}" for="created_at">Data de cadastro</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="biografia" name="biografia" class="materialize-textarea" data-length="180"
                        [(ngModel)]="escritor.biografia"
                        [readOnly]="escritor.status == 'p' || escritor.status == 'r'"
                        ></textarea>
                        <label [ngClass]="{'active': escritor?.biografia}" for="biografia">Biografia</label>
                    </div>
                </div>
                <input name="src_foto" type="text" hidden [(ngModel)]="escritor.src_foto">
            </div>   
        </div>

        <div class="modal-footer" *ngIf="escritor.status != 'p' || escritor.status != 'p'">
            <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
                [disabled]="!f.valid || emailInvalido || nickInvalido || dataInvalida || !senhaValida">
                Salvar
            </button>

            
        </div>
        <div class="modal-footer" *ngIf="escritor.status == 'p' || escritor.status == 'p'">
            <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
            <a (click)="recusar = !recusar" class="modal-action waves-effect waves-green btn-flat ">Recusar</a>
            
            <a *ngIf="!recusar" (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat left">Aceitar</a>
            <div *ngIf="recusar" [@enterAnimation]="recusar">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="motivo_recusa" name="motivo_recusa" type="text"
                        [ngModel]="escritor.motivo_recusa">

                        <label [ngClass]="{'active': escritor?.motivo_recusa}" for="created_at">Data de cadastro</label>       
                    </div>
                </div>
            </div>
        </div>
    </form> 
</div>
<!--modal de mensagem-->
<div id="modalMessage" class="modal center-sheet small-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalMessage">
    <div class="modal-content">
        <h4><i class="material-icons">check_circle</i></h4>
        <h4>Salvo com sucesso</h4>
        <div class="small-modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
        </div>
    </div>
</div>


<div class="title">
    <i class="material-icons">view_list</i> Escritores
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs" materialize="tabs">
            <li class="tab col s6">
                <a class="active" href="#solicitacao">
                    Solicitação
                    <span *ngIf="notificacoes['escritores'] != 0" class="notification">{{ notificacoes["escritores"] }}</span>
                </a>
            </li>
            <li class="tab col s6"><a href="#escritores">Escritores</a></li>
        </ul>
    </div>

    <div id="solicitacao" class="col s12">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" name="filtro" type="search" [(ngModel)]="filtroSolicitacoes">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>

        <ul class="collapsible list" *ngIf="listSolicitacoes() == false">
            <li>
                <div class="list-item option-icons">
                    <div class="col s12 m12 l12 xl12 item center-align">
                        Nenhuma solicitação encontrada.
                    </div>
                </div>
            </li>
        </ul>

        <div class="col s12 m12 l12 xl12 orderby" *ngIf="listSolicitacoes() != false">
            <div class="row">
                <div class="col s6 m6 l6 xl6">
                    Ordenar:
                    <div class="input-field inline">
                        <select name="ativo" materialize="material_select" 
                                [materializeSelectOptions]="selectOptions">
                                <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col s6 m6 l6 xl6 right-align">
                    Exibir:
                    <div class="input-field inline">
                        <select name="ativo" materialize="material_select" 
                                [materializeSelectOptions]="selectSolicitacao"
                                [(ngModel)]="mSolicitacao">
                                <option *ngFor="let option of selectSolicitacao" [value]="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12 xl12" *ngIf="mSolicitacao == 1">
            <div class="col s12 m6 l4 xl3" *ngFor="let s of listSolicitacoes() | paginate: {itemsPerPage: 8, currentPage:pageSolicitacoes, id: 'solicitacoes'}; let i = index">
                <a (click)="openModalEdit(s, f)">
                    <div class="card card-escritor">
                        <img src="https://pbs.twimg.com/profile_images/817091464731693057/5RSuRSGK.jpg" class="img-escritor row">
                        <div class="content row">
                            <div class="nome"> {{ s.nick }} </div>
                            <div class="dados">
                            nome: {{ s.nome }}<br>
                            CPF: {{s.cpf | cpfCnpj }}  <br>
                            Solicitado: {{ s.created_at | date:"dd/MM/yyyy" }} <br>
                            Status: {{ s.status == 'r' ? 'Recusado' : 'Pendente'}}
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        </div>

        <div class="col s12 m12 l12 xl12">
            <ul class="collapsible list" *ngIf="mSolicitacao != 1 && listSolicitacoes() != false">
                <li>
                    <div class="list-item header">
                        <div class="col s3 m3 l2 xl2 item">
                            Usuário
                        </div>
                        <div class="col s4 m4 l3 xl2 item">
                            Nome
                        </div>
                        <div class="col s3 m4 l2 xl2 item">
                            Cpf / Cnpj
                        </div>
                        <div class="col s4 m4 l2 xl2 item">
                            Email
                        </div>
                        <div class="col s2 m2 l2 xl2 item">
                            Solicitado
                        </div>
                        <div class="col s1 m1 l1 xl1 item">
                            Status
                        </div>
                        <div class="option-icons col s2 m2 l1 xl1 right-align item">
                            <div class="margin-right-1">Analisar</div>
                        </div>
                    </div>
                </li>
                <li *ngFor="let s of listSolicitacoes() | paginate: {itemsPerPage: 10, currentPage:pageSolicitacoes, id: 'solicitacoes'}; let i = index">
                    <div class="list-item option-icons">
                        <div class="col s3 m3 l2 xl2 item">
                            {{s.nick}}
                        </div>
                        <div class="col s4 m4 l3 xl2 item">
                            {{s.nome}}
                        </div>
                        <div class="col s3 m4 l2 xl2 item">
                            {{s.cpf | cpfCnpj }}
                        </div>
                        <div class="col s4 m4 l2 xl2 item">
                            {{s.email}}
                        </div>
                        <div class="col s2 m2 l2 xl2 item">
                            {{ s.created_at | date:"dd/MM/yyyy" }}
                        </div>
                        <div class="col s1 m1 l1 xl1 item">
                            <div *ngIf="s.status == 'r'">Recusado</div>
                            <div *ngIf="s.status == 'p'">Pendente</div>   
                        </div>
                        <div class="option-icons col s2 m2 l1 xl1">
                            <i class="material-icons" (click)="openModalEdit(s, f)">visibility</i>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pages" *ngIf="listSolicitacoes() != false">
                <li>
                    <pagination-controls (pageChange)="pageSolicitacoes = $event" id="solicitacoes"
                        maxSize="5"
                        directionLinks="true"
                        autoHide="false"
                        previousLabel=""
                        nextLabel="">
                    </pagination-controls>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="escritores" class="col s12">
        <div class="row">
            <div class="col s12 m12 l4 xl2">
                <a class="modal-trigger" (click)="openModal(f);">
                    <div class="btn new">
                        Novo
                    </div>
                </a>
            </div>
            <div class="col s12 m12 l8 xl10 search">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" name="filtro" type="search" [(ngModel)]="filtroEscritores">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <ul class="collapsible list" *ngIf="listEscritores() == false">
            <li>
                <div class="list-item option-icons">
                    <div class="col s12 m12 l12 xl12 item center-align">
                        Nenhum escritor encontrado.
                    </div>
                </div>
            </li>
        </ul>
        <div class="col s12 m12 l12 xl12 orderby" *ngIf="listEscritores() != false">
            <div class="row">
                <div class="col s6 m6 l6 xl6">
                    Ordenar:
                    <div class="input-field inline">
                        <select name="ativo" materialize="material_select" 
                                [materializeSelectOptions]="selectOptions">
                                <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col s6 m6 l6 xl6 right-align">
                    Exibir:
                    <div class="input-field inline">
                        <select name="ativo" materialize="material_select" 
                                [materializeSelectOptions]="selectSolicitacao"
                                [(ngModel)]="mEscritor">
                                <option *ngFor="let option of selectEscritor" [value]="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12 xl12" *ngIf="mEscritor == 1">
            <div class="col s12 m6 l4 xl3" *ngFor="let e of listEscritores() | paginate: {itemsPerPage: 8, currentPage:pageSolicitacoes, id: 'solicitacoes'}; let i = index">
                <a (click)="openModalEdit(e, f)">
                    <div class="card card-escritor">
                        <img src="http://www.culturamix.com/wp-content/gallery/neymar-iguala-marca-de-romario-e-pele/neymar-iguala-marca-de-romario-e-pele-13.jpg" class="img-escritor row">
                        <div class="content row">
                            <div class="nome"> {{ e.nick }} </div>
                            <div class="dados">
                            nome: {{ e.nome }}<br>
                            CPF: {{e.cpf | cpfCnpj }}  <br>
                            Status: <font *ngIf="!e.ativo">Inativo</font>
                                    <font *ngIf="e.ativo">Ativo</font>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        </div>

        <div class="col s12 m12 l12 xl12">
            <ul class="collapsible list" *ngIf="listEscritores() != false && mEscritor != 1">
                <li>
                    <div class="list-item header">
                        <div class="col s3 m3 l2 xl2 item">
                            Usuário
                        </div>
                        <div class="col s4 m4 l3 xl3 item">
                            Nome
                        </div>
                        <div class="col s3 m4 l2 xl2 item">
                            Cpf / Cnpj
                        </div>
                        <div class="col s4 m4 l3 xl3 item">
                            Email
                        </div>
                        <div class="col s2 m1 l1 xl1 item">
                            Status
                        </div>
                        <div class="option-icons col s2 m2 l1 xl1 right-align item">
                            <div class="margin-right-1">Editar</div>
                        </div>
                    </div>
                </li>
                
                <li *ngFor="let e of listEscritores() | paginate: {itemsPerPage: 10, currentPage:pageEscritor, id: 'escritores'}; let i = index">
                    <div class="list-item option-icons">
                        <div class="col s3 m3 l2 xl2 item">
                            {{e.nick}}
                        </div>
                        <div class="col s4 m4 l3 xl3 item">
                            {{e.nome}}
                        </div>
                        <div class="col s3 m4 l2 xl2 item">
                            {{e.cpf | cpfCnpj }}
                        </div>
                        <div class="col s4 m4 l3 xl3 item">
                            {{e.email}}
                        </div>
                        <div class="col s2 m1 l1 xl1 item">
                            <div *ngIf="e.status == 'i'">Inativo</div>
                            <div *ngIf="e.status == 'a'">Ativo</div>
                        </div>
                        <div class="option-icons col s2 m2 l1 xl1">
                            <i class="material-icons" (click)="openModalEdit(e, f)">mode_edit</i>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages" *ngIf="listEscritores() != false">
                <li>
                    <pagination-controls (pageChange)="pageEscritor = $event" id="escritores"
                        maxSize="5"
                        directionLinks="true"
                        autoHide="false"
                        previousLabel=""
                        nextLabel="">
                    </pagination-controls>
                </li>
            </ul>
        </div>
    </div>
</div>

