<div class="track example-2">
    <div class="inner">
        <h2>Cover 1</h2>

        <div class="view-port">
            <div id="example-2" class="slider-container big">
                <div class="item cover">
                    <img src="http://ib1.huluim.com/video/60155852?size=476x268">
                    <div class="img-area">
                        <div class="img-block">
                            <img src="http://ib3.huluim.com/video/60155850?size=220x124">
                        </div>
                        <div class="img-block">
                            <img src="http://ib4.huluim.com/video/60155851?size=220x124">
                        </div>
                    </div>
                    <div class="editorial">
                        <div class="title">
                            Carly Rose Takes on Bieber
                        </div>
                        <div class="desc">
                            The X Factor unplugged the Top 6 finalists and then had them take requests from the audience. At the top: Carly Rose Sonenclair with Justin Bieber's "As Long As You Love Me."
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <img src="http://ib2.huluim.com/video/60155853?size=220x124">
                    </div>
                    <div class="img-block">
                        <img src="http://ib3.huluim.com/video/60155854?size=220x124">
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <img src="http://ib4.huluim.com/video/60155855?size=220x124">
                    </div>
                    <div class="img-block">
                        <img src="http://ib1.huluim.com/video/60155856?size=220x124">
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <img src="http://ib2.huluim.com/video/60155857?size=220x124">
                    </div>
                    <div class="img-block">
                        <img src="http://ib4.huluim.com/video/60155859?size=220x124">
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <img src="http://ib1.huluim.com/video/60155860?size=220x124">
                    </div>
                    <div class="img-block">
                        <img src="http://ib2.huluim.com/video/60155861?size=220x124">
                    </div>
                </div>
                <div class="item">
                    <div class="img-block">
                        <img src="http://ib3.huluim.com/video/60155862?size=220x124">
                    </div>
                </div>
            </div>
        </div>

        <div class="bullet-pagination"></div>
        <div class="actions button-group">
            <a href="#" class="button primary icon reload">Restart</a>
        </div>
    </div>

    <div class="pagination">
        <a href="#" class="prev disabled"></a>
        <a href="#" class="next disabled"></a>
    </div>
</div>