<div class="cadastro">

    <div class="container">

    <p> Detalhes pessoais </p>

    <div class="area"> 
      
      <div class="menu">

        <label> Nome </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Seu primeiro nome">

      </div>
      
      <div class="menu marginless">

        <label> Nick </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="A sua marca na Rupt">

      </div>

      <div class="menu">

        <label> Idade </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Qual sua idade">

      </div>

      <div class="menu marginless">

        <label> Email </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Insira seu email">

      </div>

        <div class="menu">

        <label> Endereço </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Seu endereço atual">

        </div>

        <div class="menu marginless">

        <label> Senha </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Crie sua senha">

      </div>

        <div class="menu">

        <label> Sexo </label> 
        
        <input type="radio" name="gender" value="female"> Feminino <font style="margin-right:20px;"></font>
        
        <input type="radio" name="gender" value="male"> Masculino
       

      </div>

      <button type="submit" class="button" id="submit-contato">Cadastrar</button>



    </div>

</div>


</div>