<div class="cadastro">
  <div class="container">
    <p> Dados pessoais </p>
    
    <div class="area"> 
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="menu">
        <label> Nome </label> 
        
        <input type="text" class="input" maxlength="60" name="marca" placeholder="Seu primeiro nome" formControlName="nome">

      </div>
      <div class="menu marginless">

        <label> Nick </label> 
        
        <input type="text" class="input" maxlength="20" name="marca" placeholder="A sua marca na Rupt" formControlName="nick">

      </div>

      <div class="menu">

        <label> Nascimento </label> 
        
        <input type="text" class="input" maxlength="10" name="marca" placeholder="Qual sua idade" formControlName="nascimento">

      </div>
      <div class="menu marginless">

        <label> Email </label> 
        
        <input type="text" class="input" maxlength="30" name="marca" placeholder="Insira seu email" formControlName="email">

      </div>

      <div class="menu">
        <label> Senha </label> 
        <input type="password" class="input" maxlength="20" name="marca" placeholder="Crie sua senha" formControlName="senha">
      </div>
      <div class="menu marginless">
        <label> Confirmar Senha </label> 
        <input type="password" class="input" maxlength="20" name="marca" placeholder="Confirme sua senha" formControlName="confirma_senha">
      </div>
      <div class="menu">
          <div class="row menu-radio">
                  <input name="sexo" type="radio" id="f" value="F"/>
                  <label for="f">Feminino</label>
                  <input name="sexo" type="radio" id="m" value="M"/>
                  <label for="m">Masculino</label>
                  <input name="sexo" type="radio" id="o" value="O" />
                  <label for="o">Outro</label>
          </div>
      </div>
      
      <button type="submit" class="button" id="submit-contato">Cadastrar</button>
    </form>
      
    </div>
    
  </div>
  
</div>
