<div class="categoria">
    <div class="container">
        <div class="topico">
            <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
                <li class="menu tab col s3">
                    <a href="#page1" class=" active">
                        Em destaque
                    </a>
                </li>
                <li class="menu tab col s3">
                    <a href="#page2">
                        Últimos
                    </a>
                </li>
                <li class="menu tab col s3">
                    <a href="#page3">
                        Pessoas
                    </a>
                </li>
                <li class="menu tab col s3">
                    <a href="#page4">
                        Publicações
                    </a>
                </li>
            </ul>
        </div>


        <div id="page1">
            <app-lista></app-lista>
        </div>
        <div id="page2">
            <app-lista></app-lista>
        </div>
        <div id="page3">
            <app-lista></app-lista>
        </div>
        <div id="page4">
            <app-lista></app-lista>
        </div>
    </div>

</div>
