<div class="rodape">
    
            <div class="social-media">
                <div class="area">
                    <a href="https://www.facebook.com/rupt.news/" target="_blank"><i class="fa fa-facebook img" aria-hidden="true"></i></a>
                    <a href="https://pt.linkedin.com/company/rupt" target="_blank"><i class="fa fa-linkedin img" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/rupt.news/" target="_blank"><i class="fa fa-instagram img" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/rupt_news" target="_blank" target="_blank"><i class="fa fa-twitter img" aria-hidden="true"></i></a>
                </div>
            </div>
    
            <div class="container">

            <a routerLink="/" class="logo">
                <img src="../../../assets/img/logo2.png" class="img">
                <div class="border"></div>
            </a>

            <a routerLink="/faq" class="title" routerLinkActive="active-link">
                 <div class="info"> Faq </div>
            </a>

            <a routerLink="/contato" class="title" routerLinkActive="active-link">
                <div class="info"> Contato </div>
            </a>

            <a routerLink="/politica" class="title">
            <div class="info"> Política de privacidade e segurança </div>
            </a>

            <div class="info"> Anuncie conosco </div>
            </div>

            <a href="http://www.sitsolucoes.com.br" target="_blank">
                <div class="container-bottom">  Copyright © 2017 Sit Soluções </div>
            </a>
</div>
    