<div class="rodape">
    
            <div class="social-media">
    
                <div class="area">
    
                    <img src="../../../assets/img/face.png" class="img">
    
                    <img src="../../../assets/img/twitter.png" class="img">
    
                    <img src="../../../assets/img/insta.png" class="img">
    
                    <img src="../../../assets/img/google.png" class="img">
    
                </div>
    
            </div>
    
            <div class="container">
    
            <div class="categoria"> Categorias </div>
    
            <div class="info"> Automoveis </div>
    
            <div class="info"> Esportes </div>
    
            <div class="info"> Entreterimento </div>
    
            <div class="info"> Cinema </div>
    
            </div>
    
            <div class="container">
    
            <div class="categoria"> Fale Conosco </div>
    
            <div class="info"> Automoveis </div>
    
            <div class="info"> Esportes </div>
    
            <div class="info"> Entreterimento </div>
    
            <div class="info"> Cinema </div>
    
            </div>
    
            <div class="container">
    
            <div class="categoria"> Anuncie </div>
    
            <div class="info"> Automoveis </div>
    
            <div class="info"> Esportes </div>
    
            <div class="info"> Entreterimento </div>
    
            <div class="info"> Cinema </div>
    
            </div>
    
            <div class="container">
    
            <div class="categoria"> Trabalhe conosco </div>
    
            <div class="info"> Automoveis </div>
    
            <div class="info"> Esportes </div>
    
            <div class="info"> Entreterimento </div>
    
            <div class="info"> Cinema </div>
    
            </div>
    
            <div class="container">
    
            <div class="categoria" > Sobre </div>
    
            <div class="info"> Automoveis </div>
    
            <div class="info"> Esportes </div>
    
            <div class="info"> Entreterimento </div>
    
            <div class="info"> Cinema </div>
    
            </div>
    
        </div>
    