<div class="rodape">
    
            <div class="social-media">
    
                <div class="area">
    
                    <img src="../../../assets/img/face.png" class="img">
    
                    <img src="../../../assets/img/twitter.png" class="img">
    
                    <img src="../../../assets/img/insta.png" class="img">

                    <img src="../../../assets/img/google.png" class="img">
    
                </div>
    
            </div>
    
            <div class="container">

                <img src="../../../assets/img/logo2.png" class="img">

                <div class="border"> </div>
    
            <div class="info"> Categorias </div>
    
            <div class="info"> Faq </div>
    
            <div class="info"> Contato </div>

            <div class="info"> Política de privacidade e segurança </div>

            <div class="info"> Anuncie conosco </div>

            </div>

            <div class="container-bottom">  Copyright © 2017 Sit Soluções </div>

    

    
        </div>
    