<!--modal filtro categorias-->
<div id="ModalCategoria" class="modal modal3"
materialize="modal" [materializeParams]="[{dismissible: false}]"
[materializeActions]="modalCategoria">
<app-modal-categorias (closeModalCategoria)="closeModalCategoria($event)" [id]="leitor.id"></app-modal-categorias>
</div>


<!--publicidade-->
<div class="banner-promo">
    <div class="area">
        <div class="title"> publicidade </div>
    </div>
    <div class="container">
        <img src="../assets/img/teste.gif" class="img">
    </div>
</div>
<div class="menu-top container-categoria">
    <!--slider-->
    <slider></slider>
</div>


<div class="banner-promo banner-promo2">
    <div class="area">
        <div class="title"> publicidade </div>
    </div>
    <div class="container">
        <img src="../assets/img/banner-promo.png" class="img">
    </div>
</div>

<categorias></categorias>
    
    





