<!--modal filtro categorias-->
<div id="ModalCategoria" class="modal modal3"
    materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalCategoria">
    <app-modal-categorias (closeModalCategoria)="closeModalCategoria($event)" [id]="leitor.id"></app-modal-categorias>
</div>

<div id="modalLoading" class="loading-modal modal modal2 modal4"
    materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalLoading">
    <modal-generico [action]="'loading'" [obj]="'Carregando postagens'" (closeModalGenerico)="closeModalLoading($event)"></modal-generico>
</div>


<!--publicidade-->
<div class="banner-promo">
    <!--<div class="area">
        <div class="title"> publicidade </div>
    </div>-->
    <div class="container">
        <img src="../assets/img/C (1).png" class="img">
    </div>
</div>
<div class="menu-top container-categoria">
    <!--slider-->
    <slider (ready)="pronto($event)"></slider>
</div>


<div class="banner-promo banner-promo2">
    <div class="container">
        <img src="../assets/img/C (2).png" class="img">
    </div>
</div>

<categorias (ready)="pronto($event)"></categorias>
    
    





