
<div class="modal-content">
    <div class="title"> 
    Cadastre-se 
    <a click="#" class=" modal-action modal-close close">X</a>
    </div>

    <div class="info">

        <p> Cadastrado na RUPT, você só tem a ganhar! </p>

        <div class="subtitle">
            Estando cadastrado, você consegue visualizar todas as notícias publicadas pelos Escritores e mais, caso você tenha interesse, poderá se tornar um Escritor e ganhar dinheiro com as suas publicaçõe! Leia o <a href="#">Contrato</a> e a <a href="#">Política de Privacidade</a> ou para maiores informações: <a href="#">clique aqui </a>
        </div>

        <p> Cadastre-se utilizando as redes sociais </p>

        <div class="img-area">
            <a href="https://www.facebook.com/rupt.news/?ref=br_rs" target="_blank">
            <img src="../../../assets/img/face2.png" class="img">
            </a>
            <a href="https://pt.linkedin.com/company/rupt">
            <img src="../../../assets/img/linkedin.png" class="img">
            </a>
            <a href="https://www.instagram.com/rupt.news/" target="_blank">
            <img src="../../../assets/img/instagram.png" class="img">
            </a>
            <a href="https://twitter.com/rupt_news" target="_blank" target="_blank">
            <img src="../../../assets/img/twitter2.png" class="img">
            </a>

        </div>

        <p> ou  </p>

    
    </div>
</div>
<div class="modal-footer">
    <a click="#" class="modal-action modal-close"><div class="button"> Cancelar </div></a>
    <a (click)="redirectCadastro()"><button type="submit" class="button color button2"> Cadastrar </button></a>
</div>
