@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato|Mandali');

@font-face {
    font-family: nexa;
    src: url('../../../assets/NexaLight.otf');
}

@font-face {
    font-family: nexa-bold;
    src: url('../../../assets/Nexa Bold.otf');
}

@font-face {
    font-family: gilroy;
    src: url('../../../assets/Gilroy-Light.otf');
}

@font-face {
    font-family: gilroy-bold;
    src: url('../../../assets/Gilroy-ExtraBold.otf');
}


body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #f4f4f4;
}


.fright{
    float: right !important;
}

.clear{
    clear: both;
}

.headbar{
    height: 80px;
    width: 100%;
    background: #f97000;
    float: left;
    padding-top: 10px;
}

.headbar .img2{
    width: auto;
    height: 45px;
    display: block;
    margin-left: 10px;
    margin-top: 12px;
    float: left;
    margin-left: 70px;
}


.headbar .title{
    font-family: 'nexa-bold';
    font-size: 17px;
    display: block;
    float: left;
    color: #F6F5F5;
    width: auto;
    position: relative;
    left: 30px;
    top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.headbar .active{
    background: #B05307;
}

.headbar .headbar-right{
    float: right;
    height: 100%;
}

.headbar .login{
    float: left;
    font-family: 'nexa';
    color: #ffffff;
    margin-right: 20px;
    margin-top: 17px;
    font-size: 22px;
    text-transform: uppercase;
    outline: none;
}

.headbar .login-border{
    border: solid 1px #ffffff;
    padding: 8px 10px;
    margin-top: 12px;
    font-size: 15px;
    font-family: 'nexa-bold';
    border-radius: 5px;
}

.headbar .login-border a{
    color: #ffffff;
    text-decoration: none;
}

.headbar .login-border:hover{
    background: #ffffff;
    color: #B05307;
    transition: 1s;
}

.headbar .img{
    display: block;
    float: left;
    height: 35px;
    margin-top: 12px;
    margin-right: 70px;
}

.headbar .img3{
    display: block;
    float: left;
    height: 23px;
    margin-top: 18px;
    margin-right: 20px;
}

.banner-promo{
    height: 100px;
    width: 100%;
    display: block;
    float: left;
    margin-top: 30px;
    overflow: hidden;
}

.banner-promo .area{
    height: 10px;
    width: 100%;
    display: block;
    float: left;
    background: #f4f4f4;
}

.banner-promo .title{
    display: block;
    float: right;
    margin-right: 5%;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'nexa';
    color: #828282;
}

.banner-promo .container{
    width: 90%;
    margin-left: 5%;
    height: 100%;
    background: url('../../../assets/img/banner-pat.png');
    background-repeat:repeat;
}

.banner-promo .img{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    height: auto;
}

.menu-top{
    float: left;
    background: #E1E1E1;
}

.banner{
    width: 23%;
    height: 360px;
    float: left;
    margin-right: 1px;
    overflow:hidden;
    box-shadow: 1px 3px 1px #B9B7B7;
}

.banner .section{
    position: relative;
    bottom: 190px;
    left: 20px;
    width: auto;
    display: block;
    float: left;
    padding: 3px 8px;
    background: #f97000;
    color: #ffffff;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 14px;
}

.banner .banner-title{
    position: relative;
    bottom: 180px !important;
    left: 20px;
    width: 300px;
    height: 400px;
    color: #ffffff;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 23px;
    clear: both;
    text-shadow: 1px 1px 1px #000000;
}

.menu-top .slick-slide{
    height: 350px !important;
    outline: none;

}

.menu-top .img{
    height: 400px !important;
    width: auto;
    float: left;
}

.banner .img-container{
    position: relative;
    left: 140px;
    bottom: 415px;
    width: 140px;
}

.banner .img2{
    height: 19px;
    display: block;
    float: right;
    margin-right: 5px;
}

.banner .number{
    display: block;
    float: right;
    font-family: 'Mandali';
    font-weight: bold;
    color: #ffffff;
    font-size: 12px;
    margin-right: 5px;
    text-shadow: 1px 1px 1px #000000;
}

.container-categoria{
    width: 100%;
    display: block;
    float: left;
}

.container-categoria .title{
    font-family: 'nexa-bold';
    font-size: 20px;
    color: #454545;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.container-categoria .area{
    width: 100%;
    width: 100%;
    display: block;
    float: left;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 4%;
    padding-right: 4%;
    background: #D7D7D7;
}


.container-categoria .light{
    background: #e7e7e7;
}

.container-categoria .content{
    width: 24%;
    display: block;
    float: left;
    margin-right: 15px;
}

.container-categoria .banner-text{
    width: 300px;
    height: 250px;
    display: block;
    float: left;
    background: #ffffff;
}

.container-categoria .content-img-text{
    width: 49%;
    display: block;
    float: left;
    margin-right: 5px;
}

.container-categoria .info-img-text{
    width: 600px;
    height: 250px;
    background: #ffffff;
    display: block;
    float: left;
    box-shadow: 1px 3px 1px #B9B7B7;
}

.container-categoria .info-text{
    width: 300px;
    height: 250px;
    background: #ffffff;
    display: block;
    float: left;
    box-shadow: 1px 3px 1px #B9B7B7;
}

.info-text .title{
    display: block;
    float: left;
    width: 80%;
    height: 60px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 17px;
}

.info-text .text{
    width: 80% !important;
}

.info-text .info-post{
    width: 100% !important;
}

.container-categoria .banner-img-text{
    display: block;
    float: left;
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 1px 3px 1px #B9B7B7;
}

.container-categoria .shadow{
    filter: brightness(85%);
}

.container-categoria .img{
    width: auto;
    height: 250px;
}

.container-categoria .img-container{
    position: relative;
    left: 190px;
    bottom: 290px;
    width: 200px;
}

.img-container .title{
    font-family: 'nexa-bold';
    color: #ffffff;
    width: 100%;
    height: 150px;
    position: relative;
    right: 70px;
    top: 10px;
    text-shadow: 2px 1px 1px #000000;
}

.container-categoria .img-container-duplo{
    left: 90px;
    bottom: 250px;
    margin-top: 10px;
}

.container-categoria .img2{
    height: 20px;
    display: block;
    float: right;
    margin-right: 5px;
}

.container-categoria .number{
    font-family: 'Mandali';
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    display: block;
    float: right;
    margin-right: 5px;
    text-shadow: 1px 1px 1px #000000;
}


.info-img-text .title{
    display: block;
    float: left;
    width: 40%;
    height: 60px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 17px;
}

.container-categoria .text{
    display: block;
    float: left;
    width: 40%;
    height: 80px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'gilroy';
    color: #706F6F;
}

.container-categoria .info-post{
    height: 100px;
    display: block;
    float: left;
    position: relative;
    top: 0px;
    left: 20px;
    width: 45%;
}

.info-post2{
    width: 150% !important;
    left: -70px !important;
    top: 15px !important;
}

.info-post2 p{
    color: #ffffff !important;
    text-shadow: 2px 1px 1px #000000;
}

.info-post2 .time{
    color: #ffffff !important;
    text-shadow: 2px 1px 1px #000000;
}

.container-categoria .img-person{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    display: block;
    float: left;
}

.img-person .img{
    height: 100%;
}

.info-post .img-cal{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-top: 18px;
    margin-left: 20px;
}

.info-post .time{
    font-family: 'gilroy-bold';
    font-weight: bold;
    font-size: 13px;
    color: #646363;
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.info-post p{
    width: 60px;
    display: block;
    float: left;
    font-family: 'gilroy-bold';
    font-weight: bold;
    font-size: 13px;
    color: #646363;
    margin-left: 10px;
    margin-top: 10px;
}

.container-categoria .underline{
    height: 3px;
    width: 50px;
    background: #f97000;
    margin-bottom: 20px;
}

.container-slider{
    width: 100%;
    display: block;
    float: left;
    padding-top: 40px;
    padding-bottom: 120px;
    background: #f4f4f4;
    padding-left: 5%;
    padding-right: 5%;
}

.container-slider .info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: block;
    float: left;
}

.slider-img  .title{
    font-family: 'nexa-bold';
    font-size: 28px;
    color: #000000;
}

* {
      box-sizing: border-box;
}

.slider {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.slider-img{
    overflow: hidden;
    width: 300px;
    height: 250px;
    outline: none;
    display: block;
    float: left;
    background: #ffffff;
}

.slider-img-text{
    overflow: hidden;
    width: 600px;
    height: 250px;
    outline: none;
    display: block;
    float: left;
}

.slick-slide {
    margin: 0px 2px;
    height: 250px;
}

.slick-slide2 {
    margin: 0px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slider .title{
    position: relative;
    bottom: 60px;
    font-family: 'nexa-bold';
    color: #ffffff;
    margin-right: 20px;
    margin-left: 15px;
    text-shadow: 2px 1px 1px #000000;
    font-size: 18px;
}

.rodape{
    width: 100%;
    display: block;
    float: left;
    background: #242729;
}

.rodape .social-media{
    height: 60px;
    width: 100%;
    display: block;
    float: left;
}

.social-media .area{
    height: 60px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.social-media p{
    width: 420px;
    font-family: 'nexa-bold';
    font-size: 21px;
    color: #ffffff;
    display: block;
    float: left;
    margin: 0px;
    margin-left: 30%;
    margin-top: 18px;
}

.social-media .img{
    height: 45px;
    display: block;
    float: left;
    margin-top: 18px;
    margin-right: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding: 10px;
}

.rodape .container{
    width: 200px;;
    display: block;
    float: left;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.rodape .categoria{
    display: block;
    float: left;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 10px;
}

.rodape .info{
    margin-top: 15px;
    display: block;
    float: left;
    font-family: 'gilroy';
    color: #ffffff;
    clear: both;
    font-size: 16px;
}

/* modal  */

.modal{
    overflow: hidden;
    max-height: 80%;
    border-radius: 5px;
}

.modal .close{
    width: 25px;
    color: #fff;
    float: right;
    font-size: 20px;
    border: solid 1px #fff;
    border-radius: 100px;
    margin-right: 10px;
    background: #ffffff;
    color: #f97000;
}

.modal .close:hover{
    background: #f97000;
    color: #fff;
}

.modal .modal-content{
    padding: 0px;
}

.modal-content .title{
    width: 100%;
    display: block;
    float: left;
    background: #f97000;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'nexa-bold';
}

.modal-content .info{
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    font-family: 'nexa';
}

.modal-content .info p{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #4f4f4f;
    margin-bottom: 15px;
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-content .info .subtitle{
    display: block;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'gilroy';
    line-height: 22px;
    font-weight: bold;
    color: #696969;
    text-align: center;
}

.modal-content .info .align{
    text-align: left;
}

.modal-content .info .img{
    height: 30px;
    display: block;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    position: relative;
    left: 38%;
}

.modal-content .register{
    width: 100%;
    display: block;
    float: left;
    font-family: 'gilroy';
    padding-left: 50px;
    padding-right: 20px;
}

.modal-content .register .title2{
    display: block;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #4d4d4d;
}

.modal-content .register .box{
    display: block;
    width: 46%;
    float: left;
}

.clear{
    clear: both;
}

.modal-content .button{
    display: block;
    float: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border: none;
    width: 200px !important;
    height: 20px !important;
    font-family: 'gilroy';
    font-weight: bold;
    color: #363636;
    font-size: 17px !important;
}

.modal-content .button2{
    display: block;
    float: left;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    border: none;
    width: 200px !important;
    height: 40px !important;
    position: relative;
    bottom: 10px;
    border-bottom: 1px solid #9C9C9C;
}

.modal-footer{
    width: 100%;
    height: auto !important;
    display: block;
    margin-top: 20px;
    float: left;
    border-top: 1px solid #ccc;
}

.modal-footer .button{
    width: auto;
    display: block;
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #9C9C9C;
    text-transform: uppercase;
    font-family: 'nexa-bold';
    font-size: 13px;
    color: #4f4f4f;
    border-radius: 5px;
}

.modal-footer .button:hover{
    position: relative;
    bottom: 2px;
}

.modal-footer .color{
    background: #f97000;
    border: 1px solid #f97000;
    color: #ffffff;
}

[type="radio"]:not(:checked), [type="radio"]:checked{
    opacity: .9;
    left: 0px;
    position: relative;
    left: 15px;
    top: 3px;
    display: block;
    float: left;
    margin-left: 50px;
}