<div class="modal-content">
  <div class="title">
    <span *ngIf="action == 'denuncia'">Denunciar</span>
    <span *ngIf="action == 'mensagemDenuncia'">Denuncia Enviada</span>
    <span *ngIf="action == 'rascunho'">Rascunho</span>
    <!--Compartilhar -->
    <!-- Deu certo -->
    <a click="#" class="modal-action modal-close close">x</a>
  </div>

  <div class="generico-modal">
    <app-news [rascunho]="true" *ngIf="action == 'rascunho' && obj" [rascunhoForm]="obj"></app-news> 
    <!-- Exemplo denuncia
    <div name="denuncia" *ngIf="action == 'denuncia'">
        <button type="button" class="button" (click)="denuncia(m.id)" *ngFor="let m of motivos">{{m.motivo}}</button>
    </div>
    <div name="mensagem" *ngIf="action == 'mensagemDenuncia'">
      <div class="text"> {{mensagem}}</div>
      <button type="submit" class="button" id="submit-contato" (click)="closeModal()" >OK</button>
    </div>
    -->


    <!-- Exemplo com mensagem de feedback
    -->

    <!-- Exemplo com Redes sociais
   <div class="social-media2">

     <p> <b>Deseja compartilhar em suas redes sociais?</b> </p>

     <div class="icons">

       <img src="../../../assets/img/face2.png" class="img">

       <img src="../../../assets/img/linkedin.png" class="img img2">

       <img src="../../../assets/img/twitter2.png" class="img">

     </div>

   </div>
   -->
  </div>

</div>