<div class="modal-content">
  <div class="title">
    Denunciar
    <!--Compartilhar -->
    <!-- Deu certo -->
    <a click="#" class=" modal-action modal-close close">x</a>
  </div>

  <div class="generico-modal">


    <!-- Exemplo com mensagem de feedback
    <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper justo erat. Nulla dignissim, justo eu cursus congue, neque odio tempor dui, et semper libero tortor at risus. Proin enim enim, sagittis sodales convallis nec, consequat sed orci. Vivamus vel lectus lorem. Quisque imperdiet lacinia risus, a tempor enim ultrices ac.  </div>
    <button type="submit" class="button" id="submit-contato">OK</button>
    </div>
    -->

    <!-- Exemplo com Redes sociais
   <div class="social-media2">

     <p> <b>Deseja compartilhar em suas redes sociais?</b> </p>

     <div class="icons">

       <img src="../../../assets/img/face2.png" class="img">

       <img src="../../../assets/img/linkedin.png" class="img img2">

       <img src="../../../assets/img/twitter2.png" class="img">

     </div>

   </div>
   -->

    <textarea rows="4" cols="50" class="text-area" placeholder="Escreva o motivo de sua insatisfação"></textarea>


  </div>

</div>