@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato|Mandali');

@font-face {
    font-family: nexa;
    src: url('/assets/NexaLight.otf');
}

@font-face {
    font-family: nexa-bold;
    src: url('/assets/NexaBold.otf');
}

@font-face {
    font-family: gilroy;
    src: url('/assets/Gilroy-Light.otf');
}

@font-face {
    font-family: gilroy-bold;
    src: url('/assets/Gilroy-ExtraBold.otf');
}


body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #f2f2f2;
    font-family: lato;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) 
{
  width: auto;
  background: #fff;
  padding-left: 10px;
  border-radius: 3px;
  font-size: 16px;
  color: #363636;
  height: 40px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: none!important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border: 1px solid #dedede;
  box-shadow: none;
  transition: 0px;
  background: #fff;
}

.invalid{
    border: 1px solid #F44336 !important;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -20px;
}

[type="radio"]:not(:checked), [type="radio"]:checked{
  opacity: 1.0;
  position: relative;
  margin-right: 3px;
}


.fright{
    float: right !important;
}

.clear{
    clear: both;
}

.headbar{
    height: 60px;
    width: 100%;
    background: #f97000;
    float: left;
}

.headbar .search{
    display: block;
    float: left;
    width: 25% !important;
    height: 30px !important;
    background: #fff;
    border: 1px solid #fff !important;
    margin-left: 30px !important;
    margin-top: 15px !important;
    border-radius: 2px;
}


.headbar .title{
    font-family: 'nexa-bold';
    font-size: 16px;
    display: block;
    float: left;
    color: #FFFDFD;
    width: auto;
    height: 100%;
    position: relative;
    left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.headbar .active{
    background: #B05307;
}

.headbar .headbar-right{
    float: right;
    height: 100%;
    padding-right: 60px;
}

.headbar .headbar-right p{
    display: block;
    float: left;
    color: #fff;
    font-family: 'gilroy-bold';
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 20px;
}

.headbar .headbar-right .btn{
    background: none;
    box-shadow: none;
    padding-left: 15px;
    padding-right: 0px;
}

.headbar .headbar-right .notificacao{
    display: block;
    float: left;
    position: absolute;
    right: 90px;
    top: 13px;
    color: #fff;
    width: 15px;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    height: 15px;
    border-radius: 100%;
    background: red;
    color: #fff;
}

.headbar .headbar-right .dropdown-content li > a{
    font-size: 14px;
    text-align: center;
    color: #000;
    background: #fff;
}

.headbar-right .dropdown-content{
    top: 60px !important;
    width: 130px !important;
}

.headbar .headbar-right .dropdown-content li > a:hover{
    background: #f97000;
    color: #fff;
}

.headbar .login{
    float: left;
    font-family: 'nexa';
    color: #ffffff;
    margin-left: 10px;
    margin-right:  10px;
    margin-top: 15px;
    font-size: 22px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.headbar .login-border{
    border: solid 1px #ffffff;
    padding: 7px 10px;
    margin-top: 12px;
    font-size: 15px;
    font-family: 'nexa-bold';
    border-radius: 5px;
}

.headbar .login-border a{
    color: #ffffff;
    text-decoration: none;
}

.headbar .login-border:hover{
    background: #ffffff;
    color: #B05307;
    transition: 1s;
}

.headbar .img{
    display: block;
    float: left;
    height: 30px;
    margin-top: 13px;
}

.headbar .img2{
    width: auto;
    height: 40px;
    display: block;
    margin-left: 10px;
    margin-top: 13px;
    float: left;
    margin-left: 60px;
}

.headbar .img3{
    display: block;
    float: left;
    height: 20px;
    margin-top: 10px;
}

.headbar .headbar-right .area-img{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: block;
    margin-top: 8px;
    float: left;
    margin-left: 15px;
    overflow: hidden;
}

.headbar .img4{
    height: 60px;
}

.headbar .img5{
    display: block;
    float: left;
    height: 18px;
    margin-top: 21px;
    position: relative;
    right: 30px;
}

.headbar .img6{
    height: 20px;
    margin-top: 20px;
}

.banner-promo{
    height: 120px;
    width: 100%;
    display: block;
    float: left;
    padding-top: 30px;
    overflow: hidden;
}

.banner-promo2{
    height: 250px;
    margin-bottom: 20px;
}

.banner-promo .area{
    height: 10px;
    width: 100%;
    display: block;
    float: left;
}

.banner-promo .title{
    display: block;
    float: right;
    margin-right: 5%;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'nexa';
    color: #666666;
    font-weight: bold;
}


.banner-promo .container{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
    height: 100%;
    background: url('/assets/img/banner-pat.png');
    background-repeat:repeat;
    overflow: hidden;
}

.banner-promo .img{
    display: block;
    margin: 0 auto;
    max-width: 1100px;
}

.menu-top{
    float: left;
}

.banner{
    width: 23%;
    height: 360px;
    float: left;
    margin-right: 1px;
    overflow:hidden;
    box-shadow: 1px 3px 1px #B9B7B7;
}

.banner .section{
    position: relative;
    bottom: 200px;
    left: 20px;
    width: auto;
    display: block;
    float: left;
    padding: 3px 8px;
    background: #f97000;
    color: #ffffff;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 14px;
}

.banner .banner-title{
    position: relative;
    bottom: 190px !important;
    left: 20px;
    width: 300px;
    height: 400px;
    color: #ffffff;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 23px;
    clear: both;
    text-shadow: 1px 1px 1px #000000;
    line-height: 30px;
}

.menu-top .slick-slide{
    height: 350px !important;
    outline: none;

}

.menu-top .img{
    height: 400px !important;
    width: auto;
    float: left;
}

.banner .img-container{
    position: relative;
    left: 140px;
    bottom: 415px;
    width: 140px;
}

.banner .img2{
    height: 19px;
    display: block;
    float: right;
    margin-right: 5px;
}

.banner .number{
    display: block;
    float: right;
    font-family: 'Mandali';
    font-weight: bold;
    color: #ffffff;
    font-size: 12px;
    margin-right: 5px;
    text-shadow: 1px 1px 1px #000000;
}

.container-categoria{
    width: 100%;
    display: block;
    float: left;
}

.container-categoria .title{
    font-family: 'nexa-bold';
    font-size: 20px;
    color: #454545;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.container-categoria .title2{
  background: #f97000;
  display: block;
  float: left;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 100%;
  margin-bottom: 10px;
  clear: both;
}

.container-categoria .area{
    width: 100%;
    width: 100%;
    display: block;
    float: left;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
}


.container-categoria .light{
    background: #e7e7e7;
}

.container-categoria .content{
    width: 24%;
    display: block;
    float: left;
    margin-right: 15px;
}

.container-categoria .banner-single{
    width: 100%;
    height: 250px;
    display: block;
    float: left;
    background: #ffffff;
    overflow: hidden;
}

.container-categoria .content-img-text{
    width: 48%;
    display: block;
    float: left;
    margin-right: 15px;
}

.container-categoria .info-img-text{
    width: 100%;
    height: 250px;
    background: #ffffff;
    display: block;
    float: left;
}

.container-categoria .info-text{
    width: 100%;
    height: 250px;
    background: #ffffff;
    display: block;
    float: left;
}

.info-text .title{
    display: block;
    float: left;
    width: 80%;
    height: 60px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 17px;
    line-height: 22px;
}

.info-text .text{
    width: 80% !important;
}

.info-text .info-post{
    width: 100% !important;
}

.container-categoria .banner-img-text{
    display: block;
    float: left;
    width: 50%;
    height: 250px;
    overflow: hidden;
    margin-right: 10px;
}

.container-categoria .banner-solo{
    width: 100%;
    float: left;
}

.container-categoria .shadow{
    filter: brightness(75%);
}

.container-categoria .img{
    width: auto;
    height: 250px;
    filter: brightness(75%);
}

.container-categoria .img-container{
    position: relative;
    left: 170px;
    bottom: 290px;
    width: 200px;
}

.img-container .title{
    font-family: 'nexa-bold';
    color: #ffffff;
    width: 100%;
    height: 150px;
    position: relative;
    right: 60px;
    top: 10px;
}

.container-categoria .img-container-duplo{
    left: 70px;
    bottom: 250px;
    margin-top: 10px;
}

.container-categoria .img2{
    height: 20px;
    display: block;
    float: right;
    margin-right: 5px;
}

.container-categoria .number{
    font-family: 'Mandali';
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    display: block;
    float: right;
    margin-right: 5px;
    text-shadow: 1px 1px 1px #000000;
}


.info-img-text .title{
    display: block;
    float: left;
    width: 235px;
    height: 60px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 17px;
    line-height: 22px;
}

.container-categoria .text{
    display: block;
    float: left;
    width: 235px;
    height: 90px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: lato;
    color: #828181;
    line-height: 22px;
}

.container-categoria .info-post{
    height: 100px;
    display: block;
    float: left;
    position: relative;
    top: 0px;
    left: 15px;
    width: 48%;
}

.info-post2{
    width: 145% !important;
    left: -60px !important;
    top: 15px !important;
}

.info-post2 p{
    color: #ffffff !important;
    text-shadow: 2px 1px 1px #000000;
}

.info-post2 .time{
    color: #ffffff !important;
    text-shadow: 2px 1px 1px #000000;
}

.container-categoria .img-person{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    display: block;
    float: left;
    margin-left: 5px;
}

.container-categoria .info-post .area-post{
  display: block;
  float: right;
  width: auto;
  margin-right: 40px; 
}

.img-person .img{
    height: 100%;
}

.info-post .img-cal{
    height: 25px;
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.info-post .time{
    font-family: 'gilroy';
    font-weight: bold;
    font-size: 13px;
    color: #646363;
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

.info-post p{
    width: 60px;
    display: block;
    float: left;
    font-family: 'gilroy';
    font-weight: bold;
    font-size: 13px;
    color: #646363;
    margin-left: 10px;
    margin-top: 5px;
}

.container-categoria .underline{
    height: 3px;
    width: 100px;
    background: #f97000;
    margin-top: 10px;
}

.container-slider{
    width: 100%;
    display: block;
    float: left;
    padding-top: 40px;
    padding-bottom: 80px;
    background: #ededed;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0px;
}

.container-slider .info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: block;
    float: left;
}

.slider-img  .title{
    font-family: 'nexa-bold';
    font-size: 28px;
    color: #000000;
}

* {
      box-sizing: border-box;
}

.slider {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.slider-img{
    overflow: hidden;
    width: 300px;
    height: 250px;
    outline: none;
    display: block;
    float: left;
    background: #ffffff;
}

.slider-img-text{
    overflow: hidden;
    width: 600px;
    height: 250px;
    outline: none;
    display: block;
    float: left;
}

.slick-slide {
    margin: 0px 2px;
    height: 250px !important;
    margin-left: 0px;
    margin-right: 5px;
}

.slick-slide2 {
    margin: 0px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slider .title{
    position: relative;
    bottom: 60px;
    font-family: 'nexa-bold';
    color: #ffffff;
    margin-right: 20px;
    margin-left: 15px;
    font-size: 18px;
}

.rodape{
    width: 100%;
    display: block;
    float: left;
    background: #242729;
}

.rodape .social-media{
    width: 90%;
    margin-left: 5%;
    display: block;
    float: left;
    border-bottom: 1px solid #525252;
}

.social-media .area{
    height: 40px;
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.social-media p{
    width: 420px;
    font-family: 'nexa-bold';
    font-size: 21px;
    color: #ffffff;
    display: block;
    float: left;
    margin: 0px;
    margin-left: 30%;
    margin-top: 18px;
}

.social-media .img{
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    padding: 10px;
    width: 45px;
}

.rodape .container{
    display: block;
    width: 90%;
    float: left;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 5%;
}

.rodape .container .border{
    width: 1px;
    height: 30px;
    display: block;
    float: left;
    background: #ccc;
    margin-right: 40px;
}

.rodape .container .img{
    height: 40px;
    display: block;
    float: left;
    margin-right: 40px;
}

.rodape .container-bottom{
    width: 90%;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 30px;
    display: block;
    float: left;
    border-top: 1px solid #525252;
    text-align: center;
    color: #AAAAAA;
    font-size: 13px;
}

.rodape .categoria{
    display: block;
    float: left;
    font-family: 'nexa-bold';
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 10px;
}

.rodape .info{
    margin-top: 5px;
    margin-right: 20px;
    display: block;
    float: left;
    font-family: 'gilroy';
    font-weight: bolder;
    color: #AAAAAA;
    font-size: 15px;
}

/* modal  */

.modal{
    overflow: hidden;
    max-height: 80%;
    border-radius: 5px;
}

.modal .close{
    width: 30px;
    color: #fff;
    float: right;
    font-size: 20px;
    border: solid 1px #fff;
    border-radius: 100px;
    margin-right: 20px;
    background: #ffffff;
    color: #f97000;
}

.modal .close:hover{
    background: #f97000;
    color: #fff;
}

.modal .modal-content{
    padding: 0px !important;
}

.modal-content .title{
    width: 100%;
    display: block;
    float: left;
    background: #f97000;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'nexa-bold';
}

.modal-content .info{
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    font-family: 'nexa';
}

.modal-content .info p{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    font-family: 'lato';
    font-weight: bold;
    color: #595858;
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modal-content .info .subtitle{
    display: block;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
    font-family: Lato;
    color: #8A8A8A;
}

.modal-content .info .subtitle a{
  text-decoration: underline;
}

.modal-content .info .align{
    text-align: left;
}

.modal-content .info .img-area{
  width: 240px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 5px;
}

.modal-content .info .img{
    height: 60px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    position: relative;
}

.modal-content .info .img{

}

.modal-content .register{
    width: 100%;
    display: block;
    float: left;
    border-top: 1px solid #E8E8E8;
    font-family: 'gilroy';
    padding-left: 50px;
    padding-right: 20px;
}

.modal-content .register .title2{
    display: block;
    float: left;
    text-align: left;
    font-family: 'nexa-bold';
    font-size: 17px;
    margin-right: 10px;
    color: #4E4E4E;
}

.modal-content .register .box{
    display: block;
    width: 46%;
    float: left;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 15px;
    text-align: center;
}

.clear{
    clear: both;
}

.modal-content .button{
    display: block;
    float: left;
    padding: 8px !important;
    padding-left: 2px !important;
    border-bottom: 1px solid #ccc !important;
    width: 250px !important;
    height: 20px !important;
    font-family: 'gilroy';
    background-color: transparent !important;
    font-weight: bold;
    color: #363636;
    font-size: 19px !important;
}

.modal-content .button2{
    display: block;
    float: left;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    border: none;
    width: 200px !important;
    height: 40px !important;
    position: relative;
    bottom: 5px;
    clear: both;
    outline: none;
    border-bottom: 1px solid #9C9C9C;
}

.modal-content .img{
    height: 35px;
}

.modal-content .title2{
    padding-bottom: 0px;
}

.modal-footer{
    height: auto !important;
    display: block;
    margin: 0 auto;
    width: 40% !important;
}

.modal-footer .button{
    width: auto;
    display: block;
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    background: #d9d9d9;
    text-transform: uppercase;
    font-family: 'nexa-bold';
    font-size: 13px;
    color: #4f4f4f;
    border-radius: 5px;
}

.modal-footer .button:hover{
    position: relative;
    bottom: 2px;
    opacity: .8;
}

.modal-footer .color{
    background: #f97000;
    border: 1px solid #f97000;
    color: #ffffff;
}

.modal-footer .color:hover{
  opacity: .8;
}

/*---------------- user ---------- */

.user{
    float: left;
    width: 100%;
}

.user .capa{
    display: block;
    float: left;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.capa .img{
    height: auto;
    width: 100%;
}

.user .area{
    display: block;
    float: left;
    height: 70px;
    width: 70%;
    background: #fff;
    padding-left: 30px;
    padding-top: 13px;
    margin-top: 10px;
}

.user .area .info{
  display: block;
  float: left;
}

.user .area .write-area{
    display: block;
    float: right;
    width: 150px;
    height: 50px;
    margin-right: 40px;
    overflow: hidden;
}

.user .area .img3{
    height: 40px;
    display: block;
    float: left;
    margin-top: 2px;
}

.user .area .write-area p{
    font-size: 13px;
    font-weight: bolder;
    width: 100px;
    display: block;
    float: right;
    margin-top: 0px;
    color: #f97000;
}

.user .area .title{
  display: block;
  float: left;
  font-family: 'gilroy-bold';
  font-size: 19px;
}

.user .area .subtitle{
  font-family: 'lato';
  font-size: 16px;
  clear: both;
  color: #696969;
  position: relative;
  bottom: 5px;
}

.user .area .img{
  display: block;
  float: left;
  height: 30px;
  position: relative;
  bottom: 2px;
}

.user .button{
    display: block;
    float: right; 
    margin-left: 10px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: 600;
    background: #005a87;
    border-radius: 2px;
    position: relative;
    right: 30px;
}

.user .button-orange{
  background: #f97000;
}

.user .bio{
    display: block;
    float: left;
    width: 25%;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    bottom: 100px;
    font-family: lato;
}

.user .bio .profile{
    display: block;
    float: left;
    height: 200px;
    overflow: hidden;
    width: 200px;
    border-radius: 100%;
    box-shadow: 1px 3px 1px #B9B7B7;
    margin-bottom: 20px;
    border: 5px solid #fff;
}

.user .bio .profile .img{
  width: 250px;
}

.user .bio .info{
    clear: both;
    display: block;
    float: left;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    line-height: 22px;
}

.user .bio .info .img{
    height: 15px;
    top: 3px;
    margin-right: 3px;
}

.user .bio .info .gray{
    color: #696969;
    font-size: 14px;
}

.user .feed{
    display: block;
    float: left;
    width: 50%;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user .feed .status{
  display: block;
  float: left;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  background: #fff;
}

.user .feed .status .menu{
  height: 100%;
  display: block;
  float: left;
  position: relative;
  left: 5%;
  margin-right: 50px;
  padding-top: 14px;
  font-family: 'nexa-bold';
  text-align: center;
  font-size: 15px;
  color: #4f4f4f; 
}

.user .feed .status .active{
  color: #f97000;
  border-bottom: 3px solid #f97000;
}

.user .feed .status .menu .title{
  font-size: 16px;
  font-family: 'gilroy-bold';
}

.user .feed .post{
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
}

.user .feed .post .img-area{
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: 10px;
    overflow: hidden;
}

.user .feed .post .img{
    height: 70px;
}

.user .feed .post .img2{
   height: 10px;
   margin-left: 5px;
   margin-top: 27px;
}

.user .feed .post .img5{
    height: 18px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 0px;
}

.user .feed .post .title{
    display: block;
    float: left;
    font-size: 15px;
    font-family: 'nexa-bold';
    margin-top: 20px;
    margin-left: 15px;
    color: #4F4F4F;
}

.user .feed .post .title2{
  font-family: 'lato';
  color: #696969;
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
}

.user .feed .post .info{
  display: block;
  float: left;
  width: 80%;
  padding-left: 15px;
  margin-top: 5px;
  overflow: hidden;
}

.user .feed .post .info .border{
  margin-top: 10px;
  overflow: hidden;
  max-height: 260px;
}

.user .feed .post .info .img3{
  width: auto;
  max-height: 250px;
  padding: 1px;
  filter: brightness(70%);
}

.user .feed .post .info .new{
    display: block;
    float: left;
    position: relative;
    bottom: 110px;
    color: #fff;
    width: 90%;
    max-height: 95px;
    overflow: hidden;
    font-size: 23px;
    line-height: 30px;
    font-family: 'nexa-bold';
    padding-left: 20px;
    padding-right: 100px;
    letter-spacing: -1px;
}

.user .feed .post .status{
  display: block;
  float: left;
  width: 40%;
  height: 40px;
  border-bottom: 0px;
  padding-top: 5px;
  font-size: 12px;
  color: #696969;
  font-weight: bold;

}


.user .feed .post .status .img4{
  height: 20px;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.user .feed .search{
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.user .feed .search .input-search{
    width: 90%;
    height: 40px;
    display: block;
    float: left;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1) !important;
}

.user .feed .search input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]){
    background: #fff;
    border: 1px solid #fff;
}

.user .feed .search .img6{
    height: 20px;
    display: block;
    float: left;
    position: relative;
    right: 35px;
    top: 20px;
}

.user .patrocinio{
  display: block;
  float: left;
  width: 20%;
  margin-left: 2%;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.user .patrocinio .img{
  width: auto;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/*---------------- news ---------- */

.news{
  float: left;
  width: 100%;
  padding-bottom: 60px;
}

.news .area-top{
  height: 150px;
  width: 70%;
  margin-left: 70px;
  margin-top: 50px;
  padding-top: 30px;
}

.news .area-top .tag-menu{
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 50px;
}

.news .area-top .tag{
  width: 100px;
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-family: 'gilroy';
  padding: 4px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.news .area-top .red{
  background: #8B1A1A;
}

.news .area-top .black2{
  background: #414141;
}

.news .area-top .tag .img{
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.news .area-top .title{
  display: block;
  margin: 0 auto;
  width: 85%;
  font-size: 34px;
  line-height: 50px;
  color: #3b3b3b;
  font-family: 'gilroy-bold';
  text-align: center;
    letter-spacing: -2px;
}

.news .container{
  display: block;
  float: left;
  margin-top: 50px;
  width: 70%;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 60px;
}

.news .container .area{
  display: block;
  float: left;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding-left: 20px;
  padding-top: 15px;
  font-family: lato;
  font-size: 13px;
}

.news .container .area .img{
  height: 10px;
}

.news .container .area .name{
  font-family: 'gilroy-bold';
  color: #575757;
    font-size: 18px;
}

.news .container .area .social{
  display: block; 
  float: right;
}

.news .container .area .social p{
    margin: 0px;
    clear: none;
    display: block;
    float: left;
    font-family: lato;
    font-weight: bolder;
    margin-right: 2px;
    margin-top: 2px;
    color: #707070;
}

.news .container .area .social .img{
  height: 20px;
  margin-right: 15px;
  display: block;
  float: left;
}

.news .container .frame{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  overflow: hidden;
}

.news .container .frame .img{
  display: block;
  margin: 0 auto;
  width: auto;
  height: 300px;
}

.news .container .frame .subtitle{
  display: block;
  float: left;
  width: 100%;
  font-family: 'nexa';
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.news .container .frame .info{
  padding-bottom: 60px;
  font-size: 18px;
  font-family: 'Lato';
  line-height: 38px;
  color: #4F4F4F;
}

.news .container .fb-size{
  width: 100%;
}

.news .fb-comments span{
  width: 100% !important;
}

.news .top-view{
  display: block;
  float: left;
  background: #fff;
  width: 18%;
  margin-left: 30px;
  margin-top: 50px;
}

.news .top-view-left{
  margin-left: 40px;
  margin-right: 20px;
}

.news .top-view p{
  font-family: 'gilroy-bold';
  font-size: 18px;
  padding-left: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E8E8E8;
  color: #575757;
}

.news .top-view .info{
  display: block;
  float: left;
  overflow: hidden;
  width: 90%;
  margin-left: 10px;
  height: 130px;
}

.news .top-view .info .img{
  width: auto;
  display: block;
  margin: 0 auto;
  height: 120px;
  filter: brightness(85%);
}

.news .top-view .info .label{
  height: 42px;
  overflow: hidden;
  position: relative;
  bottom: 50px;
  left: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding-right: 45px;
  line-height: 22px;
}

.contato{
  float: left;
  width: 100%;
  margin-bottom: 60px;
}

.contato .title{
  display: block;
  float: left;
  width: 30%;
  margin-bottom: 80px;
  font-family: 'nexa-bold';
  font-size:35px;
  color: #403d3d;
  position: relative;
  left: 70px;
  top: 60px;
}

.contato .underline{
  background: #f97000;
  height: 2px;
  width: 50px;
}

.contato .img-logo{
  display: block;
  float: right;
  margin-right: 70px;
  height: 150px;
  margin-top: 50px;
}

.contato .img-logo2{
  height: 80px;
  margin-top: 70px;
}

.contato .menu{
  display: block;
  float: left;
  width: 60%;
  margin-left: 70px;
  margin-top: 20px;
  clear: both;
}

.contato .menu .label{
  font-size: 18px;
  color: #4C4B4B;
  font-family: 'lato';
  font-weight: bold;
  margin-bottom: 5px;
}

.contato .menu .input{
  width: 100% !important;
  height: 40px !important;
  font-size: 16px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.contato .menu .input-area{
  background-color: #fff;
  width: 100% !important;
  border: 1px solid #dedede !important;
  height: 150px !important;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  border-radius: 4px;
}

.contato .img{
  float: right;
  margin-right: 60px;
  position: relative;
  top: 240px;
  height: 200px;
}

.contato .button{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	outline: none;
	display: block;
	float: right;
	margin-bottom: 20px;
	margin-top: 10px;
	background: #f97000;
	border: 1px solid #f97000;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: nexa-bold;
	clear: both;
}

.contato .button:hover{
  opacity: .8;
}


/*---------------- faq ---------- */

.faq{
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.faq .title{
    display: block;
    float: left;
    width: 40%;
    margin-bottom: 120px;
    font-family: 'nexa-bold';
    font-size:34px;
    color: #403d3d;
    position: relative;
    left: 70px;
    top: 60px;
}

.faq .title2{
  top: 100px;
}

.faq .underline{
    background: #f97000;
    height: 2px;
    width: 50px;
}

.faq .img-logo{
  display: block;
  float: right;
  margin-right: 70px;
  height: 190px;
  position: relative;
  top: 330px;
}

.faq .img-logo2{
  height: 100px;
  margin-top: 70px;
}

.faq .collapsible{
   display: block;
   float: left;
   width: 70%;
   position: relative;
   left: 70px;
   clear: both;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.faq .collapsible .img{
  height: 15px;
  margin-right: 10px;
  margin-top: 8px;
}

.faq .collapsible-header{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 18px;
  font-family: lato;
  color: #5e5e5e;
}

.cadastro{
  display: block;
  float: left;
  width: 90%;
  padding-bottom: 80px;
}

.cadastro .button{
    margin-top: 40px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    padding-top: 3px;
    width: 15%;
    border-radius: 4px;
    display: block;
    float: right;
    background: #f97000;
    color: #fff;
}

.cadastro .container{
  display: block;
  float: left;
  width: 90%;
  margin-left: 60px;
  padding-top: 40px;
}

.cadastro .container p{
  display: block;
  float: left;
  width: 80%;
  margin-bottom: 20px;
  font-family: 'nexa-bold';
  font-size: 30px;
  color: #403d3d;
  position: relative;
}

.cadastro .container .area{
  display: block;
  float: left;
  width: 100%;
  border-top: 1px solid #e8dddd;
  padding-top: 40px;
  color: #4f4f4f;
  font-family: lato;
}

.cadastro .container .area .menu{
  display: block;
  float: left;
  width: 45%;
  margin-right: 10%;
}

.cadastro .container .area .marginless{
  margin-right: 0%;
}

.cadastro .container .area .input-img{
    margin-bottom: 20px;
    font-size: 15px;
}

.cadastro .container .area label{
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
  font-family: lato;
  color: #4d4d4d !important;
  margin-bottom: 5px;
  font-weight: bold;
}

.cadastro .container .area .menu-radio label{
    display: inline;
    margin-right: 25px;
    margin-left: 10px;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    display: none;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #f97000;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #f97000;
}


.cadastro .container .area .input{
    width: 100%;
    clear: both;
    background: #fafafa;
}

.cadastro .container .area .input:focus{
  border: 1px solid #c9c9c9 !important;
  transition: 0px;
  background: #fff;
}

.cadastro .container .area .button{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	outline: none;
	display: block;
	float: right;
	margin-bottom: 20px;
	margin-top: 10px;
	background: #f97000;
	border: 1px solid #f97000;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: nexa-bold;
	clear: both;
}

.cadastro .container .area .button:hover{
  opacity: .8;
}

.cadastro .container .area .textarea{
    background: #fafafa;
    resize: none;
    height: 150px;
    border-radius: 4px;
    border: 1px solid #dedede;
    outline: none;
    overflow: hidden;
    padding: 5px 5px;
}

.cadastro-escritor{
    display: block;
    float: left;
    width:  100%;
    padding-bottom: 60px;
}


.cadastro-escritor .container{
    display: block;
    float: left;
    width: 90%;
    margin-left: 60px;
    padding-top: 40px;
}

.cadastro-escritor .progress{
    width: 100%;
    height: 20px;
    padding: 3px;
    display: block;
    float: left;
    border: 1px solid #c2c2c2;
    margin-top: 0px;
    background: #fafafa;
}

.cadastro-escritor .progress .green{
    width: 30%;
    height: 100%;
    display: block;
    float: left;
    background: green;
}

.cadastro-escritor .progress .green2{
    width: 70%;
}

.cadastro-escritor .progress .green3{
    width: 100%;
}

.cadastro-escritor p{
    font-size: 30px;
    font-family: 'nexa-bold';
    color: #403d3d;
    margin-bottom: 5px;
}

.cadastro-escritor .error{
    margin-left: 170px;
    margin-bottom: 15px;
}

.cadastro-escritor .container .area{
    display: block;
    float: left;
    width: 100%;
    color: #4f4f4f;
    background: #fafafa;
    font-family: lato;
    border: 1px solid #e8dddd;
    padding: 20px;
}

.cadastro-escritor .container .area p{
    font-size: 23px;
    font-family: 'gilroy';
    color: #5e5e5e;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.cadastro-escritor .container .area .text{
    color: #4F4F4F;
    margin-bottom: 40px;
    margin-left: 20px;
}

.cadastro-escritor .container .area label{
    display: block;
    float: left;
    margin-right: 20px;
    width: 150px;
    font-size: 17px;
    text-align: right;
    margin-bottom: 15px;
    font-family: lato;
    color: #4d4d4d !important;
    margin-bottom: 5px;
    font-weight: bold;
}

.cadastro-escritor .container .area .input{
    width: 50%;
}

.cadastro-escritor .container .button {
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: 600;
    background: #828282;
    border: 1px solid #828282;
    border-radius: 2px;
    position: relative;
    right: 30px;
}

.cadastro-escritor .container .background-orange{
     background: #f97000;
     border: 1px solid #f97000;
 }

.cadastro-escritor .container .background-green{
    background: green;
    border: 1px solid green;
    opacity: .8;
}

.cadastro-escritor  .img-area{
    display: block;
    float: left;
    width: 30%;
    margin-right: 3%;
    left: 1%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    margin-bottom: 40px;
}

.cadastro-escritor .container .img-area p{
    font-size: 17px;
    text-align: center;
    margin-left: 0px;
}

.cadastro-escritor .container .img-area .img{
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.cadastro-escritor .container select{
    display: block;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #dedede !important;
}

.login-modal{
    display: block;
    float: left;
    width: 100%;
    height: 200px;
    margin-top: 40px;
}

.login-modal .container{
    display: block;
    margin: 0 auto;
    width: 75%;
}

.login-modal .container .input{
    width: 100% !important;
}

.login-modal .container .error{
    padding-top: 10px;
    margin-bottom: 10px;
}

.login-modal .container .button{
    width: 55% !important;
    height: 35px !important;
    border: 1px solid #f97000 !important;
    color: #fff;
    padding-top: 4px !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: gilroy-bold;
    font-size: 17px !important;
    background: #f97000 !important;
    font-weight: bold;
    opacity: .9;
}

.login-modal .container .img{
    height: 25px;
    position: absolute;
    left: 81%;
    margin-top: 7px;
}

.modal2{
    top: 15% !important;
    width: 45%;
}

.modal3{
    top: 15% !important;
    width: 60%;
}

.login-modal .container .text{
    display: block;
    float: left;
    margin-top: 10px;
    color: #969696;
    margin-left: 50px;
}

.login-categorias{
    display: block;
    float: left;
    width: 100%;
}

.login-categorias p{
    font-family: lato;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    color: #696969;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-categorias .container{
    display: block;
    float: left;
    max-height: 350px;
    padding-bottom: 30px;
    width: 100%;
}

.login-categorias .container .info{
    display: block;
    float: left;
    width: 20%;
    height: 60px;
    margin-right: 20px;
    position: relative;
    left: 6%;
    border-radius: 4px;
}

.login-categorias .container .info .area{
    width: 100%;
    height: 70px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    filter: brightness(50%);
    border-radius: 4px;
}

.login-categorias .container .info .area .img {
    height: 70px;
    width: 100%;
}

.login-categorias .container .info .area .title2{
    display: block;
    float: left;
    height: 30px;
    border: 2px solid #fff;
    display: block;
}

.login-categorias .container .info .button3{
    background: transparent;
    color: #4f4f4f;
    border: 1px solid #4f4f4f;
    width: 85%;
    position: relative;
    bottom: 50px;
    font-family: nexa-bold;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    font-size: 13px;
    margin: 0 auto;
}

.login-categorias .container .info .active{
    color: #f97000;
    border: 1px solid #f97000;
}

.login-categorias .bottom{
    width: 90%;
    height: 70px;
    display: block;
    float: left;
    border-top: 1px solid #b5b5b5;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-categorias .bottom .button {
    width: auto !important;
    height: auto !important;
    display: block !important;
    float: right !important;
    position: relative !important;
    margin-right: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
    padding: 10px !important;
    border: 1px solid #d9d9d9 !important;
    background: #d9d9d9 !important;
    text-transform: uppercase !important;
    font-family: 'nexa-bold' !important;
    font-size: 13px !important;
    color: #4f4f4f !important;
    border-radius: 5px !important;
}

.login-categorias .bottom .background-orange{
    background: #f97000 !important;
    border: 1px solid #f97000 !important;
    color:  #fff !important;
}

.publicacao{
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 60px;
}

.publicacao .container{
    width: 90%;
    margin-left: 5%;
    height: 500px;
    margin-top: 60px;
    border: 1px solid #ccc;
}

.publicacao .container .top{
    display: block;
    width: 100%;
}

.publicacao .container .top select{
    display: block;
    background: #fafafa;
    border: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;
}

.publicacao .container .top .input{
    width: 100%;
    background: #fafafa;
    border-radius: 0px;
    border: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;
}

.publicacao .info{
    display: block;
    width: 26%;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
}

.publicacao .info .button{
    width: auto;
    display: block;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    background: #d9d9d9;
    text-transform: uppercase;
    font-family: 'nexa-bold';
    font-size: 13px;
    color: #4f4f4f;
    border-radius: 5px;
}

.publicacao .info .background-orange{
    background: #f97000;
    border: 1px solid #f97000;
    color: #fff;
}

.publicacao .info .background-blue{
    background: #0a70c9;
    border: 1px solid #0a70c9;
    color: #fff;
}

#editor {overflow:scroll; height:200px}

.fr-box.fr-basic .fr-element{
    height: 300px
}

.fr-toolbar{
    border-top: 1px solid #cfcfcf;
}


/* editor de texto */
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: 'Normal'!important;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Pequeno'!important;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Grande'!important;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Extra grande'!important;
}

.ql-snow .ql-picker.ql-size {
    width: 120px!important;
}

.ql-container .ql-editor{
    min-height: 310px !important;
    font-family: lato;
    font-size: 15px;
}

.ql-editor{
    overflow-y: auto;
    background: #fff;
}

.ql-toolbar.ql-snow{
    background: #fff;
}