<div class="contato">
    
     <div class="title title2">Fale conosco 
         <div class="underline"> </div>
    </div>
  
    <div class="menu">
      <form [formGroup]="msg_form" (ngSubmit)="enviaMensagem()">
          <div class="label"> Nome </div>
          <input type="text" formControlName="nome" class="input" placeholder="Insira seu nome">
          <div class="label"> E-mail </div>
          <input type="text" formControlName="email" class="input" placeholder="Digite seu email">
          <div class="label"> Mensagem </div>
          <textarea formControlName="conteudo" class="input-area" placeholder="Insira sua mensagem"></textarea>
          <button type="submit" class="button color"> Enviar </button>
      </form>
    </div>

    <img src="../assets/img/robot.png" class="img">
  
</div>
