<div class="contato">
    
     <div class="title title2">Fale conosco 
         <div class="underline"> </div>
    </div>
  
    <div class="menu">

      <div class="label"> Nome </div>
      
      <input type="text" class="input">

      <div class="label"> E-mail </div>
      
      <input type="text" class="input">

      <div class="label"> Mensagem </div>
      
      <textarea class="input-area">    </textarea>
    
    </div>

    <img src="../assets/img/robot.png" class="img">
  
</div>
