<div class="modal-rascunho">

    <div class="modal-content">
        <a click="#" class="modal-action modal-close close close2">X</a>
    </div>
    <div class="news">
      <div class="area-top area-top2">
        <div class="tag-menu" *ngIf='post.categorias_post'>
            <div class="tag red"> {{ post.categorias_post[0].categoria.categoria }} </div>
        </div>

        <div class="title"> {{ post.titulo }} </div>
        <div *ngIf='post.subtitulo' class="subtitle">{{ post.subtitulo }}</div>
      </div>

      <div class="container container2">
        <div class="frame">

            <img src="{{ url + 'posts/' + post.src_imagem }}" class="img" *ngIf="post.src_imagem">

            <div class="info" [innerHTML]="post.conteudo"></div>
        </div>
      </div>

      <div class="button-area">
          <button type="button" class="button-modal" (click)="publicar()" [disabled]='loadingPublicar || loadingExcluir'>
              <i class="fa fa-check" aria-hidden="true" *ngIf='!loadingPublicar'></i>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf='loadingPublicar'></i>    
              Publicar 
          </button>
          <button type="button" class="button-modal red" (click)="excluir()" [disabled]='loadingPublicar || loadingExcluir'>
              <i class="fa fa-trash" aria-hidden="true" *ngIf='!loadingExcluir'></i>
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf='loadingExcluir'></i>    
              Excluir 
          </button>
      </div>
    </div>

</div>