<div id="modal1" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-content">
            <h4 *ngIf="categoria.id != 0">Editar</h4>
            <h4 *ngIf="categoria.id == 0">Cadastrar</h4>

            <div class="row">
                <div class="input-field col s12">
                    <input id="categoria" name="categoria" type="text" #cat="ngModel"
                            maxlength="60" required="required"
                            [ngClass]="{'invalid': cat.errors?.required && cat.touched}"
                            [(ngModel)]="categoria.categoria">
                    
                    <label [ngClass]="{'active': categoria?.categoria}" for="categoria">Categoria*</label>
                    
                    <div *ngIf="cat.errors?.required && cat.touched" class="error">Campo obrigatório.</div>
                </div>
            </div>
            <div class="row" [hidden]="categoria.id == 0 ">
                <div class="input-field col s12 m12 l6 xl6">
                    <select name="status" materialize="material_select" [materializeSelectOptions]="selectStatus" 
                    [(ngModel)]="categoria.status">
                        <option *ngFor="let option of selectStatus" [value]="option.value">{{option.name}}</option>
                    </select>
                    <label for="ativo">Status*</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
            <button type="submit" [disabled]="!f.valid" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</button>
        </div>
    </form> 
</div>

<div id="modalAceitar" class="modal center-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalAceitar">
    <form class="col s12">
        <div class="modal-content">
            <h4>{{ sugestao.categoria }}</h4>
            
            <div class="row">
                <div class="col s3">
                    <a class="modal-trigger" (click)="criar()">
                        <div class="btn new">
                            Nova
                        </div>
                    </a>
                </div>
            </div>
            
            <ul *ngIf="listCategorias() == false">
                <li>
                    <div class="list-item option-icons">
                        <div class="col s12 m12 l12 xl12 item center-align">
                            Nenhuma categoria encontrada.
                        </div>
                    </div>
                </li>
            </ul>
            <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" *ngIf="listCategorias() != false">
                <li *ngIf="listCategorias() != false">
                    <div class="list-item header">
                        <div class="col s8 m8 l8 xl8 item">
                            Categoria
                        </div>
                        <div class="col s2 m2 l2 xl2 item">
                            Status
                        </div>
                        <div class="option-icons col s2 m2 l2 xl2 right-align item">
                            <div class="margin-right-1">Criar</div>
                        </div>
                    </div>
                </li>
                <app-lista-categorias [listCategorias]="listCategorias()" [show]="1" (created)="criarSubCategoria($event)"></app-lista-categorias>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
        </div>
    </form> 
</div>

<div id="modalRecusa" class="modal center-sheet small-modal small-modal-red" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalRecusa">
    <div class="modal-content">
        <h4><i class="material-icons">delete_forever</i></h4>
        <h4> {{ sugestao.categoria }} </h4>
        <div style="margin-top:10px; color: #131313"> Deseja recusar a categoria?</div>
        <div class="small-modal-confirm">
            
            <a (click)="recusa(f)" class="modal-action modal-close waves-effect waves-green btn-flat ">Sim</a>
            <a (click)="closeModalRecusa()" class="modal-action waves-effect waves-red btn-flat ">Não</a>
        </div>
    </div>
</div>

<!--modal de mensagem-->
<div id="modalMessage" class="modal center-sheet small-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalMessage">
    <app-modal-save></app-modal-save>
</div>

<div class="title">
    Categorias
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs" materialize="tabs">
      <li class="tab col s4">
        <a class="active" href="#sugestao">
          Sugestões
          <span *ngIf="notificacoes['categorias'] != 0" class="notification">{{ notificacoes["categorias"] }}</span>
        </a>
      </li>
      <li class="tab col s4"><a href="#categorias">Categorias</a></li>
      <li class="tab col s4"><a href="#ordenacao">Ordenação</a></li>
    </ul>
  </div>

  <div id="sugestao" class="col s12">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
          <nav>
              <div class="nav-wrapper">
                  <form>
                      <div class="input-field">
                          <input id="search" name="filtro" type="search" [(ngModel)]="filtroSugestoes">
                          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons" (click)="filtroSugestoes = ''">close</i>
                      </div>
                  </form>
              </div>
          </nav>
      </div>
    </div>
    <ul class="collapsible list">
      <li *ngIf="listSugestoes() != false">
          <div class="list-item header">
                <div class="col s4 m6 l6 xl8 item">
                    Sugestão
                </div>
                <div class="col s4 m3 l3 xl2 item center-align">
                    Quantidade
                </div>
                <div class="option-icons col s4 m3 l3 xl2 right-align item">
                    <div class="margin-right-1">Opções</div>
                </div>
          </div>
      </li>
      <li *ngIf="listSugestoes() == false">
        <div class="list-item option-icons">
            <div class="col s12 m12 l12 xl12 item center-align">
                Nenhuma sugestão encontrada.
            </div>
        </div>
    </li>
      <li *ngFor="let s of listSugestoes() | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
          <div class="list-item option-icons">
              <div class="col s4 m6 l6 xl8 item">
                  {{s.categoria}}
              </div>
              <div class="col s4 m3 l3 xl2 item center-align">
                  {{s.sugestoes}}
              </div>
              <div class="option-icons col s4 m3 l3 xl2">
                  <i class="material-icons" (click)="openModalRecusa(s)">delete</i>
                  <i class="material-icons" (click)="openModalAceitar(s)">done</i>
              </div>
          </div>
      </li>
    </ul>
    <ul class="pages" *ngIf="listSugestoes() != false">
        <li>
            <pagination-controls (pageChange)="page = $event" id="1"
                maxSize="5"
                directionLinks="true"
                autoHide="false"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </li>
    </ul>
  </div>
  <div id="categorias" class="col s12">
    <div class="row">
        <div class="col s12 m12 l4 xl2">
            <a (click)="openModal(f);">
                <div class="btn new">
                    Nova
                </div>
            </a>
        </div>

        <div class="col s12 m12 l8 xl10 search">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input name="filtroCategoria" type="search" [(ngModel)]="filtroCategorias">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons" (click)="filtroCategorias = ''">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li *ngIf="listCategorias() != false">
            <div class="list-item header">
                <div class="col s8 m8 l8 xl8 item">
                    Categoria
                </div>
                <div class="col s2 m2 l2 xl2 item">
                    Status
                </div>
                <div class="option-icons col s2 m2 l2 xl2 right-align item">
                    <div class="margin-right-1">Opções</div>
                </div>
            </div>
        </li>
        <li *ngIf="listCategorias() == false">
            <div class="list-item option-icons">
                <div class="col s12 m12 l12 xl12 item center-align">
                    Nenhuma categoria encontrada.
                </div>
            </div>
        </li>
        
        <app-lista-categorias [listCategorias]="listCategorias()" [show]="2"></app-lista-categorias>
    </ul>
  </div>
</div>

<div id="ordenacao">
    <div class="row">
        <div class="col m5">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <nav>
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="search" name="filtro" type="search" [(ngModel)]="filtroCategoriasAtivas">
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons" (click)="filtroCategoriasAtivas = ''">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
            <ul class="collapsible list">
                <li *ngIf="listCategoriasAtivas() != false">
                    <div class="list-item header">
                        <div class="col s4 m6 l6 xl8 item">
                            Categoria
                        </div>
                    </div>
                </li>
                <li *ngIf="listCategoriasAtivas() == false">
                    <div class="list-item option-icons">
                        <div class="col s12 m12 l12 xl12 item center-align">
                            Nenhuma categoria encontrada.
                        </div>
                    </div>
                </li>
                <li *ngFor="let ca of listCategoriasAtivas() let i = index">
                    <div class="list-item option-icons">
                        <div class="col m10 item">
                            {{ca.categoria}}
                        </div>
                        <div class="col m2">
                            <a (click)='addCategoriaFiltro(ca)'>
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col m5 offset-m2">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <div class="sub-title">
                        Categorias ordenadas
                    </div>
                </div>
            </div>
            <ul class="collapsible list" dnd-sortable-container [sortableData]="categoriasFiltro">
                <li *ngIf="!categoriasFiltro || categoriasFiltro.length == 0">
                    <div class="list-item option-icons">
                        <div class="col s12 m12 l12 xl12 item center-align">
                            Nenhuma categoria encontrada.
                        </div>
                    </div>
                </li>
                <li *ngIf="categoriasFiltro.length > 0">
                    <div class="list-item header">
                        <div class="col s4 m6 l6 xl8 item">
                            Categoria
                        </div>
                    </div>
                </li>
                <li *ngFor="let cf of categoriasFiltro let i = index" dnd-sortable [sortableIndex]="i">
                    <div class="list-item option-icons">
                        <div class="col m10 item">
                            {{cf.categoria.categoria}}
                        </div>
                        <div class="col m2">
                            <a (click)='removeCategoriaFiltro(cf)'>
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-right">
        <button [disabled]="countCategoriasFiltro == 0" class="btn btn-save waves-effect" (click)="saveOrdenacao()">Salvar</button>
    </div>
</div>