<div class="title">
    <i class="material-icons">view_list</i> Categorias
</div>

<div class="row">
      <div class="col s12">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s6">
            <a class="active" href="#sugestao">
              Sugestões
              <span *ngIf="notificacoes['categorias'] != 0" class="notification">{{ notificacoes["categorias"] }}</span>
            </a>
          </li>
          <li class="tab col s6"><a href="#categorias">Categorias</a></li>
        </ul>
      </div>
      <div id="sugestao" class="col s12">Test 1</div>
      <div id="categorias" class="col s12">Test 2</div>
      
    </div>
