<div id="modal1" class="modal center-sheet" 
     materialize="modal" [materializeParams]="[{dismissible: false}]" 
     [materializeActions]="modalActions">
    
    <form class="col s12" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="modal-content">
            <h4 *ngIf="pagamento?.pago == 1">Pagamento</h4>
            <h4 *ngIf="pagamento?.pago != 1">Solicitação</h4>
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s5">
                            <input type="text" name="nick" readonly value="{{ pagamento?.leitor.nick }}">
                            <label [ngClass]="{'active': pagamento?.leitor.nick}" for="nick">Nick</label>
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <input type="text" name="nome" readonly value="{{ pagamento?.leitor.nome }}">
                            <label [ngClass]="{'active': pagamento?.leitor.nome}" for="nome">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input type="text" name="cpf" readonly value="{{ pagamento?.leitor.escritor.cpf }}">
                            <label [ngClass]="{'active': pagamento?.leitor.escritor.cof}" for="cpf">CPF</label>
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <input type="text" name="email" readonly value="{{ pagamento?.leitor.email }}">
                            <label [ngClass]="{'active': pagamento?.leitor.email}" for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input type="text" name="banco" readonly
                                value="{{ pagamento?.leitor.escritor.banco }}">
                            <label [ngClass]="{'active': pagamento?.leitor.escritor.banco}" for="banco">Banco</label>
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <input type="text" name="agencia" readonly
                                value="{{ pagamento?.leitor.escritor.agencia }}">
                            <label [ngClass]="{'active': pagamento?.leitor.escritor.agencia }" for="agencia">Agência</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input type="text" name="conta_corrente" readonly
                                value="{{ pagamento?.leitor.escritor.conta_corrente }}">
                            <label [ngClass]="{'active': pagamento?.leitor.escritor.conta_corrente}" for="v">Conta corrente</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input type="text" name="created_at" readonly
                                value="{{pagamento?.created_at | date: 'dd/MM/yy'}}">
                            <label [ngClass]="{'active': pagamento?.created_at}" for="created_at">Data de Soliciação</label>
                        </div>
                        <div class="input-field col s5 offset-s1">
                            <input type="text" name="valor" readonly
                                value="{{ pagamento?.valor | currencyformat:'BRL':true:'1.2-2'}}">
                            <label [ngClass]="{'active': pagamento?.valor}" for="valor">Valor</label>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="input-field col s5">
                            <input type="text" name="data_pagamento" formControlName="data_pagamento" mask="00/00/0000">
                            
                            <label [ngClass]="{'active': pagamento?.data_pagamento}" for="data_pagamento">
                                Data de Pagamento<span *ngIf="pagamento?.pago == 0" >*</span>
                            </label>
                        </div>
                        
                    </div>
                    <div class="file-field input-field col s11">
                        <div class="btn">
                            <span>Comprovante de pagamento</span>
                            <input type="file" accept="image/*" id="doc">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>    
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
                    [disabled]="!formulario.valid" *ngIf="pagamento?.pago == 0" >
                    Salvar
                </button>
                
        </div>
    </form>
</div>

<div id="modalMessage" class="modal center-sheet small-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalMessage">
    <div class="modal-content">
        <h4><i class="material-icons">check_circle</i></h4>
        <h4>Salvo com sucesso.</h4>
        <div class="small-modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
        </div>
    </div>
</div>

<div class="title">
    <i class="material-icons">view_list</i> Pagamentos
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs" materialize="tabs">
            <li class="tab col s6">
                <a class="active" href="#pendentes">
                    Solicitados
                    <span *ngIf="notificacoes['pagamentos'] != 0" class="notification">{{ notificacoes["pagamentos"] }}</span>
                </a>
            </li>
            <li class="tab col s6"><a href="#pagamentos">Efetuados</a></li>
        </ul>
    </div>
</div>

<div id="pendentes" class="col s12"> 
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" name="filtro" type="search" [(ngModel)]="filtroPendente">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    
    <ul class="collapsible list">
        <li *ngIf="listPendentes() == false">
            <div class="list-item option-icons">
                <div class="col s12 m12 l12 xl12 item center-align">
                    Nenhum pagamento pendente encontrado.
                </div>
            </div>
        </li>
        <li  *ngIf="listPendentes() != false">
            <div class="list-item header">
                <div class="col s3 m3 l2 xl2 item">
                    Usuário
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    Nome
                </div>
                <div class="col s3 m4 l2 xl2 item">
                    Cpf
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    E-mail
                </div>
                <div class="col s2 m2 l2 xl2 item">
                    Solicitado
                </div>
                <div class="col s1 m1 l1 xl1 item">
                    Valor
                </div>
                <div class="option-icons col s2 m2 l1 xl1 right-align item">
                    <div class="margin-right-1">Pagar</div>
                </div>
            </div>
        </li>
        <li *ngFor="let pendente of listPendentes() | paginate: {itemsPerPage: 10, currentPage:pageSolicitacoes, id: '1'}; let i = index">
            <div class="list-item option-icons">
                <div class="col s3 m3 l2 xl2 item">
                    {{ pendente.leitor.nick }}
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    {{ pendente.leitor.nome }}
                </div>
                <div class="col s3 m4 l2 xl2 item">
                    {{ pendente.leitor.escritor.cpf }}
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    {{ pendente.leitor.email }}
                </div>
                <div class="col s2 m2 l2 xl2 item">
                    {{ pendente.created_at | date:"dd/MM/yyyy" }}
                </div>
                <div class="col s1 m1 l1 xl1 item">
                    {{ pendente.valor | currencyformat:'BRL':true:'1.2-2'}}
                </div>
                <div class="option-icons col s2 m2 l1 xl1">
                    <i class="material-icons" (click)="openModalEdit(pendente)">edit</i>
                </div>
            </div>
        </li>
    </ul>

    <ul class="pages" *ngIf="listPendentes() != false">
        <li>
            <pagination-controls (pageChange)="page = $event" id="1"
                maxSize="5"
                directionLinks="true"
                autoHide="false"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </li>
    </ul>
</div>

<div id="pagamentos" class="col s12"> 
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" name="filtro" type="search" [(ngModel)]="filtroPagamento">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    
    <ul class="collapsible list" >
        <li *ngIf="listPagamentos() == false">
            <div class="list-item option-icons">
                <div class="col s12 m12 l12 xl12 item center-align">
                    Nenhum pagamento encontrado.
                </div>
            </div>
        </li>
        <li *ngIf="listPagamentos() != false">
            <div class="list-item header">
                <div class="col s3 m3 l2 xl2 item">
                    Usuário
                </div>
                <div class="col s5 m5 l4 xl3 item">
                    Nome
                </div>
                <div class="col s3 m4 l2 xl2 item">
                    Cpf
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    E-mail
                </div>
                <div class="col s2 m2 l2 xl2 item">
                    Pago
                </div>
                <div class="option-icons col s2 m2 l1 xl1 right-align item">
                    <div class="margin-right-1">Ver</div>
                </div>
            </div>
        </li>
        <li *ngFor="let pagamento of listPagamentos() | paginate: {itemsPerPage: 10, currentPage:pageSolicitacoes, id: 'pagamentos'}; let i = index">
            <div class="list-item option-icons">
                <div class="col s3 m3 l2 xl2 item">
                    {{ pagamento.leitor.nick }}
                </div>
                <div class="col s5 m5 l4 xl3 item">
                    {{ pagamento.leitor.nome }}
                </div>
                <div class="col s3 m4 l2 xl2 item">
                    {{ pagamento.leitor.escritor.cpf }}
                </div>
                <div class="col s4 m4 l2 xl2 item">
                    {{ pagamento.leitor.email }}
                </div>
                <div class="col s2 m2 l2 xl2 item">
                    {{ pagamento.created_at | date:"dd/MM/yyyy" }}
                </div>
                <div class="option-icons col s2 m2 l1 xl1">
                    <i class="material-icons" (click)="openModalEdit(pagamento)">visibility</i>
                </div>
            </div>
        </li>
    </ul>

    <ul class="pages" *ngIf="listPagamentos() != false">
        <li>
            <pagination-controls (pageChange)="page = $event" id="pagamentos"
                maxSize="5"
                directionLinks="true"
                autoHide="false"
                previousLabel=""
                nextLabel="">
            </pagination-controls>
        </li>
    </ul>
</div>