<div class="admin-menu-top col s12 m12 l12 xl12">
        <div class="col s3 m3 l2 xl1">
            <i class="material-icons">menu</i>
            <span class="notification">{{ notificacoes }}</span>
        </div>
        <div class="col s7 m6 l2 xl2">
            <div class="rupt">Rupt</div>
        </div>

        <div class="col s12 m12 l8 xl9 right-align">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Administrador</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!"><i class="material-icons">create</i>Editar</a></li>
                <li><a href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
    </div>