<div class="admin-menu-top col s12 m12 l12 xl12">
    <div class="col s3 m3 l2 xl1">
        <i class="material-icons menu">menu</i>
        <span *ngIf="contNotificacoes > 0" class="notification">{{ contNotificacoes }}</span>
    </div>
    <div class="col s7 m6 l2 xl2">
        <a routerLink="home"><div class="rupt">Rupt</div></a>
    </div>

    <div class="col s12 m12 l8 xl9 right-align">
        <a class='dropdown-button btn' data-activates='dropdown1' materialize="dropdown">{{ admin?.name }}</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a (click)="editar()"><i class="material-icons">create</i>Editar</a></li>
            <li><a (click)="logout()"><i class="material-icons">power_settings_new</i>Sair</a></li>
        </ul>
    </div>
</div>