<div class="admin-menu-top col s12 m12 l12 xl12">
        <div class="col s12 m12 l3 xl3">
            <i class="material-icons">wallpaper</i>
            Rupt
        </div>
        <div class="col s12 m12 l9 xl9 right-align">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Administrador</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!"><i class="material-icons">create</i>Editar</a></li>
                <li><a href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
            </ul>
        </div>
    </div>