<div class="modal-content">
  <div class="modal-pesquisa">
    <div class="title">
      Pesquisar
      <a click="#" class=" modal-action modal-close close">X</a>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="container">
            <input formControlName='search' maxlength="30" class="input" placeholder="Pesquisar">
            
            <button [disabled]='!formulario.valid' type="submit" class="button-modal button-modal2 modal-action modal-close">
                Buscar
            </button>
        </div>
    </form>

  </div>
</div>