
<div class="news">
  
    <div id="modalDenuncia" class="modal modal2 modal4"
        materialize="modal" [materializeParams]="[{dismissible: false}]"
        [materializeActions]="modalDenuncia">
        <modal-generico [action]="'denuncia'" [idObj]="post?.id" (closeModalGenerico)="closeModalDenuncia($event)"></modal-generico>
    </div>

    <div id="modalCompartilhar" class="modal modal2 modal4"
        materialize="modal" [materializeParams]="[{dismissible: true}]"
        [materializeActions]="modalCompartilhar">
        <modal-compartilhar [interacoes]='interacoes' [interacoesLeitor]='interacoesLeitor' 
            [autorPost]='leitor?.id == post?.autor.id'
            (compartilhar)="compartilhar($event)">
        </modal-compartilhar>
    </div>

    <div id="modal-mensagem-compartilhar" class="modal modal-mensagem"
        materialize="modal" [materializeParams]="[{dismissible: true}]"
        [materializeActions]="modalCompartilharMensagem">

        <modal-mensagem-compartilhar></modal-mensagem-compartilhar>
    </div>

    <div id="modalExcluir" class="modal modal2 modal4" materialize="modal" [materializeParams]="[{dismissible: false}]"
        [materializeActions]="modalExcluir">
        <modal-excluir (closeModalExcluir)="closeModalExcluir($event)" (excluiuCompartilhamento)='excluiuCompartilhamento($event)'
            [id]='post?.id' [leitor]='leitor' [op]='opExcluir' [interacao]='interacao'>
        </modal-excluir>
    </div>

    <div id="ModalLogin" class="modal modal2"
        materialize="modal" [materializeParams]="[{dismissible: false}]"
        [materializeActions]="modalLogin">
        <modal-login (closeModalLogin)="closeModalLogin($event)" (openEsqueciSenha)="openModalEsqueciSenha($event)"></modal-login>
    </div>

    <div id="ModalEsqueciSenha" class="modal modal2"
        materialize="modal" [materializeParams]="[{dismissible: false}]"
        [materializeActions]="modalEsqueciSenha">
        <esqueci-senha (closeModalEsqueciSenha)="closeModalEsqueciSenha($event)"></esqueci-senha>
    </div>

    <div *ngIf='!post && ready'>
        <div  class="news">
            <div class="not-found">
                <div class="message">
                        Publicação não encontrada
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf='post && post?.deleted_at && leitor?.id == post?.autor.id && ready'>
        <div  class="news">
            <div class="not-found">
                <div class="message">
                    Sua publicação foi removida após denúncias de <br>
                    {{ post.motivo_denuncia.motivo }}
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf='!ready' class="loading">
        <div class="message">
            Carregando...
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>

    <div *ngIf='post && !post?.deleted_at && ready'>
        <div class="area-top">
            <div class="tag-menu">
                <div class="tag red"> {{ post.categorias_post[0].categoria.categoria }} </div>
            </div>
            <div class="title"> {{ post.titulo }}</div>
            <div *ngIf='post.subtitulo' class="subtitle">{{ post.subtitulo }}</div>
            <div class="editado-text" *ngIf="edited"> 
                Editado
            </div>
        </div>
        <div class="container">
            <div class="area">
                <font *ngIf="!rascunho" class="name">Por
                    <a *ngIf="!rascunho" routerLink='/perfil/{{ post.autor.nick }}'>{{ post?.autor?.nick }}
                    </a>
                </font>
                <i *ngIf="!rascunho" class="fa fa-minus img" aria-hidden="true"></i>
                <b *ngIf="!rascunho" > {{ calcHour( post.publishedAt ) }} </b>

                <div class="social">
                    <p> {{ interacoesTotal[0] }} </p>
                    <img src="../../../assets/img/rupt-ico.png" class="img" title='Reações'>
                    <p> {{ interacoesTotal[1] }} </p>
                    <i class="fa fa-share img" aria-hidden="true" title='Compartilhados'></i>
                    <i class="fa fa-exclamation-circle img report" aria-hidden="true" (click)="openModalDenuncia()" title='Denunciar' *ngIf='leitor && leitor.id != post.autor.id' ></i>
                    <i *ngIf='leitor && leitor.id == post.autor.id' aria-hidden="true" class="fa fa-times excluir" title="Excluir" (click)="openModalExcluir(1)"></i>
                    <a routerLink='../../publicacao/{{ btoa(post.id) }}' *ngIf='leitor && leitor.id == post.autor.id'>
                        <i class="fa fa-pencil-square-o edit" aria-hidden="true" title='Editar'></i>
                    </a>
                </div>
            </div>

            <div class="frame">
                <img src="{{ url + 'posts/' + post.src_imagem }}" class="img" *ngIf="post.src_imagem && !rascunho">
                <div class="info" [innerHTML]="post.conteudo"></div>
                <div class="reactions" *ngIf="leitor">
                    <div *ngFor='let i of interacoes' class="area2">
                        <div *ngIf='i.categoria == 1 && i.compartilhar == false' (click)='interagePost(i)'>
                            <img src="../../../assets/{{ i.src_icone }}" class="img"
                                [ngClass]="{'pb': interagiu && !checkInteracao(i.id)}"
                            >
                            <p>{{ i.nome }}</p>
                            <span class="count">{{ i.count }}</span>
                        </div>
                    </div>
                    <div class="area2">
                        <div (click)='openModalCompartilhar()'>
                            <i class="fa fa-share img" aria-hidden="true"></i>
                            <p>Compartilhar</p>
                            <span class="count">{{ interacoesTotal[1] }}</span>
                        </div>
                    </div>
                </div> 
                <div class="reactions" *ngIf="!leitor">
                    <div *ngFor='let i of interacoes' class="area2">
                        <div *ngIf='i.categoria == 1 && i.compartilhar == false'>
                            <img src="../../../assets/{{ i.src_icone }}" class="img disabled">
                            <p>{{ i.nome }}</p>
                            <span class="count">{{ i.count }}</span>
                        </div>
                    </div>

                    <div class="area2">
                        <div (click)='openModalCompartilhar()'>
                            <i class="fa fa-share img" aria-hidden="true"></i>

                            <p>Compartilhar</p>
                            <span class="count">{{ interacoesTotal[1] }}</span>
                        </div>
                    </div>
                </div> 

                <div class="comentarios">

                    <p> <b>{{ comentarios?.length}}</b> comentários </p>

                    <div class="subtitle">Os comentários dessa sessão são de responsabilidade exclusiva de seus autores e não representam a opnião deste site. Se achar algo que viole os <b>Termos de uso</b>, denuncie. Leia as <a routerLink="../../faq">perguntas mais frequentes</a> para saber o que é impróprio ou ilegal.</div>

                    <div class="profile" *ngIf="leitor">
                        <div class="img-area">  
                            <img src="{{ leitor?.src_foto?.indexOf('http') >= 0 ? leitor?.src_foto : url + 'profile/' + leitor?.src_foto }}" class="img">
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <input type="text" class="input" maxlength="140" name="comentario" formControlName="comentario" placeholder="Escreva um comentário..." >
                            <button type="submit" class="button" [disabled]="form.value.comentario === '' || loading"> 
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf='loading'></i>   
                                Enviar 
                            </button>
                        </form>
                    </div>

                    <div class="separate" *ngIf='comentarios && comentarios.length > 0' > recentes </div>

                    <div class="profile" *ngFor="let c of comentarios">
                        <a routerLink='/perfil/{{ c?.comentario?.leitor?.nick }}'>
                            <div class="img-area">
                                <img src="{{ c?.comentario?.leitor?.src_foto.indexOf('http') >= 0 ? c?.comentario?.leitor?.src_foto : url + 'profile/' + c?.comentario?.leitor?.src_foto }}" class="img">
                            </div>
                        </a>
                        <div class="user">
                            <a routerLink='/perfil/{{ c?.comentario?.leitor?.nick }}'>
                                <div class="title"> {{ c.comentario.leitor.nick ? c.comentario.leitor.nick : c.comentario.leitor.nome }} </div>
                            </a>

                            <div class="time"> {{ calcHour( c.comentario.created_at ) }}</div>
                            {{c.comentario.comentario}}
                            <div class="reaction">
                            <div *ngFor='let i of interacoes' class="area2">
                                    <div *ngIf='i.categoria == 2' (click)='interagePost(i)'>
                                        <img src="../../../assets/{{ i.src_icone}}" class="img2">
                                        <div class="number">2</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="profile-resp" *ngFor="let c of comentarios">
                            <a routerLink='/perfil/{{ c?.comentario?.leitor?.nick }}'>
                                <div class="img-area">
                                    <img src="{{ c?.comentario?.leitor?.src_foto.indexOf('http') >= 0 ? c?.comentario?.leitor?.src_foto : url + 'profile/' + c?.comentario?.leitor?.src_foto }}" class="img">
                                </div>
                            </a>
                            <div class="user user2">
                                <a routerLink='/perfil/{{ c?.comentario?.leitor?.nick }}'>
                                    <div class="title"> {{ c.comentario.leitor.nick ? c.comentario.leitor.nick : c.comentario.leitor.nome }} </div>
                                </a>

                                <div class="time"> {{ calcHour( c.comentario.created_at ) }}</div>
                                {{c.comentario.comentario}}
                                <div class="reaction">
                                    <div *ngFor='let i of interacoes' class="area2">
                                        <div *ngIf='i.categoria == 2' (click)='interagePost(i)'>
                                            <img src="../../../assets/{{ i.src_icone}}" class="img2">
                                            <div class="number">2</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comentarios">
                            <div class="profile profile2">
                                <div class="img-area">
                                    <img class="img" src="http://localhost:8000/profile/4_profile.png">
                                </div>
                                <form novalidate="" ng-reflect-form="[object Object]" class="ng-pristine ng-invalid ng-touched">
                                    <input class="input ng-pristine ng-invalid ng-touched" formcontrolname="comentario" maxlength="140" name="comentario" placeholder="Escreva um comentário..." type="text" ng-reflect-maxlength="140" ng-reflect-name="comentario">
                                    <button class="button" type="submit" disabled="">
                                        Enviar
                                    </button>
                                </form>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>

        </div>

        <div class="top-view" *ngIf="!rascunho">

            <p><font style="color:#f97000">+</font> Lidas </p>

            <div class="info">

            <img src="" class="img">

            <div class="label"></div>

            </div>
        </div>

        <div class="top-view">
        
            <p> Propagandas </p>
        
            <div class="info">
        
                <img src="../../../assets/img/propaganda6.png" class="img">
        
            </div>
        
            <div class="info">
        
                <img src="../../../assets/img/propaganda5.png" class="img">
        
            </div>
        
        
            <div class="info">
        
                <img src="../../../assets/img/propaganda7.png" class="img">
        
            </div>
        
            <div class="info">
        
                <img src="../../../assets/img/propaganda8.png" class="img">
        
            </div>
        
            <div class="info">
        
                <img src="../../../assets/img/propaganda9.png" class="img">
        
            </div>
        
        </div>

    </div>

</div>



