
<div class="news">

  <div class="area-top">

    <div class="tag-menu">
    
      <div class="tag red"> {{ categoria }} </div> 
      
    <!--  <div class="tag black2"> Racismo </div>-->

    </div>  

  <div class="title"> {{ post.titulo }} </div>

  </div>

  <div class="container">

    <div class="area">

      Por
      <font class="name"> {{ escritor.nick }} </font> <img src="../../../assets/img/marcador.png" class="img"> <b>{{post.publishedAt | date: 'dd/MM/yyyy'}}</b>

      <div class="social">

        <p>343</p>
        <img src="../../../assets/img/like3.png" class="img">

        <p>18</p>
        <img src="../../../assets/img/dislike.png" class="img">

        <p>22</p>
        <img src="../../../assets/img/share2.png" class="img">

      </div>

    </div>

    <div class="frame">

      <img src="../../../assets/img/news3.png" class="img">

      <div class="subtitle"> Nátaly Neri, youtuber e femista negra </div>

      <div class="info">

        {{post.conteudo}}
      </div>




    </div>

    

  </div>

  <div class="top-view">

    <p>
      <font style="color:#f97000">+</font> Lidas </p>

    <div class="info" *ngFor="let p of maislidos.posts" (click)="openNew(p.id)">

      <img src="{{p.src_imagem}}" class="img">

      <div class="label">{{p.titulo}}</div>

    </div>
  </div>

  <div class="top-view">
      
          <p> Propagandas </p>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda6.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda5.png" class="img">
      
          </div>
      
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda7.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda8.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda9.png" class="img">
      
          </div>
      
        </div>
</div>



