
<div class="news" *ngIf='post'>
  
  <div id="modalDenuncia" class="modal modal2 modal4"
       materialize="modal" [materializeParams]="[{dismissible: false}]"
       [materializeActions]="modalDenuncia">
  <modal-generico [action]="'denuncia'" [idObj]="post?.id" (closeModalGenerico)="closeModalDenuncia($event)"></modal-generico>
  </div>

  <div class="area-top">
    
    <div class="tag-menu">
      
      <div class="tag red"> {{ post.categorias_post[post.categorias_post.length-1].categoria.categoria }} </div> 
      
    <!--  <div class="tag black2"> Racismo </div>-->

    </div>  

  <div class="title"> {{ post.titulo }}</div>

  </div>

  <div class="container">

    <div class="area">

      Por
      <a routerLink='/perfil/{{ post.autor.nick }}'>
          <font class="name"> {{ post?.autor?.nick }} </font> 
      </a>
      
      <img src="../../../assets/img/marcador.png" class="img"> 
      <b> {{ calcHour( post.publishedAt ) }} </b>

      <div class="social">

        <p>{{interacoes.likes + interacoes.loves + interacoes.angry + interacoes.sad + interacoes.cry}}</p>
        <img src="../../../assets/img/rupt-ico.png" class="img">

        <!--<p>{{interacoes.dislikes?.length}}</p>
        <img src="../../../assets/img/dislike.png" class="img">-->

        <p>{{interacoes.shares.toString()}}</p>
        <img src="../../../assets/img/share2.png" class="img">

      </div>

    </div>

    <div class="frame">

      <img src="{{ url + 'posts/' + post.src_imagem }}" class="img" *ngIf="post.src_imagem">

      <div class="info" [innerHTML]="post.conteudo">

      
      </div>

        <div class="reactions">

            <div class="area2" (click)="interagePost('like')">

                <img src="../../../assets/img/rupt-ico.png" class="img">

                <p> Like </p>

            </div>

            <div class="area2" (click)="interagePost('love')">

                <img src="../../../assets/img/rupt-ico9.png" class="img">

                <p> Amei </p>

            </div>

            <div class="area2" (click)="interagePost('sad')">

                <img src="../../../assets/img/rupt-ico3.png" class="img">

                <p> Triste </p>

            </div>
            <div class="area2" (click)="interagePost('angry')">

                <img src="../../../assets/img/rupt-ico4.png" class="img">

                <p> Raiva </p>

            </div>
            <div class="area2" (click)="interagePost('cry')">

                <img src="../../../assets/img/rupt-ico7.png" class="img">

                <p> Chorei </p>

            </div>

            <div class="area2" (click)="interagePost('share')">

                <img src="../../../assets/img/share3.png" class="img">

                <p> Compartilhar </p>

            </div>

            <div class="area2" *ngIf="leitorLogado" (click)="openModalDenuncia()">

                <img src="../../../assets/img/report.png" class="img">

                <p> Denunciar </p>

            </div>

        </div>

        <div class="comentarios">

            <p> <b>{{ comentarios?.length}}</b> comentários </p>

            <div class="subtitle">Os comentários dessa sessão são de responsabilidade exclusiva de seus autores e não representam a opnião deste site. Se achar algo que viole os <b>Termos de uso</b>, denuncie. Leia as <a routerLink="../../faq">perguntas mais frequentes</a> para saber o que é impróprio ou ilegal.</div>

            <div class="profile">

            <div class="img-area">  <img src="{{  url + 'profile/' + leitor?.src_foto }}" class="img"> </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" class="input" maxlength="140" name="comentario" formControlName="comentario" placeholder="Escreva um comentário..." >
                <button type="submit" class="button" id="submit-contato"> Enviar </button>
              </form>
            </div>

            <div class="separate" *ngIf='comentarios && comentarios.length > 0' > recentes </div>


            <div class="profile" *ngFor="let c of comentarios">
                
                <div class="img-area">  <img src="{{url + 'profile/' + c?.comentario?.leitor?.src_foto}}" class="img"> </div>

                <div class="user">

                    <div class="title"> {{ c.comentario.leitor.nick ? c.comentario.leitor.nick : c.comentario.leitor.nome }} </div>
                    
                    <div class="time"> {{c.comentario.minutos <= 1 ? "Segundos atrás" : getHoras(c.comentario.minutos) >= 2 ? getHoras(c.comentario.minutos) + " Horas" : c.comentario.minutos >= 60 ? getHoras(c.comentario.minutos) + " Hora" : "Há "+ c.comentario.minutos + " minutos" }} </div>

                    {{c.comentario.comentario}}

                    <div class="reaction">

                        <img src="../../../assets/img/like2.png" class="img2">
                        <div class="number">2</div>

                        <img src="../../../assets/img/dislike3.png" class="img2 img3">
                        <div class="number">5</div>

                    </div>

                </div>

            </div>
        </div>



    </div>

    

  </div>

  <div class="top-view">

    <p>
      <font style="color:#f97000">+</font> Lidas </p>

    <div class="info">

      <img src="" class="img">

      <div class="label"></div>

    </div>
  </div>

  <div class="top-view">
      
          <p> Propagandas </p>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda6.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda5.png" class="img">
      
          </div>
      
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda7.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda8.png" class="img">
      
          </div>
      
          <div class="info">
      
            <img src="../../../assets/img/propaganda9.png" class="img">
      
          </div>
      
        </div>
</div>



